
  
    
<div class="picnavbar"><a href="../glossy/index.html">previous</a> &nbsp;<a href="../musicvideos/index.html">next</a>&nbsp; 
  <a href="../index.html">table of contents</a> 
  <hr>
    </div>

    
<h1><img src="../../../images/title.png" alt="Foolish Games" width="374" height="40"></h1>
<h1><strong>Late Night TV</strong></h1>

<p><font size="2" face="arial">Various Pictures from Jewel appearances on the
    Late Show. </font></p>

<table border="1" bgcolor="#000000" width="400" >
  <tbody>
    <tr>
      <td><a href="0022.jpg"><img border="0" src="0022_small.jpg" alt="0022.jpg (8500 bytes)" width="100" height="75"></a></td>
      <td><a href="0023.jpg"><img border="0" src="0023_small.jpg" alt="0023.jpg (7578 bytes)" width="100" height="75"></a></td>
      <td><a href="0024.jpg"><img border="0" src="0024_small.jpg" alt="0024.jpg (7616 bytes)" width="100" height="75"></a></td>
      <td><a href="0026.jpg"><img border="0" src="0026_small.jpg" alt="0026.jpg (9103 bytes)" width="100" height="75"></a></td>
    </tr>
    <tr>
      <td><a href="0025.jpg"><img border="0" src="0025_small.jpg" alt="0025.jpg (9573 bytes)" width="100" height="75"></a></td>
      <td><a href="jewel_dave1.jpg"><img border="0" src="jewel_dave1_small.jpg" alt="jewel_dave1.jpg (30666 bytes)" width="100" height="75"></a></td>
      <td><a href="jewel_dave5.jpg"><img border="0" src="jewel_dave5_small.jpg" alt="jewel_dave5.jpg (36158 bytes)" width="100" height="75"></a></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>

    <p align="left"><font size="2" face="arial">Even More Pictures....</font></p>

<table border="1" bgcolor="#000000" width="400">
  <tbody>
    <tr>
      <td><a href="jewel1x.jpg"><img border="0" src="jewel1x_small.jpg" alt="jewel1x.jpg (25566 bytes)" width="100" height="78"></a></td>
      <td><a href="jewel2x.jpg"><img border="0" src="jewel2x_small.jpg" alt="jewel2x.jpg (24330 bytes)" width="100" height="78"></a></td>
      <td><a href="jewel3x.jpg"><img border="0" src="jewel3x_small.jpg" alt="jewel3x.jpg (22601 bytes)" width="100" height="78"></a></td>
      <td><a href="jewel5x.jpg"><img border="0" src="jewel5x_small.jpg" alt="jewel5x.jpg (23210 bytes)" width="100" height="78"></a></td>
    </tr>
    <tr>
      <td><a href="jewel4x.jpg"><img border="0" src="jewel4x_small.jpg" alt="jewel4x.jpg (31808 bytes)" width="100" height="128"></a></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<hr>


    <p class="copy">
Pictures from The Late Show , Copyright David
    Letterman and CBS</p>
