<h3>Amsterdam, NL - February 28, 2002</h3>

<p>Jewel performed in the Carre.</p>

<strong>setlist</strong>
<pre>
I Won't Walk Away
Standing Still
Do You Want To Play
Hands
Till We Run Out Of Road
Break Me 

A Boy Needs A Bike
You Were Meant For Me
Little Sister
Cold Song
Morning Song
Everything Breaks 

Life Uncommon
Love Me Just Leave Me Alone
Everybody Needs Someone Sometime
New Wild West
Who Will Save Your Soul 

Foolish Games
You Were Meant For Me Per La Gloria D'adorarvi
Chime Bells 
</pre>

<ul class="thumbnails">

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/amsterdam/1.jpg"><img
                src="../../../images/pics/amsterdam/1.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/amsterdam/3.jpg"><img
                src="../../../images/pics/amsterdam/3.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/amsterdam/4.jpg"><img
                src="../../../images/pics/amsterdam/4.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/amsterdam/5.jpg"><img
                src="../../../images/pics/amsterdam/5.jpg" alt=""></a>
    </li>
</ul>