<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" media="screen" href="poy.css">
<TITLE>Foolish Games - Jewel - Poetry - Pieces Of You - Faith (a poem about faith)</TITLE>
</head>

<body lang="en">

<h1>Pieces of You</h1>

<H2>FAITH POEM (a poem about faith)</H2>
<pre>I don't know how to do anything
I am trying to move mountains with words
But I am an ant
I scribble
I drool
I move like a worm
whose world
(words)
encompassed a mile
How do I rise above?
Where will this worm
find wings?
I look in the mirror
and I see filth
Who is that?
Where did The Angel go?
Why is there dirt
staring back at me?
Why is the soil of
incompetence beneath my nails?
Why does doubt paint
blue rings
beneath my eyes and
stain my skin?
Why does my spine assume failure
Why do my lips
flirt with the sky;
why do I try to lasso
Beauty with such a
pitiful rope?
Where is the hair of Rapunzel
or Samson?
Where is my sling
Where is my stone,
My gun?
Where is the weapon with which
I may fight this apathy
that feels like sleep
in my limbs
that loosens my brother's smile
that kills my neighbor's daughter
This pen is scrawny and hardly
seems able to ink out
or erase this plague that
infests my
Generation
This Giant, This Ogre
This beast, This Death
that assumes a million faces,
that borrows my own.</pre>
<hr>
<p>
Poetry from Pieces of You
<BR>Copyright Jewel Kilcher and Atlantic Recording Group
<BR>Page Copyright 1998 Foolish Games
</p>
</BODY>
</HTML>
