<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" media="screen" href="poy.css">
<TITLE>Foolish Games - Jewel - Poetry - Pieces Of You - Las Vegas and Leaving Las Vegas</TITLE>
</head>

<body lang="en">

<h1>Pieces of You</h1>

<H2>Las Vegas and Leaving Las Vegas</H2>

<pre>Women who suck
their cigarettes
as though they were
giving their
hatred head</pre>
<HR ALIGN=LEFT WIDTH="150">

<pre>Bill, Butch, and Bart
Swapping penis size
in the front seat
while Thelma, Theisel and
Lou Lou up there
bouffant hairdos
and secretely go
where Blue eyeshadow
has never gone before</pre>
<hr>
<p>
Poetry from Pieces Of You
<BR>Copyright
Jewel Kilcher and Atlantic Recording Group
<BR>Page
Copyright 1998 Foolish Games
</p>
</BODY>
</HTML>
