<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" media="screen" href="poy.css">
<TITLE>Foolish Games - Jewel - Poetry - Pieces Of You - Me</TITLE>
</head>

<body lang="en">

<h1>Pieces of You</h1>

<H2>ME</H2>
<pre>I

I have blonde hair
I pluck my eyebrows
I have my father's nose,
my mother's hands
I have crooked teeth
and green eyes
I play guitar
I used to get sick alot
I like the color of wine
I've cheated on boyfriends
I've owned fake ID
But my hair is still blonde
and my teeth are still crooked
and I probably won't always like
the color of wine</pre>
<pre>II

I have firm breasts
I have lips that always smile
I have veins that bleed
I laugh when I'm nervous
I feel the pain of others
but cry for no reason
I like open flame
I've been selfish since a child
I'm from Alaska
but hate the cold
I've cheated on diets
I've faked applications
But I still bleed
and my lips still smile
and my breasts won't
always be firm</pre>
<pre>III

I have strong shoulders
I have olive skin
I have a Swiss face I
borrowed from my grandmother
I have long nails on my right hand
which break regularly
My little toe is strange
I write
I used to make wreaths from dandelions
I brush my hair before bed
I cheated on tests
I faked flirtatious fake accents
But I still have gold skin
and my nails still break
and I probably won't always have
strong shoulders
and I may not always write
But maybe I'll start
making wreaths
from dandelions again</pre>
<hr>
<p>
Poetry from Pieces Of You,
<BR>Copyright Jewel Kilcher
and Atlantic Recording Group,
<BR>Copyright 1998 Foolish
Games
</p>
</BODY>
</HTML>
