<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" media="screen" href="poy.css">
<TITLE>Foolish Games - Jewel - Poetry - Pieces Of You - Three Other Poems</TITLE>
</head>

<body lang="en">

<h1>Pieces of You</h1>

<H2>Three Other Poems On The POY Cover</H2>
<pre>I saw a woman
whose teeth were
straight like
White picket fences
Until she looked
at her husband-
Then they looked like
Shattered windows</pre>
<HR ALIGN=LEFT WIDTH="150">
<pre>There is a pretty girl
on the
Face
of the magazine
And
all I see
is my dirty
hands
turning the page</pre>

<HR ALIGN=LEFT WIDTH="150">
<pre>Little breasts attached to
skinny ribs and hungry bellies
determined legs;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; persuasive swing
careful hands
she stands
a greater threat to herself
than the cigarette
she consumes</pre>
<hr>
<p>
Poetry from Pieces of You
<BR>Copyright Jewel Kilcher
and Atlantic Recording Group
<BR>Page Copyright 1998 Foolish
Games
</p>
</BODY>
</HTML>
