
<h2>My VH1 Music Awards 2001 - December 2, 2001</h2>

<p>Jewel performing Standing Still</p>

  <table>
    <tr> 
      <td> <a href="1202vh1awards01-tb.html"> 
        <center>
          <img src="1202vh1awards01-tb.JPG" width=83 height=125 alt="Loading..."><br>
        </center>
        <center>
          (38K)
        </center>
        <center>
          307 x 460
        </center>
        </a> </td>
      <td width=217 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1202vh1awards02-tb.html"> 
        <center>
          <img src="1202vh1awards02-tb.JPG" width=83 height=125 alt="Loading..."><br>
        </center>
        <center>
          (40K)
        </center>
        <center>
          307 x 460
        </center>
        </a> </td>
      <td width=217 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1202vh1awards03-tb.html"> 
        <center>
          <img src="1202vh1awards03-tb.JPG" width=85 height=125 alt="Loading..."><br>
        </center>
        <center>
          (44K)
        </center>
        <center>
          342 x 500
        </center>
        </a> </td>
      <td width=215 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1202vh1awards04-tb.html"> 
        <center>
          <img src="1202vh1awards04-tb.JPG" width=73 height=125 alt="Loading..."><br>
        </center>
        <center>
          (16K)
        </center>
        <center>
          266 x 450
        </center>
        </a> </td>
      <td width=227 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1202vh1awards05-tb.html"> 
        <center>
          <img src="1202vh1awards05-tb.JPG" width=64 height=125 alt="Loading..."><br>
        </center>
        <center>
          (22K)
        </center>
        <center>
          206 x 400
        </center>
        </a> </td>
      <td width=236 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1202vh1awards06-tb.html"> 
        <center>
          <img src="1202vh1awards06-tb.JPG" width=78 height=125 alt="Loading..."><br>
        </center>
        <center>
          (25K)
        </center>
        <center>
          282 x 450
        </center>
        </a> </td>
      <td width=222 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1202vh1awards07-tb.html"> 
        <center>
          <img src="1202vh1awards07-tb.JPG" width=68 height=125 alt="Loading..."><br>
        </center>
        <center>
          (30K)
        </center>
        <center>
          186 x 340
        </center>
        </a> </td>
      <td width=232 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
  </table>
