<div class="picnavbar"><a href="/biography/01">previous</a> &nbsp;<a href="/biography/03">next</a>
  <hr>
</div>
<h1><img src="../../images/biography/jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>Chapter 2: High School</h2>
<h3>Interlochen</h3>
<p>  Jewel attended <a href="http://www.interlochen.org/">Interlochen Arts Academy</a> during her junior and senior years
    of high school. The academy is located in Interlochen, Michigan. She won
    a vocal scholarship that covered about 70 percent of the expenses. She raised
    the remaining funds for the first year by doing a show that her mother Lenedra
    had organized. The people of Homer came to support Jewel. It was Jewel's
    first solo concert. She also sold her horse Clearwater for tuition money.
    Jewel paid for tuition the second year with earnings from summer jobs. Jewel
    thought she was going to study the blues. As it turned out, opera was the
music of choice at the academy.</p>
<p>  Jewel studied opera, dance, sculpture, and drama. During much of her high
    school career, she called herself Juel, and did not believe in painting her
    nails
  or lips. At some point senior year, she started playing the guitar and writing
her own songs.</p>
<h3>Theater</h3>
<p>  <a href="../pics/high_school/index.html"><img src="../../images/biography/JEWEL_HS_3.JPG" alt="Jewel in High School" border="0" height="99" width="70" align="right" /></a>Jewel grew an interest in the theater at Interlochen. She wished to try out
  for
a play, &quot;Spoon River Anthology&quot; in which she later got the lead. Music
majors were not allowed to do plays before this time. As the lead, she played
a dead woman who talks from the grave.</p>
<p>&nbsp;</p>

<p>Continue on to Chapter 3: <a href="03.htm">The Turning Point</a></p>
