<div class="picnavbar"><a href="#!/biography/02">previous</a> &nbsp;<a href="#!/biography/04">next</a>
  <hr>
</div>
<h1><img src="../../images/biography/jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>Chapter 3: The Turning Point</h2>
<h3>  The Van</h3>
<p>  <a href="../../images/biography/jewel_ap.jpg"><img src="../../images/biography/jewel_ap_small.jpg" alt="Jewel, An Alaskan Pose" border="0" height="70" width="100" align="left" /></a>Briefly, she worked as a waitress back in Homer. Realizing this was not for
  her, she moved to San Diego, CA. Living off carrots and peanut butter in her
  VW van, she began to tour with her mother up along the Californian Coast. She
  sung for pocket change. Finally, a break came and she began performing at the
  Innerchange Coffee House. Jewel made many friends, and later was discovered
  there. Jewel wanted to clean up a bit that day, and went to Denny's to use
  the sink. Two old ladies came in and were heard saying &quot;She seemed to
  be a pretty enough girl, what's wrong with her.&quot; Jewel dedicated a song
to them during <a href="http://www.lilithfair.com/">Lilith Fair</a> (1997).</p>
<h3>  Jewel Cancels on Alaska</h3>
<p>  What cinched this singer&#8217;s career was her big break created after bowing
  out of Alaska's State Fair to tour as the opening act with Neil Young. Many
  fans in Homer were disappointed by her cancellation; however, Her award for &quot;Best
  New Artist&quot; brought faith back in this Alaskan singer from Homer. The
  mayor personally sent a message to Jewel congratulating her on behalf of the
whole town.</p>
<h3>Pieces of You is Recorded</h3>
<p>  <a href="../../images/biography/artist.gif"><img src="../../images/biography/artist_small.gif" alt="Artist" border="0" height="140" width="100" align="right" /></a>The tracks included on &quot;Pieces of You&quot; were recorded at the Innerchange,
  and at Neil Young's Broken Arrow Ranch in Woodside, Ca. The Stray Gators, a
  backup band from Young's &quot;Harvest&quot; and &quot;Harvest Moon&quot; albums
  helped on several tracks. The album was released on Tuesday, February 28, 1995.
  Jewel's first hit &quot;Who Will Save Your Soul&quot; brought her the attention
of the music world for which she earns every praise.</p>
<h3>Awards</h3>
<p>  Jewel won The American Music Awards &quot;Favorite Artist&quot; category. She
  was also up for &quot;Best New Artist&quot; and &quot;Best Female Pop Vocal
  Performance&quot; at the Grammies on Feb. 26, 1997. Jewel lost at the 1996
MTV Music Awards to Alanis Morrisette for &#8220;Ironic.&#8221;</p>
<p>Continue on to Chapter 4: <a href="#!/biography/04">Transition</a></p>