
<div class="picnavbar"><a href="05.htm">previous</a> &nbsp;<a href="07.htm">next</a>&nbsp; 
  <a href="index.html">table of contents</a> 
  <hr>
</div>
<h1><img src="jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>Spirit</h2>
   <p>Many fans could not wait for her second album originally titled "Fritz Creek 
  Store." Those recording sessions were never released. Instead, &quot;Spirit&quot; 
  was released November 17th, 1998. Several previous release dates started as 
  early as 1996, but between the success of You Were Meant For Me and Foolish 
  Games singles they were altered.&nbsp; Jewel's first movie role,"Ride With The 
  Devil" had a lot to do with the postponement as well.</p>
    
<p>Continue on to part 7: <a href="07.htm">Ride With The Devil</a></p>