
<div class="picnavbar"><a href="#/biography/07">previous</a> &nbsp;<a href="#/biography/09">next</a>
  <hr>
</div>
<h1><img src="../../images/biography/jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>The Cowboy </h2>

   
<p> Jewel is currently dating a cowboy named Ty Murray. She asked a friend of 
  a friend to introduce her to Murray. He got her tickets to the 1999 National 
  Western Stock Show & Rodeo in Denver. She called to thank him, and they've been 
  a couple since. He has stated previously that there are no plans for marriage 
  between Jewel and him.</p>
<p>Murray's comments on Jewel:</p>
<p> "I think she's extremely talented," said Murray. "She has the very best voice 
  you could ever hear. That's an opinion. But music is an opinion anyway."</p>
<p>(July 30, 2001) Jewel, and Ty have recently written a song together. The title 
    will appear on a Professional Bull Riding Association CD on the Sony Records 
    label.</p>
<p>(August 5, 2001) Ty appeared at the Private Nashville Concert Jewel held for 
    close fans. </p>

    
<p>Continue on to part 9: <a href="#/biography/09">Chasing Down The Dawn</a></p>