
<div class="picnavbar"><a href="08.htm">previous</a> &nbsp;<a href="10.htm">next</a>&nbsp; 
  <a href="index.html">table of contents</a> 
  <hr>
</div>
<h1><img src="jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>Chasing Down The Dawn</h2>

<p>Jewel's second book which turned out to be more of a biography than anything 
  else. It has sold fairly well, but not as well as A Night Without Armor.</p>
    
<p>Continue on to part 10: <a href="10.htm">Contact Jewel</a></p>
