
<div class="picnavbar"><a href="#/biography/09">previous</a>
  <hr>
</div>
<h1><img src="../../images/biography/jewel_abio.gif" width="180" height="58" alt="Jewel, A Biography" /></h1>
<h2>Contact Jewel</h2>
<p><em>Jewel's E-mail Address</em> was <a href="mailto:jeweljk@aol.com">jeweljk@aol.com</a> 
  prior to the release of Spirit. Now you must visit the <a href="http://www.jeweljk.com/low/email.html" target="_blank">Official 
  Jewel Website to e-mail her</a>.</p> 
  
    <p><em>Jewel's Postal Address is:</em>  
      <br />Jewel Kilcher  
      <br />P.O. Box 33494  
      <br />San Diego CA, USA 92163-3494  
    </p>  

<p>Return to the <a href="#/biography">Table of Contents</a></p>
