<div class="row">
  <p>Jewel</p>
  <p>Singer, songwriter, and storyteller&#133;<br />
  </p>
  <p>Author, actress, and activist&#133;<br />
  </p>
  <p>With worldwide sales of over 20 million records, Atlantic recording artist 
    Jewel is unquestionably one of today&#146;s most beloved and respected performers. 
    Her forthcoming second HarperCollins book, Chasing Down The Dawn, sees the 
    exceptionally gifted talent crafting a collection of short stories and opening 
    her intimate journals to reveal a vivid montage of the people, places, and 
    passages that have defined and enriched her. A striking chronicle of an artist&#146;s 
    turbulent life on the road &#150; as written primarily during the 1999 &#147;SPIRIT&#148; 
    World Tour &#150; Chasing Down The Dawn offers photos taken by Jewel, images 
    from Jewel&#146;s childhood in Alaska, her beginnings as a struggling musician, 
    and the challenges faced as a daughter, sister, and woman. Within its pages, 
    Jewel has painted an extraordinary and honest portrait of the journey that 
    brought her to the world stage.<br />
    * * * * *<br />
    From her childhood in the wilds of Alaska, to her early days as a songwriter 
    trying to make ends meet on the San Diego folk scene, it has indeed proven 
    to be a life uncommon for Jewel. That truth has been even more dramatically 
    borne out during the past five years, as she has risen to the top of the Billboard 
    charts and gone on to international renown as a uniquely multi-dimensional 
    artist. <br />
    She first stepped into the national spotlight at the age of 20 with the 1995 
    release of her Atlantic Records debut, &#147;PIECES OF YOU.&#148; Fuelled 
    by the hit singles &#147;Who Will Save Your Soul&#148; and the RIAA-platinum 
    &#147;You Were Meant For Me/Foolish Games,&#148; &#147;PIECES OF YOU&#148; 
    eventually climbed its way to the top 5 on the Billboard 200 on its way to 
    a RIAA Diamond Award certification (for over 10 million records sold). Currently 
    certified 11-times-platinum by the RIAA, the Ben Keith-produced album spent 
    a stunning 114 weeks on the Billboard 200, and is now firmly ensconced on 
    Billboard&#146;s &#147;Top Pop Catalog Albums&#148; chart.<br />
    Jewel spent the many months following her debut&#146;s release on the road, 
    doing what she does best: playing her songs to the people. She worked seemingly 
    non-stop for some two years, playing multiple-night club residencies, support 
    stints with artists like Neil Young and Bob Dylan, and a well-received set 
    at Farm Aid &#145;96. She even found time to star as Dorothy, alongside Roger 
    Daltrey and Jackson Browne, in 1995&#146;s The Wizard Of Oz In Concert extravaganza.<br />
    - more -<br />
    - 2 -<br />
    In the summer of 1997, in the midst of establishing herself as a major new 
    headlining performer, Jewel signed on with Sarah McLachlan&#146;s celebrated 
    Lilith Fair festival tour. While receiving both audience and critical raves 
    throughout the cross-country trek, that summer also found Jewel featured on 
    the cover of Time magazine &#150; a distinction historically accorded few 
    musicians. Along the way, she has also been featured on the covers of Rolling 
    Stone &#150; twice &#150; Vogue, People, Reader&#146;s Digest, Glamour, Details, 
    Seventeen, and Interview.<br />
    Jewel&#146;s debut poetry collection, A Night Without Armor, was released 
    in May 1998, and quickly became a mainstay of The New York Times&#146; best-seller 
    list, with 29 printings and a remarkable million-plus copies sold. In addition, 
    the unprecedented success of the audiobook release of her poetry collection 
    saw Jewel receiving the 1999 Audie Award from the Audio Publishers Association. 
    (Along with the hardcover release of Chasing Down The Dawn, HarperCollins 
    will also issue two-and-a-half hours of unabridged selections from the book&#150; 
    read by Jewel &#150; as a double-CD set and cassette.)<br />
    Released in November, 1998, Jewel&#146;s highly-anticipated second album, 
    &#147;SPIRIT,&#148; debuted in the #3 spot on the Billboard 200 and was certified 
    platinum out of the box, followed by a RIAA double-platinum certification 
    just two weeks later. The Patrick Leonard-produced album &#150; currently 
    certified quadruple-platinum &#150; features the singles &#147;Down So Long,&#148; 
    &#147;Jupiter (Swallow the Moon),&#148; and &#147;Hands,&#148; a top 10 Billboard 
    &#147;Hot 100&#148; hit.<br />
    &#147;SPIRIT&#148; received a bounty of glowing reviews upon its release. 
    Newsweek&#146;s Veronica Chambers hailed the album as &#147;wonderful,&#148; 
    calling it a &#147;collection of sweet, soulful songs that build on each other, 
    asking questions and answering them.&#148; Time professed &#147;SPIRIT&#148; 
    to be &#147;a terrific CD,&#148; noting that Jewel&#146;s &#147;vocals are 
    richer, and her songwriting is sharper,&#148; while USA Today&#146;s Edna 
    Gunderson cited the record&#146;s &#147;charming earnestness,&#148; declaring 
    it &#147;a refinement of the rough and tumble debut that vaulted her to fame.&#148; 
    <br />
    On top of any number of tours covering North America, Jewel has also performed 
    to sell-out crowds all over the world, including concerts in Asia, Australia, 
    and Europe, where she was acclaimed &#150; by the influential Times of London 
    &#150; as &#147;the most sparkling female singer-songwriter since Joni Mitchell.&#148; 
    In January, 1998, she was welcomed home to San Diego to sing &#147;The Star-Spangled 
    Banner&#148; prior to the opening kick-off of Super Bowl XXXII. In December 
    of that same year, Jewel played for Pope John Paul II as part of the 6th Annual 
    Natale in Vaticano <br />
    - more -<br />
    - 3 -concert in Vatican City. The concert &#150; which included a performance 
    of &#147;Hands&#148; accompanied by a 100-piece orchestra and a 40-member 
    choir &#150; was televised throughout Europe on Christmas Eve. Back home, 
    she also sang in New York City at the annual Christmas In Rockefeller Center 
    broadcast, which was viewed by more than 10 million people around the world.<br />
    Since the initial stages of her career, Jewel has also been active in her 
    involvement with charitable endeavors. In January 1999, Jewel, with her mother 
    Lenedra Carroll, launched Higher Ground for Humanity, a non-profit foundation 
    dedicated to promoting global community and individual action to inspire positive 
    change. HGH endorses organizations that advance humanitarian principles and 
    operate on the basis of higher values. The foundation pursues its mission 
    through education, research, innovative partnering, and program development 
    in the areas of youth, the arts, the environment, alternative health care, 
    spiritual growth, and global community building. <br />
    To celebrate the establishment of Higher Ground for Humanity, Jewel &#150; 
    in association with Vogue magazine &#150; performed a series of concerts in 
    January 1999 to raise awareness of the foundation, including a performance 
    in Aspen, Colorado which was later broadcast by VH1. In March, HGH co-sponsored 
    a youth forum in conjunction with the Global Bridge Foundation &#150; dubbed 
    the &#147;Being The Difference That Makes The Difference&#148; Conference 
    &#150; on the campus of UCLA. More youth participated than was anticipated 
    and the workshop offered support to Los Angeles&#146; teenage leaders in the 
    creation of after-school programs, in addition to laying the groundwork for 
    teens to improve personal relationships and better take care of themselves 
    and their peers. <br />
    Since the release of &#147;PIECES OF YOU,&#148; Jewel has been the recipient 
    of a great many honors, including &#150; among other accolades &#150; the 
    1997 American Music Award for &#147;Best New Artist,&#148; the 1997 MTV Video 
    Music Award for &#147;Best Female Video,&#148; and three Grammy Award nominations. 
    In June 1999, she was presented with the prestigious Governor&#146;s Award 
    from the Los Angeles chapter of the National Academy of Recording Arts and 
    Sciences (NARAS). The award acknowledges Academy members &#147;whose creative 
    talents and accomplishments have crossed all musical boundaries and have been 
    recognized as an asset to our music community.&#148;<br />
    She also received a number of other tributes that year, including the 1999 
    &#147;Founder&#146;s Choice Award&#148; from the non-profit Time For Peace 
    organization, as <br />
    - more -<br />
    - 4 -<br />
    well as being named one of Glamour magazine&#146;s 10th Anniversary &#147;Women 
    Of The Year&#148; for her dedication to humanitarian goals. Specifically noted 
    was Higher Ground for Humanity&#146;s Clearwater Project, which is devoted 
    to providing safe, clean drinking water to impoverished areas of the world. 
    The Clearwater Project will be the primary focus for HGH for the rest of 2000 
    and all of 2001. The group&#146;s scientists and collaborators are currently 
    traveling to Honduras, Tanzania, India, and Bangladesh to lay the groundwork 
    for a number of exciting, new endeavors.<br />
    While much of Summer 1999 was spent traveling the globe with her &#147;SPIRIT&#148; 
    World Tour, Sunday, July 25th found Jewel performing before the largest live 
    audience of her career &#150; not to mention millions of TV viewers around 
    the world &#150; as she and her band rocked Woodstock &#146;99. Despite a 
    sudden downpour in the middle of &#147;Foolish Games,&#148; the set was widely 
    considered a highpoint of the three-day festival.<br />
    In October 1999, Jewel played as part of the massive NetAid concert at Giants 
    Stadium in East Rutherford, New Jersey. The global musical event was staged 
    as part of a long-term initiative to help eradicate extreme poverty. An exclusive 
    live recording of &#147;Life Uncommon&#148; was released as a single in conjunction 
    with NetAid, with proceeds benefiting the Clearwater Project. December saw 
    Jewel performing for President and Mrs. Clinton as part of the annual Christmas 
    In Washington charity concert assisting the Children&#146;s National Health 
    Center. <br />
    Along with her many music and charity-related activities, Fall 1999 found 
    Jewel making an acclaimed acting debut in Ang Lee&#146;s much-admired Civil 
    War drama, Ride With The Devil. &#147;Jewel conveys an orneriness and tough 
    humor beneath a facade of 19th-century decorum,&#148; declared the New York 
    Times&#146; Stephen Holden, while Roger Ebert &#150; writing in the Chicago 
    Sun Times &#150; noted that &#147;Jewel deserves praise for, quite simply, 
    performing her character in a convincing and unmannered way. She is an actress 
    here, not a pop star trying out a new hobby.&#148;<br />
    Atlantic&#146;s &#147;RIDE WITH THE DEVIL: ORIGINAL MOTION PICTURE SOUNDTRACK&#148; 
    featured a remixed version of &#147;What&#146;s Simple Is True&#148; (originally 
    found on &#147;SPIRIT&#148;), along with composer Mychael Danna&#146;s film 
    score.<br />
    Even with her incredibly busy schedule, Jewel still managed to make time to 
    serve as a special guest on country legend &#150; and longtime Jewel hero 
    &#150; Merle <br />
    - more -<br />
    - 5 -Haggard&#146;s 1999 &#147;FOR THE RECORD.&#148; The album includes two 
    duets between Jewel and Haggard: &#147;That&#146;s The Way Love Goes&#148; 
    and &#147;Silver Wings.&#148; The two also teamed up to perform at the 33rd 
    Annual Country Music Association Awards (broadcast live on CBS from the Grand 
    Ole Opry in Nashville), as well as on Haggard&#146;s live Pay-Per-View concert, 
    Merle Haggard: For The Record. <br />
    1999 also saw the Atlantic release of Jewel&#146;s autobiographical documentary, 
    titled Jewel: A Life Uncommon. The full-length home video includes archival 
    footage of the artist&#146;s life &#150; both on and off the road &#150; as 
    well as revealing interviews with some of her closest friends and family. 
    In addition, the video features four exclusive live performances from Jewel&#146;s 
    concert benefiting Higher Ground for Humanity, held in April, 1999 at Los 
    Angeles&#146; Henry Fonda Theater.<br />
    Jewel wrapped up her amazing 1999 with the release of &#147;JOY: A HOLIDAY 
    COLLECTION,&#148; which includes performances of a number of seasonal favorites 
    and new originals, including a unique Christmas-themed version of &#147;Hands.&#148; 
    Two songs featured on the platinum-certified &#147;JOY&#148; reveal the increasing 
    depth and diversity of the artist&#146;s talent and vision: the dynamic expression 
    of faith, &#147;Face of Love,&#148; as well as the stirring &#147;Gloria,&#148; 
    a distinctive musical statement inspired by J.S. Bach&#146;s B Minor Mass, 
    as combined with Latin liturgy. <br />
    To coincide with the release of &#147;JOY,&#148; Jewel filmed a special holiday 
    installment of PBS&#146; acclaimed Sessions At West 54th, a performance which 
    paired her with a full orchestra and choir conducted by the legendary producer/arranger 
    Arif Mardin (who also helmed the &#147;JOY&#148; recording sessions). <br />
    Throughout her professional career, Jewel has repeatedly appeared on many 
    high-profile television programs, including Saturday Night Live, The Rosie 
    O&#146;Donnell Show, The Tonight Show with Jay Leno, Late Show with David 
    Letterman, Late Night with Conan O&#146;Brien, Today, Good Morning America, 
    CBS This Morning, Live! Regis &amp; Kathie Lee, Charlie Rose, The View, VH1 
    Storytellers, and MTV&#146;s Total Request Live and MTV Live.<br />
    In February 2000, Jewel taped an installment of PBS&#146; venerable Austin 
    City Limits. The show &#150; a rare full hour devoted to a single artist &#150; 
    saw Jewel performing solo acoustic as well as accompanied by her touring band. 
    Among the hour&#146;s highlights was a duet between Jewel and her old friend, 
    singer/songwriter Steve Poltz, as well as the first-ever public performances 
    of three brand-new songs: &#147;Break Me,&#148; &#147;Stephenville,&#148; 
    and &#147;Rosy and Mick.&#148;<br />
    - more -<br />
    - 6 -In addition to her many artistic activities, Jewel has long been active 
    in utilizing new media technology, via her official www.jeweljk.com site. 
    The web page offers frequently updated news, exclusive merchandise, and most 
    importantly, links to a number of humanitarian sites supported by Jewel and 
    HGH, including the Clearwater Project (which can also be accessed at www.clearwaterproject.com). 
    <br />
    In August of 2000, Jewel performed songs at the Nashville rally where Vice 
    President Al Gore announced his running mate, Senator Joseph Lieberman. She 
    has since become actively involved in the Gore/Lieberman 2000 presidential 
    campaign, serving as an eloquent spokesperson with a matchless ability to 
    connect with America&#146;s young people. <br />
    As in most everything she applies her energy and effort to, this latest endeavor 
    underscores the extent to which Jewel leads with her heart. Whether on stage, 
    on film, or in print, it has been her ever-present guide, serving to define 
    her artistic voice and open wide the window to a place of unadorned honesty. 
    For Jewel, living the uncommon life has simply been a matter of being herself.<br />
    September, 2000</p>
  <p></p>
  <p></p>
  <p><br />
    a<br />
    Atlantic Recording Corporation<br />
    1290 Avenue of the Americas New York, NY 10104 <br />
    212/707.2020 Fax: 405.5475<br />
    9229 Sunset Blvd. Los Angeles, CA 90069 <br />
    310/205.7450 Fax: 205.5916<br />
    http://www.atlantic-records.com</p>
</div> 
