
<h2>2001 AMA Nominations - November 13, 2001</h2>

<p> Jewel presented the nominees 
  for the 2001 American Music Awards with Sean "Puffy/PDiddy/Puff Daddy" Combs. 
  <table>
    <tr> 
      <td> <a href="amanoms01-tb.html"> 
        <center>
          <img src="amanoms01-tb.JPG" width=125 height=125 alt="Loading..."><br>
        </center>
        <center>
          (16K)
        </center>
        <center>
          180 x 180
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="amanoms02-tb.html"> 
        <center>
          <img src="amanoms02-tb.JPG" width=104 height=125 alt="Loading..."><br>
        </center>
        <center>
          (19K)
        </center>
        <center>
          377 x 450
        </center>
        </a> </td>
      <td width=196 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="amanoms03-tb.html"> 
        <center>
          <img src="amanoms03-tb.JPG" width=125 height=91 alt="Loading..."><br>
        </center>
        <center>
          (16K)
        </center>
        <center>
          450 x 331
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="amanoms04-tb.html"> 
        <center>
          <img src="amanoms04-tb.JPG" width=125 height=121 alt="Loading..."><br>
        </center>
        <center>
          (19K)
        </center>
        <center>
          450 x 439
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="amanoms05-tb.html"> 
        <center>
          <img src="amanoms05-tb.JPG" width=125 height=88 alt="Loading..."><br>
        </center>
        <center>
          (15K)
        </center>
        <center>
          450 x 317
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
  </table>

