@import "base.css";

body {
	color: black;
	background: white url("/lholt3/images/splash10bg.gif") repeat-y right;
	line-height: 2;
	/*margin: 1in; */
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

p.indent {
	text-indent: .3in;
}

#classmenu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.menutitle{
cursor:pointer;
margin-bottom: 5px;
background-color:#ECECFF;
color:#000000;
width:140px;
padding:2px;
text-align:center;
font-weight:bold;
/*/*/border:1px solid #000000;/* */
}

.submenu{
margin-bottom: 0.5em;
}