
    
<div class="picnavbar"><a href="../musicvideos/index.html">previous</a> &nbsp;<a href="../misc/index.html">next</a>&nbsp; 
  <a href="../index.html">table of contents</a> 
  <hr>
    </div>

<h1><img src="../../../images/title.png" alt="Foolish Games" width="374" height="40"></h1>
<h2>1996 American Music Awards</h2>
<p>Click on an image to see a larger version.</p>
<table>
	<tr>
		<td>
			<a href="jewel_ama.jpg">
			<center>
				<img src="jewel_ama-tb.JPG" width=83 height=125 alt="Loading..."><br>
			</center>
			<center>(9K)</center>
			<center>210 x 315</center>
			</a>
		</td>
		<td width=217 align=LEFT>

		</td>
		<td>
			<a href="jewel_ama2.jpg">
			<center>
				<img src="jewel_ama2-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(32K)</center>
			<center>370 x 508</center>
			</a>
		</td>
		<td width=209 align=LEFT>

		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_ama3.jpg">
			<center>
				<img src="jewel_ama3-tb.JPG" width=92 height=125 alt="Loading..."><br>
			</center>
			<center>(83K)</center>
			<center>300 x 406</center>
			</a>
		</td>
		<td width=208 align=LEFT>

		</td>
		<td>
			<a href="jewel_ama4.jpg">
			<center>
				<img src="jewel_ama4-tb.JPG" width=93 height=125 alt="Loading..."><br>
			</center>
			<center>(75K)</center>
			<center>480 x 641</center>
			</a>
		</td>
		<td width=207 align=LEFT>

		</td>
	</tr>
</table>
