<h3>Frankfurt, Germany - May 14, 2002</h3>

<p>Jewel performed in the Alte Oper.</p>

<strong>setlist</strong>
<pre>
I Won't Walk Away
Standing Still
Do You Want To Play
Jesus Loves You
Hands
Till We Run Out Of Road
This Way
Cleveland 

Break Me
What's Simple Is True
You Were Meant For Me
Life Uncommon
Serve The Ego
Love Me Just Leave Me Alone 

Everybody Needs Someone Sometime
New Wild West
Who Will Save Your Soul 

Foolish Games
The Other Woman 
</pre>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/1.jpg"><img
                src="../../../images/pics/frankfurt/1.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/2.jpg"><img
                src="../../../images/pics/frankfurt/2.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/3.jpg"><img
                src="../../../images/pics/frankfurt/3.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/4.jpg"><img
                src="../../../images/pics/frankfurt/4.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/5.jpg"><img
                src="../../../images/pics/frankfurt/5.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/frankfurt/6.jpg"><img
                src="../../../images/pics/frankfurt/6.jpg" alt=""></a>
    </li>
</ul>