<div class="picnavbar"><a href="#!/pictures/lateshow/index">previous</a> &nbsp;<a href="#!/pictures/high_school/index">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h3>Music Video Pictures</h3>

<p>The first three pictures are from Foolish Games, the next two are from an
    &quot;unreleased&quot; version of YWMFM (a better one at that).&nbsp; After that
    there are pictures from YWMFM and WWSYS videos.</p>


<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/f3.jpg"><img
                src="../../../images/pics/musicvideos/f3_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/f2.jpg"><img
                src="../../../images/pics/musicvideos/f2_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/f4.jpg"><img
                src="../../../images/pics/musicvideos/f4_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/0009.jpg"><img
                src="../../../images/pics/musicvideos/0009_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/0008.jpg"><img
                src="../../../images/pics/musicvideos/0008_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/fpg2.jpg"><img
                src="../../../images/pics/musicvideos/fpg2_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/fpg3.jpg"><img
                src="../../../images/pics/musicvideos/fpg3_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/9.jpg"><img
                src="../../../images/pics/musicvideos/9_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/image.jpg"><img
                src="../../../images/pics/musicvideos/image_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jew_vid1.gif"><img
                src="../../../images/pics/musicvideos/jew_vid1_small.gif"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jew_vid3.gif"><img
                src="../../../images/pics/musicvideos/jew_vid3_small.gif"></a>
    </li>

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jewel_wwsys_video2.jpg"><img
                src="../../../images/pics/musicvideos/jewel_wwsys_video2_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jewel_wwsys_video1.jpg"><img
                src="../../../images/pics/musicvideos/jewel_wwsys_video1_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jewel_wwsys_video.jpg"><img
                src="../../../images/pics/musicvideos/jewel_wwsys_video_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/jewel021.jpg"><img
                src="../../../images/pics/musicvideos/jewel021_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/livemtv.jpg"><img
                src="../../../images/pics/musicvideos/livemtv_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/livemtv2.jpg"><img
                src="../../../images/pics/musicvideos/livemtv2_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/livemtv4.jpg"><img
                src="../../../images/pics/musicvideos/livemtv4_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/livemtv5.jpg"><img
                src="../../../images/pics/musicvideos/livemtv5_small.jpg"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/musicvideos/pcjk.jpg"><img
                src="../../../images/pics/musicvideos/pcjk_small.jpg"></a>
    </li>
</ul>
<p><q>Bees are buzzin' in their honey catacomb...All the noise seems to call my head a
    home....Can't escape the scratchin'...My blood makes a noise...It's hard not to play when
    there are so many toys...There're so many toys</q> - Jewel</p>