<h3>'Standing Still' video shoot - September 2001</h3>

<p>  Pictures from the set 
  of the 'Standing Still' music video.</p>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/thisway/standing_still_ps/ssshoot01.jpg"><img
                src="../../../images/pics/thisway/standing_still_ps/ssshoot01-tb.JPG"></a>
    </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/thisway/standing_still_ps/ssshoot02.jpg"><img
                    src="../../../images/pics/thisway/standing_still_ps/ssshoot02-tb.JPG"></a>
        </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/thisway/standing_still_ps/ssshoot03.jpg"><img
                    src="../../../images/pics/thisway/standing_still_ps/ssshoot03-tb.JPG"></a>
        </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/thisway/standing_still_ps/ssshoot04.jpg"><img
                    src="../../../images/pics/thisway/standing_still_ps/ssshoot04-tb.JPG"></a>
        </li>
</ul>