<h3>Mix 101 Promo Stop - October 2001</h3>
<p>Two photos from Jewel's
    promotional radio appearance at Chicago radio station Mix 101.9 FM.

<ul class="thumbnails">
    <li>
        <a href="../../../images/pics/mix101/wtmx01.jpg">
            <img src="../../../images/pics/mix101/wtmx01-tb.JPG" width=125 height=111 alt="Loading..."><br>
        </a>
    </li>
    <li>
        <a href="../../../images/pics/mix101/wtmx02.jpg">
            <img src="../../../images/pics/mix101/wtmx02-tb.JPG" width=125 height=93 alt="Loading..."></a>
    </li>
</ul>