<div class="picnavbar"><a href="#!/pictures/grammies">previous</a> &nbsp;<a href="#!/pictures/lateshow">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h3>Glamour Photos</h3>

<p>These photos are rather common Glamour photos
    arranged by Jewel's record company for promotional purposes.</p>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/jewel_lo.gif"><img
                data-ng-src="../../../images/pics/glossy/jewel_lo_small.gif" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/j_glam1.gif"><img
                data-ng-src="../../../images/pics/glossy/j_glam1_small.gif" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/jewel_ca.gif"><img
                data-ng-src="../../../images/pics/glossy/jewel_lo_small.gif" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/j_buzz.jpg"><img
                data-ng-src="../../../images/pics/glossy/j_buzz_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/j_gloss1.gif"><img
                src="../../../images/pics/glossy/j_gloss1_small.gif" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/jewel_on.jpg"><img
                src="../../../images/pics/glossy/jewel_on_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/jewel_poster.jpg"><img
                src="../../../images/pics/glossy/jewel_poster_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/glossy/jewel_gl.gif"><img
                data-ng-src="../../../images/pics/glossy/jewel_gl_small.gif" alt=""></a>
    </li>
</ul>