
<div class="picnavbar"><a href="#!/pictures/grammies">previous</a> &nbsp;<a href="#!/pictures/lateshow">next</a>&nbsp;
  <a href="#!/pictures">table of contents</a>
  <hr>
    </div>

<h2>Glamour Photos</h2>

<p><span style="font-size: small; ">These photos are rather common Glamour photos
arranged by Jewel's record company for promotional purposes.</span></p>

<table border="1" width="400" bgcolor="#000000">
  <tbody>
    <tr>
      <td><a href="jewel_lo.gif"><img border="0" src="jewel_lo_small.gif" alt="jewel_lo.gif (35692 bytes)" width="100" height="150"></a></td>
      <td><a href="j_glam1.gif"><img border="0" src="j_glam1_small.gif" alt="j_glam1.gif (44004 bytes)" width="100" height="146"></a></td>
      <td><a href="jewel_ca.gif"><img border="0" src="jewel_ca_small.gif" alt="jewel_ca.gif (37338 bytes)" width="100" height="149"></a></td>
      <td><a href="j_buzz.jpg"><img border="0" src="j_buzz_small.jpg" alt="j_buzz.jpg (63223 bytes)" width="100" height="183"></a></td>
    </tr>
    <tr>
      <td><a href="j_gloss1.gif"><img border="0" src="j_gloss1_small.gif" alt="j_gloss1.gif (190950 bytes)" width="100" height="123"></a></td>
      <td><a href="jewel_on.jpg"><img border="0" src="jewel_on_small.jpg" alt="jewel_on.jpg (18264 bytes)" width="100" height="65"></a></td>
      <td><a href="jewel_poster.jpg"><img border="0" src="jewel_poster_small.jpg" alt="jewel_poster.jpg (55266 bytes)" width="100" height="85"></a></td>
      <td><a href="jewel_gl.gif"><img border="0" src="jewel_gl_small.gif" alt="jewel_gl.gif (30885 bytes)" width="100" height="66"></a></td>
    </tr>
  </tbody>
</table>

