  <h2>News</h2>

  <h3>Tour Dates for 1999</h3>
  <table class="verdanasm">
    <tr> 
      <th>Date</th>
      <th>City</th>
      <th>Venue</th>
    </tr>
    <tr> 
      <td valign="top"> February 25 <br />
        February 26 <br />
        February 28 <br />
        March 1 <br />
        March 3 <br />
        March 4 <br />
        March 6 <br />
        March 7 <br />
        March 9 <br />
        March 10 <br />
        March 12 <br />
        March 13 <br />
        March 15 <br />
        March 16 <br />
        March 18 <br />
        March 19 <br />
        March 20 <br />
        March 21 <br />
        March 22 <br />
        April 4 <br />
        April 5 <br />
        April 6 <br />
        April 8 <br />
        April 9 <br />
        May 1 <br />
        May 2 <br />
        May 4 <br />
        May 5 <br />
        May 6 <br />
        May 8 <br />
        May 9 <br />
        May 10 <br />
        May 11 <br />
        Summer 1999 </td>
      <td valign="top"> Melbourne, Australia <br />
        Melbourne, Australia <br />
        Perth, Australia <br />
        Perth, Australia <br />
        Adelaide, Australia <br />
        Melbourne, Australia <br />
        Canberra, Australia <br />
        Newcastle, Australia <br />
        Sydney, Australia <br />
        Sydney, Australia <br />
        Sydney, Australia <br />
        Sydney, Australia <br />
        Brisbane, Australia <br />
        Brisbane, Australia <br />
        Auckland, New Zealand <br />
        Auckland, New Zealand <br />
        Wellington, New Zealand <br />
        Christchurch, New Zealand <br />
        Christchurch, New Zealand <br />
        Tokyo, Japan <br />
        Tokyo, Japan <br />
        Tokyo, Japan <br />
        Osaka, Japan <br />
        Nagoya, Japan <br />
        Belfast, Ireland <br />
        Dublin, Ireland <br />
        Southampton, UK <br />
        London, UK <br />
        Cambridge, UK <br />
        Glasgow, Scotland <br />
        Manchester, UK <br />
        Coventry, UK <br />
        Bristol, UK <br />
        US Tour </td>
      <td> Palais Theatre <br />
        Palais Theatre <br />
        Burswood Theatre <br />
        Burswood Theatre <br />
        Thebarton Theatre <br />
        Palais Theatre <br />
        The Royal Theatre <br />
        Civic Theatre <br />
        State Theatre <br />
        State Theatre <br />
        State Theatre <br />
        State Theatre <br />
        QPAC Concert Hall <br />
        QPAC Concert Hall <br />
        TV appearances & Promo <br />
        North Shore Events Center <br />
        Queens Wharf Events Centre <br />
        Town Hall <br />
        Town Hall <br />
        Zepp Hall <br />
        U-Port Hall <br />
        U-Port Hall <br />
        Sankei Hall <br />
        Geiso Center <br />
        Ulster Hall <br />
        Olympia Theater <br />
        Guildhalle <br />
        Royal Albert Hall <br />
        Corn Exchange <br />
        City Hall <br />
        The Academy <br />
        Warwick Arts Center <br />
        Colston Hall <br />
        &nbsp; </td>
    </tr>
  </table>
