
 <div id="content">
  <!-- #BeginEditable "content" --> 
  <h2>Jewel News</h2>
  <h3>Tour Dates 2002</h3>
  <p>These are confirmed tour dates for North America!</p>
  <p><b>M2M has joined the Jewel Tour.</b></p>
  <p>Want &quot;Everything&quot; ?<br />
    Experience M2M's sophomore Release&quot; The Big Room&quot;<br />
    Check out &quot;The Big Room&quot; Listening party<br />
    <a href="http://www.m2m.com/">http://www.m2m.com/</a></p>
  <p><img src="mini-the_big_room.jpg" alt="" width="339" height="339" /></p>
  <p><b>Concert Dates from Jewel's Management</b></p>
  <pre>
     June 14
     Tampa Bay Performing Arts Center
     Tampa, Florida
     (Showtime: 8:00 PM)

     June 15
     Broward Center for the Performing Arts
     Fort Lauderdale, Florida
     (Showtime: 8:00 PM)

     June 16
     Hard Rock Live
     Orlando, Florida
     (Showtime: 8:00 PM)

     June 17
     Chastain Park Amphitheatre
     Atlanta, Georgia
     (Showtime: 8:00 PM)

     June 19
     Wolf Trap
     Vienna, Virginia
     (Showtime: 8:00 PM)

     June 21
     P.N.C. Bank Arts Center
     Holmdel, New Jersey
     (Showtime: 8:00 PM)

     June 22
     Jones Beach Amphitheatre
     Wantaugh, New York
     (Showtime: 8:00 PM)

     June 23
     FleetBoston Pavillion
     Boston, Massachusetts
     (Showtime: 7:30 PM)

     June 25
     Oakdale Theater
     Wallingford, Connecticut
     (Showtime: 7:30 PM)

     June 26
     Tower Theatre
     Upper Darby, Pennsylvania
     (Showtime: 8:00 PM)

     June 28
     Massey Hall
     Toronto, Ontario, Canada
     (Showtime: 8:00 PM)

     June 29
     Amphitheatre at Station Square
     Pittsburg, Pennsylvania
     (Showtime: 7:30 PM)

     July 3
     Meadowbrook
     Rochester Hills, Michigan
     (Showtime: 7:30 PM)

     July 5
     Kresge Auditorium
     Interlochen, Michigan
     (Showtime: 8:00 PM)

     July 17
     Red Rocks Amphitheatre
     Morrison (Denver), CO
     (Showtime: 7:00 PM)
    
	 July 19
     Next Stage at The Grand Prairie Show
     Grand Prairie, Texas
     (Showtime: 8:00 PM)

     July 20
     Verizon Wireless Theater
     Houston, Texas
     (Showtime: 8:00 PM)

     July 21
     The Backyard
     Austin, TX
     (Showtime: 7:30 PM)
     MORE DATES WILL BE ANNOUNCED FOR EUROPE AND NORTH AMERICA! STAY TUNED!</pre>
  <p>Visit <a href="http://www.jeweljk.com/">www.jeweljk.com</a> or <a href="http://www.atlantic-records.com/">www.atlantic-records.com</a></p>
