<h2>November 10, 2000</h2>

<p>Jewel at the launch of "In Style" and AOL helping hands initiative for the aol.com/shopping web</p>

<ul class="thumbnails">
    <li class="span2"><a class="thumbnail" href="../../../images/pics/111000/0.jpg"><img
            data-ng-src="../../../images/pics/111000/0-tb.JPG" alt="Before the event"></a></li>
    <li class="span2"><a class="thumbnail" href="../../../images/pics/111000/1.jpg"><img
            data-ng-src="../../../images/pics/111000/1-tb.JPG" alt="Image 1"></a></li>
    <li class="span2"><a class="thumbnail" href="../../../images/pics/111000/2.jpg"><img
            data-ng-src="../../../images/pics/111000/2-tb.JPG" alt="Image 2"></a></li>
    <li class="span2"><a class="thumbnail" href="../../../images/pics/111000/3.jpg"><img
            data-ng-src="../../../images/pics/111000/3-tb.JPG" alt="Image 3"></a></li>
</ul>