

<h1 align="center"><font face="Garamond">~~~Aligator Eyes~~~</font></h1>

<p align="center">&nbsp; <br>
&nbsp; <br>
&nbsp; </p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">Teeth thrash, people die&nbsp;</font> <br>
    <font face="Garamond">I wonder how, then wonder why&nbsp;</font> <br>
    <font face="Garamond">Music plays on my stereo&nbsp;</font> <br>
    <font face="Garamond">Where will she be?&nbsp; Where should I go?&nbsp;</font> <br>
    <font face="Garamond">Green eyes&nbsp;</font> <br>
    <font face="Garamond">just above water&nbsp;</font> <br>
    <font face="Garamond">watching me squirm&nbsp;</font> <br>
    <font face="Garamond">waiting for slaughter&nbsp;</font> <br>
    <font face="Garamond">Poems are well written&nbsp;</font> <br>
    <font face="Garamond">They mean no harm&nbsp;</font> <br>
    <font face="Garamond">Everbody eventually dies&nbsp;</font> <br>
    <font face="Garamond">There is no lucky charm&nbsp;</font> <br>
    <font face="Garamond">Crooked teeth&nbsp;</font> <br>
    <font face="Garamond">in a too big smile&nbsp;</font> <br>
    <font face="Garamond">tasting my blood&nbsp;</font> <br>
    <font face="Garamond">open like a child&nbsp;</font> <br>
    <font face="Garamond">Things will end and start again&nbsp;</font> <br>
    <font face="Garamond">Have faith in what makes sense&nbsp;</font> <br>
    <font face="Garamond">So many people just don't get it&nbsp;</font> <br>
    <font face="Garamond">Unfortunately, soon they wll pay&nbsp;</font> <br>
    <font face="Garamond">Wooden cross&nbsp;</font> <br>
    <font face="Garamond">beaten beyond belief&nbsp;</font> <br>
    <font face="Garamond">to forgive our mistakes&nbsp;</font> <br>
    <font face="Garamond">to give us relief&nbsp;</font> </p>
    <p align="center"><font face="Garamond">Jewel Fan Named Karl Schmidt May 19 1998&nbsp;</font>
    </td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
