
<p align="center">&nbsp;</p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">&nbsp;All my life I have been waiting,&nbsp;</font>
    <br>
    <font face="Garamond">suffering for the light of the day.&nbsp;</font> </p>
    <p align="center"><font face="Garamond">As I wake up each morning and take in that first
    inhallintes from a smoke,&nbsp;</font> <br>
    <font face="Garamond">I know I'll make it through the day.&nbsp;</font> </p>
    <p align="center"><font face="Garamond">My twisted mine over controlls my urge to
    kill,&nbsp;</font> <br>
    <font face="Garamond">but my heart is as inocent as a baby.&nbsp;</font> </p>
    <p align="center"><font face="Garamond">Why is life so hard?&nbsp;</font> <br>
    <font face="Garamond">I ask myself this question.&nbsp;</font> </p>
    <p align="center"><font face="Garamond">I see you by my side,&nbsp;</font> <br>
    <font face="Garamond">and I know everythings going to be alright.&nbsp;</font> </td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
