
<center>
<h1>
<font face="Garamond">Scarlet Angel</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">I never meant to betray myself&nbsp;</font>
<br><font face="Garamond">As this vessel of darkness - I&#146;ve learned too
much&nbsp;</font>
<br><font face="Garamond">There is a true abscence within - us all&nbsp;</font>
<br><font face="Garamond">Goddess inhabits all souls&nbsp;</font>
<br><font face="Garamond">I will not enjoy this battle - contrary to popular
society&nbsp;</font>
<br><font face="Garamond">I want to help - no longer can&nbsp;</font>
<br><font face="Garamond">For I was taught to not confess, I never cared&nbsp;</font>
<br><font face="Garamond">But for this moment, I love&nbsp;</font>
<br><font face="Garamond">Give me hope, given peace&nbsp;</font>
<br><font face="Garamond">Share all in this river of scarlet&nbsp;</font>
<br><font face="Garamond">Final pleas nurture me&nbsp;</font>
<br><font face="Garamond">As you feel fear - safety is my pure arms&nbsp;</font>
<br><font face="Garamond">No mother loved you like I do&nbsp;</font>
<br><font face="Garamond">My love is greater&nbsp;</font>
<br><font face="Garamond">Your first and last true kiss comes from me&nbsp;</font>
<br><font face="Garamond">Your will is mine&nbsp;</font>
<br><font face="Garamond">I control while you order&nbsp;</font>
<br><font face="Garamond">Forever our passion will be romanticized&nbsp;</font>
<br><font face="Garamond">Every word I speak - is from you&nbsp;</font>
<br><font face="Garamond">All you fear comes from me&nbsp;</font>
<br><font face="Garamond">I occupy you&nbsp;</font>
<br><font face="Garamond">Remember I serve you&nbsp;</font>
<br><font face="Garamond">Don&#146;t be surprised - I&#146;ve always loved you&nbsp;</font>
<br><font face="Garamond">Come to me - for I&#146;m your scarlet angel.&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>

