
<center>
<h1>
<font face="Garamond">Blue Eyes</font></h1></center>

<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">My heart fell victum to the force of your
gravity.</font>
<br><font face="Garamond">Golden burning cinders swept away by the sea
in your eyes.</font>
<br><font face="Garamond">The pleas of the voices in me saturate your closed
ears.</font>
<br><font face="Garamond">Turning your face away.</font>
<br><font face="Garamond">The full hallowness of your breath caresses my
lonely skin.</font>
<br><font face="Garamond">My dry tears leak onto you.</font>
<br><font face="Garamond">You remain unnoticing, even for your distance.</font>
<br><font face="Garamond">misunderstood, I cried.</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
