
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><font size="3"><font face="Garamond">In the breeze I still stand with your
    absence.Little fingerprints lay upon my hand that was</font> </font><font face="Garamond"
    size="3">touched so long ago. But it is hard to feel the sand sink beneath my
    feet...because maybe I am the wave that washes upon my toes. </font></td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
