
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;&nbsp;&nbsp; May I Have This Dance&nbsp;</font>
<br><font face="Garamond">I want to dance with you deep into night&nbsp;</font>
<br><font face="Garamond">Being with you just feels way to right&nbsp;</font>
<br><font face="Garamond">If you left right now, my whole world would end&nbsp;</font>
<br><font face="Garamond">A cure of love your sweet voice does send&nbsp;</font>
<br><font face="Garamond">I long just to touch you and you to touch me&nbsp;</font>
<br><font face="Garamond">Deep in your arms is where I have to be&nbsp;</font>
<br><font face="Garamond">How can I know if you&nbsp; even care?&nbsp;</font>
<br><font face="Garamond">How can I know if we'd be a good pair?&nbsp;</font>
<br><font face="Garamond">Well,God will finish this soon, but how?&nbsp;</font>
<br><font face="Garamond">I don't know any answers at least not for now&nbsp;</font>
<br><font face="Garamond">So I hope to ask you if even by chance&nbsp;</font>
<br><font face="Garamond">Could I possibly have this last dance?&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
