
<center>
<h1>
<font face="Garamond">The Dueling Dawns</font></h1></center>

<p>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">Young love blossomed in the spring.&nbsp;</font>
<br><font face="Garamond">To two hearts fresh with room to fill.&nbsp;</font>
<br><font face="Garamond">He loved her.&nbsp;</font>
<br><font face="Garamond">He put flowers in her hair.&nbsp;</font>
<br><font face="Garamond">but the softness of the petals&nbsp;</font>
<br><font face="Garamond">were nothing to compare.&nbsp;</font>
<br><font face="Garamond">to the ringlets of dark romance&nbsp;</font>
<br><font face="Garamond">framing her face.&nbsp;</font>
<br><font face="Garamond">With woven baby&#146;s breath&nbsp;</font>
<br><font face="Garamond">he asked her for her hand.&nbsp;</font>
<br><font face="Garamond">Bound together&nbsp;</font>
<br><font face="Garamond">in eternal love to last.&nbsp;</font>
<br><font face="Garamond">He said &#147;you&#146;re perfect.&nbsp;</font>
<br><font face="Garamond">As night and day are dueling dawns.&nbsp;</font>
<br><font face="Garamond">Together forever in love as pure as Eve.&#148;&nbsp;</font>
<br><font face="Garamond">&#147;I love thee love.&nbsp;</font>
<br><font face="Garamond">I love thy pretty face.&nbsp;</font>
<br><font face="Garamond">Thy graceful kiss&nbsp;</font>
<br><font face="Garamond">in our home, our heaven on earth.&#148;&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">The notice came.&nbsp;</font>
<br><font face="Garamond">Her love was leaving home.&nbsp;</font>
<br><font face="Garamond">The guns rattled in the east.&nbsp;</font>
<br><font face="Garamond">Patriotism called.&nbsp;</font>
<br><font face="Garamond">Just before the docks were emptied.&nbsp;</font>
<br><font face="Garamond">Wiping the tears from her sodden face.&nbsp;</font>
<br><font face="Garamond">He said:&nbsp;</font>
<br><font face="Garamond">Doth thou cry for me?&nbsp;</font>
<br><font face="Garamond">I&#146;ll but be gone a while.&nbsp;</font>
<br><font face="Garamond">I&#146;ll write my love&nbsp;</font>
<br><font face="Garamond">my purest love.&nbsp;</font>
<br><font face="Garamond">As I long for you&nbsp;</font>
<br><font face="Garamond">my sweet.&nbsp;</font>
<br><font face="Garamond">When the blood doth splatter&nbsp;</font>
<br><font face="Garamond">and the trenches fill with tears.&nbsp;</font>
<br><font face="Garamond">And the bullets pierce my companions, my own
body&nbsp;</font>
<br><font face="Garamond">I&#146;ll still have with me here.&nbsp;</font>
<br><font face="Garamond">You&#146;re love I always treasure in my heart.&nbsp;</font>
<br><font face="Garamond">The months passed slowly.&nbsp;</font>
<br><font face="Garamond">By the week the letters came.&nbsp;</font>
<br><font face="Garamond">Each one stained with tears&nbsp;</font>
<br><font face="Garamond">and blood.&nbsp;</font>
<br><font face="Garamond">Their love so purely claimed.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">Walking to the mailbox&nbsp;</font>
<br><font face="Garamond">with her newest letter yet.&nbsp;</font>
<br><font face="Garamond">The joy she felt was all so great.&nbsp;</font>
<br><font face="Garamond">This news he had to hear.&nbsp;</font>
<br><font face="Garamond">But instead the mail had come&nbsp;</font>
<br><font face="Garamond">and a letter plagued the box.&nbsp;</font>
<br><font face="Garamond">Her love was gone, his heart shattered&nbsp;</font>
<br><font face="Garamond">by a bullet, torn apart.&nbsp;</font>
<br><font face="Garamond">She fell in a heap&nbsp;</font>
<br><font face="Garamond">a sharp pain growing inside.&nbsp;</font>
<br><font face="Garamond">she felt the bullet in his heart.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">She heard a voice.&nbsp;</font>
<br><font face="Garamond">&#147;Doth thou cry for me?&nbsp;</font>
<br><font face="Garamond">I&#146;ll but be gone a while.&nbsp;</font>
<br><font face="Garamond">I&#146;ll hold you my love&nbsp;</font>
<br><font face="Garamond">in your times of need&nbsp;</font>
<br><font face="Garamond">As I long for you&nbsp;</font>
<br><font face="Garamond">my sweet.&nbsp;</font>
<br><font face="Garamond">When the tears doth flow upon thy face&nbsp;</font>
<br><font face="Garamond">I shall always be drying thy sorrow.&nbsp;</font>
<br><font face="Garamond">I&#146;m never far away, I&#146;m always with you love.&nbsp;</font>
<br><font face="Garamond">You&#146;ll still have me here.&nbsp;</font>
<br><font face="Garamond">You&#146;re love I&#146;ll always treasure in my heart.&#148;&nbsp;</font>
<br><font face="Garamond">And gone was her lover.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">She cried out:&nbsp;</font>
<br><font face="Garamond">Come back my love!&nbsp;</font>
<br><font face="Garamond">Dear God don&#146;t say you&#146;re gone!&nbsp;</font>
<br><font face="Garamond">Without your love my heart doth break.&nbsp;</font>
<br><font face="Garamond">Even your dueling dawns carry a chill.&nbsp;</font>
<br><font face="Garamond">Ever letter I will cherish.&nbsp;</font>
<br><font face="Garamond">Every memory hold dear.&nbsp;</font>
<br><font face="Garamond">My deepest sorrow rest&nbsp;</font>
<br><font face="Garamond">in my letter sent too late&nbsp;</font>
<br><font face="Garamond">For you never got to hear.&nbsp;</font>
<br><font face="Garamond">How your son would love you too.&#148;&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>

