
<center>
<h1>
<font face="Garamond">To My Dear Friends</font></h1></center>
<font face="Garamond"></font>&nbsp;
<p><br>
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;I&#146;m sorry I forgot to praise you&nbsp;</font>
<br><font face="Garamond">&nbsp;I didn't pretend to be surprised by your
words of cheap&nbsp;</font>
<br><font face="Garamond">&nbsp;horror&nbsp;</font>
<br><font face="Garamond">&nbsp;Oh, I must have forgotten &#147;opinion&#148; doesn't
mean mine.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">&nbsp;Oh please humor me with your kind smile&nbsp;</font>
<br><font face="Garamond">&nbsp;I need to feel like someone cares&nbsp;</font>
<br><font face="Garamond">&nbsp;But show your pity with realism next time.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">&nbsp;did I offend you and your plastic beliefs&nbsp;</font>
<br><font face="Garamond">&nbsp;I must have not read bylaw three&nbsp;</font>
<br><font face="Garamond">&nbsp;Nicknames can be trademarked or worthless
death threats&nbsp;</font>
<br><font face="Garamond">&nbsp;issued.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">&nbsp;am I in the way of your ambition&nbsp;</font>
<br><font face="Garamond">&nbsp;somehow I feel like I am&nbsp;</font>
<br><font face="Garamond">&nbsp;just think without me it would all be yours.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">&nbsp;were my ideas not new enough for you&nbsp;</font>
<br><font face="Garamond">&nbsp;should I remember to mention your name
one more time&nbsp;</font>
<br><font face="Garamond">&nbsp;oh yes, you are my true inspiration.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">pardon me, if your little dramas do not interest
me&nbsp;</font>
<br><font face="Garamond">I was just thinking of the poor and the homeless&nbsp;</font>
<br><font face="Garamond">your love crisis is much more important, I must
have&nbsp;</font>
<br><font face="Garamond">forgotten.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">could you please put the seventeen down for a
second&nbsp;</font>
<br><font face="Garamond">do you think that . . .&nbsp;</font>
<br><font face="Garamond">that's right I have to say Brad pitt&#146;s name to
get your&nbsp;</font>
<br><font face="Garamond">attention.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">am I just a worthless shell to you&nbsp;</font>
<br><font face="Garamond">do you remember my name&nbsp;</font>
<br><font face="Garamond">nothing like that mattered to you, I mean it&#146;s
only me.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I don&#146;t care what I mean to you&nbsp;</font>
<br><font face="Garamond">but I know you are wrong, I&#146;m not as blind as
you think&nbsp;</font>
<br><font face="Garamond">because I already knew you never really cared
about me.&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
