<html>
<head>
	<title>Disclaimer</title>
</head>
<body text="#000000" bgcolor="#FFFFFF" link="#0000EE" vlink="#551A8B" alink="#3366FF">
<font face="arial, helvetica">
<center>
<h1>Disclaimer</h1>
</center>
</font>
<font face="arial, helvetica">
All the poetry is the property of the poets listed.  Their poetry cannot be reprinted without their permission.  The views expressed are not necessarily the views of the author of this page.  None of this poetry is associated with Jewel in any fashion.
</font><center><font face="arial, helvetica">
  <p><sub>Copyright 1998. <a href="mailto:Raven@FoolishGames.com">Raven@FoolishGames.com</a></sub>
  </font>
</center>
</body>
</html>