

<center>
<h1>
<font face="Garamond">&nbsp;I dream too....</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp; Every night I sit and stare,&nbsp;</font>
<br><font face="Garamond">At the beautiful moonlight glare.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I dream about you and me,&nbsp;</font>
<br><font face="Garamond">how happy we could be.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">If we never let reality take place,&nbsp;</font>
<br><font face="Garamond">I guess I'll just cut to the chase.&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I wish it was still you and me,&nbsp;</font>
<br><font face="Garamond">but I guess all I can do is dream.&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
