
<center>
<h1>
<font face="Garamond">FANTASY</font></h1></center>

<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">We watch</font>
<br><font face="Garamond">We wait</font>
<br><font face="Garamond">For something better to come along</font><font face="Garamond"></font>
<p><font face="Garamond">But it is useless</font>
<br><font face="Garamond">To contemplate</font>
<br><font face="Garamond">What can't be seen,</font>
<br><font face="Garamond">Nor changed</font><font face="Garamond"></font>
<p><font face="Garamond">What happens,</font>
<br><font face="Garamond">Happens</font>
<br><font face="Garamond">What will be,</font>
<br><font face="Garamond">Will be</font><font face="Garamond"></font>
<p><font face="Garamond">And for those who say&nbsp;</font>
<br><font face="Garamond">They can see the future</font>
<br><font face="Garamond">They are merely living in a</font>
<br><font face="Garamond">Fantasy</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
