
<center>
<h1>
<font face="Garamond">Friendship</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp; Caught in the current
was I&nbsp;</font>
<br><font face="Garamond">Certain that I would soon die&nbsp;</font>
<br><font face="Garamond">Problems in life held me down&nbsp;</font>
<br><font face="Garamond">And I knew that I would soon drown&nbsp;</font>
<br><font face="Garamond">I never could have made it alone&nbsp;</font>
<br><font face="Garamond">Up against rocks, I was constantly thrown&nbsp;</font>
<br><font face="Garamond">Pulled further and further within&nbsp;</font>
<br><font face="Garamond">Without help I could never win&nbsp;</font>
<br><font face="Garamond">Then you showed up and saved the day&nbsp;</font>
<br><font face="Garamond">Pulled me out and showed me the way&nbsp;</font>
<br><font face="Garamond">You led me in the right direction&nbsp;</font>
<br><font face="Garamond">And offered your undying protection&nbsp;</font>
<br><font face="Garamond">Made me realize what life could bring&nbsp;</font>
<br><font face="Garamond">A different way to view everything&nbsp;</font>
<br><font face="Garamond">Like an angel descending from above&nbsp;</font>
<br><font face="Garamond">Shroud in kindness, wisdom and love&nbsp;</font>
<br><font face="Garamond">You put me up upon your wing&nbsp;</font>
<br><font face="Garamond">Your presence changing everything&nbsp;</font>
<br><font face="Garamond">I hate to think of where I would be&nbsp;</font>
<br><font face="Garamond">If instead you were not there for me&nbsp;</font>
<br><font face="Garamond">I'd have fallen into a deep depression&nbsp;</font>
<br><font face="Garamond">If you had never given me inspiration&nbsp;</font>
<br><font face="Garamond">But you turned my life around&nbsp;</font>
<br><font face="Garamond">And for that my thanks abound&nbsp;</font>
<br><font face="Garamond">You would always lend me an ear&nbsp;</font>
<br><font face="Garamond">So that I could talk through my fear&nbsp;</font>
<br><font face="Garamond">Life had dealt me a difficult hand&nbsp;</font>
<br><font face="Garamond">But you stuck by me to the end&nbsp;</font>
<br><font face="Garamond">I can now look forward to my life&nbsp;</font>
<br><font face="Garamond">Even if there is the occasional strife&nbsp;</font>
<br><font face="Garamond">I know that you will always be true&nbsp;</font>
<br><font face="Garamond">And I offer a heart felt THANK YOU&nbsp;</font>
<br><font face="Garamond">And if you are ever in need of a friend&nbsp;</font>
<br><font face="Garamond">You only need to hold out your hand&nbsp;</font>
<br><font face="Garamond">If you ever feel upset or depressed&nbsp;</font>
<br><font face="Garamond">Fed up with things and really stressed&nbsp;</font>
<br><font face="Garamond">I will always be here to help you out&nbsp;</font>
<br><font face="Garamond">To remind you what life is all about&nbsp;</font>
<br><font face="Garamond">To offer what you gave me so much of&nbsp;</font>
<br><font face="Garamond">A friendship that is full of trust and love&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">-Phil Hinton&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>

