
<center>
<h1>
<font face="Garamond">THE FUTURE</font></h1></center>

<center>
<h2>
<font face="Garamond">by Phil Hinton</font></h2></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;&nbsp;&nbsp; I woke up this morning&nbsp;</font>
<br><font face="Garamond">Four years ago today&nbsp;</font>
<br><font face="Garamond">Knowing all that I know now&nbsp;</font>
<br><font face="Garamond">Having lived beyond my years&nbsp;</font>
<br><font face="Garamond">To see the world in a different light&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I saw my life mapped out before me&nbsp;</font>
<br><font face="Garamond">But now it all would change&nbsp;</font>
<br><font face="Garamond">Destiny had no grasp&nbsp;</font>
<br><font face="Garamond">I knew which path to take&nbsp;</font>
<br><font face="Garamond">I could make things right for me&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">Limits no longer held me&nbsp;</font>
<br><font face="Garamond">With the insight that I had&nbsp;</font>
<br><font face="Garamond">I could put my life on a different track&nbsp;</font>
<br><font face="Garamond">Make things work for me&nbsp;</font>
<br><font face="Garamond">I knew what life had in store&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I would put academics in front of leisure time&nbsp;</font>
<br><font face="Garamond">Finish college the first time through&nbsp;</font>
<br><font face="Garamond">Hang that diploma on my wall&nbsp;</font>
<br><font face="Garamond">And watch all the doors in life open&nbsp;</font>
<br><font face="Garamond">Knowing that's how it should have been&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I would not change the love ahead&nbsp;</font>
<br><font face="Garamond">That, would play on through&nbsp;</font>
<br><font face="Garamond">I'd fall for her even harder this time&nbsp;</font>
<br><font face="Garamond">Holding her even tighter than before&nbsp;</font>
<br><font face="Garamond">Yet brace myself for the hurt ahead&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">Money would never be a problem&nbsp;</font>
<br><font face="Garamond">I could live the life I had always dreamed&nbsp;</font>
<br><font face="Garamond">Bringing along those that love me&nbsp;</font>
<br><font face="Garamond">Knowing where to invest in stocks&nbsp;</font>
<br><font face="Garamond">And which teams would win their games&nbsp;</font>
<br><font face="Garamond">With the knowledge of days to come&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">But would all that make me happy&nbsp;</font>
<br><font face="Garamond">Could the future change for me&nbsp;</font>
<br><font face="Garamond">Would life be any easier to live&nbsp;</font>
<br><font face="Garamond">I'd still be the same inside&nbsp;</font>
<br><font face="Garamond">Always wanting to just be understood&nbsp;</font>
<br><font face="Garamond">And loved for who I am&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">I woke up this morning&nbsp;</font>
<br><font face="Garamond">Four years ago today&nbsp;</font>
<br><font face="Garamond">And rolled back over and went to sleep&nbsp;</font>
<br><font face="Garamond">Returning to where I belonged&nbsp;</font>
<br><font face="Garamond">Knowing that I would always be the same&nbsp;</font>
<br><font face="Garamond">Accepting what I had chosen in life&nbsp;</font>
<br><font face="Garamond">Without the knowledge of days to come&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
