
<center>
<h1>
Garden Of Love</h1></center>

<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Walk
with me my child,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Through my endless garden of love,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
The garden which I must pray for everyday,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
If my garden wilts...then I shall pass,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Needless
to say, I wouldn't want to wilt as do my roses,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Say you will pray for my garden too,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The love
I shall miss of my eternal daffodils,&nbsp;</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp; My life is a simple
one...simple like the flowers,</font>
<br><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yet still as mortal.</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
