

<body text="#000000" bgcolor="#8080C0" link="#FFFFFF" vlink="#800080" alink="#FFCCCC">

<h1 align="center"><font face="Garamond">Green</font></h1>

<p align="center">&nbsp; </p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">A world which bleeds,<br>
    the people who stab it,<br>
    the past, the story<br>
    the present, the path<br>
    the future, the result<br>
    <br>
    Children, the dream<br>
    hope,the tool for the dreams<br>
    adults, the represers<br>
    society, the rutine<br>
    <br>
    Books,the wisdom<br>
    minds,the treasures<br>
    music, the expression<br>
    writting, the revalation<br>
    <br>
    You, the judge<br>
    life, the chance<br>
    determination, the strength<br>
    honesty , the essence<br>
    <br>
    Fight, belive, love, and be true to yourself.....<br>
    <br>
    <br>
    &nbsp;</font> </td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
