

<h1><font face="Garamond">Guidelines:</font></h1>

<ol>
  <li><font face="Garamond">Must be suitable for general audiences.</font></li>
  <li><font face="Garamond">Can be in the following languages: English, German and French</font></li>
  <li><font face="Garamond">Must include a name and proper email address when you
    submit.&nbsp; (ie.&nbsp; yourusername@yourisp.com, screenname@aol.com)</font></li>
  <li><font face="Garamond">Please use the spacing and punctuation that you desire, it will be
    published the way you submit it to me.</font></li>
</ol>

<h2><font face="Garamond">If you submit anything I assume you agreed to the following
statements:</font></h2>

<ol>
  <li><font face="Garamond">You understand that your work will first be reviewed for content
    by either the webmaster for FG or myself.</font></li>
  <li><font face="Garamond">I can remove your poetry at anytime.</font></li>
  <li><font face="Garamond">Any of your work will not be passed on to other publications (web
    or print) by myself without your written permission.</font></li>
</ol>

<p><a href="index.html"><font face="Garamond">Return to Fan Poetry</font></a></p>
<p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
  Home</a></font></p>
<font face="Garamond">

<p>Copyright 1999 <a href="mailto:raven@foolishgames.com">raven@foolishgames.com</a></p>
</font>
