
&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;The angels in heaven know not of the
hatred expressed on our world</font>
<br><font face="Garamond">They lean back on their heavenly chairs with
eternal smiles on their faces</font>
<br><font face="Garamond">In earnest, too, for the encapsulating beauty
of the other world has swallowed them up</font>
<br><font face="Garamond">As a beast it's prey</font>
<br><font face="Garamond">Neither do they know the suffering or pride or
jealousy or rage</font>
<br><font face="Garamond">Nor any other negative feeling on earth</font>
<br><font face="Garamond">Perhaps they are happier than the pitiful souls
who occasionally show themselves in our light</font>
<br><font face="Garamond">Or are concealed behind an everlasting wall of
ignorance</font>
<br><font face="Garamond">Perhaps they have never really felt anything,
for fear of being hurt, or in pride of what they have, or in anger of the
fact that they cannot have</font>
<br><font face="Garamond">But in these ways, thye have felt these things</font>
<br><font face="Garamond">Which makes the purest angels no less human than
ourselves</font>
<br><font face="Garamond">And the most horrible human no less pure than
an angel</font></center>
</td>
</tr>
</table>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
