
<h1 align="center"><font face="Garamond">A Midnight, I Walk the Dogs</font></h1>

<p align="center">&nbsp; </p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">Sun blanked out<br>
    and moon as well<br>
    the streetlights glow <br>
    as my substitute guides.<br>
    tapping dognails<br>
    slappping hole-dotted wingtips<br>
    swish of faraway ocean<br>
    clicking of periwinkle shells<br>
    in my cherry coloured pocket.<br>
    These and only these<br>
    interrupt the solemn nightclean air.<br>
    I pass by dormant windows,<br>
    sneaking guilty glances in their unshuttered <br>
    lives. As my stealthily quiet shadow<br>
    slides through the trees up on the pavement, <br>
    and the sleek seal-puppies wag their<br>
    tails in unconcious habit.<br>
    In and out of synthetic shadow.</font> </td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
