
<h1 align="center"><font color="#3366FF" face="Garamond">Misc</font></h1>

<p align="center">&nbsp;</p>

<p align="left"><font face="Garamond">Hi!&nbsp; Greetings to anyone that made their way to
this page.&nbsp; I'm working on getting a lot of work up on the site right now.
&nbsp; Hopefully, I'll be caught up in the next few days.&nbsp; In the next few months
(when my schedule allows) I want to make some major design changes to this area.
&nbsp; Thanks to all the people that have contributed to the ever growing collection of
poetry.&nbsp; I'd like to thank Luke for giving me a chance to work on some small part of
his site, I know how much it means to you and I'm very glad you trust me with it.</p>

<p>&nbsp;<br>
&nbsp;</p>

<p><font face="Garamond">Copyright 1999. Nightlilyc@hotmail.com</font> <br>
