
<h1 align="center"><font face="Garamond">Music To My Ears</font></h1>

<p align="center"><font face="Garamond">&nbsp; </font></p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">The music you<br>
    play fills the<br>
    air so sweetly. <br>
    You play your<br>
    guitar as if<br>
    it was an<br>
    old friend you <br>
    were having a<br>
    conversation with.<br>
    Your voice so<br>
    rugged yet so<br>
    smooth calms<br>
    my troubled soul.<br>
    How I wish <br>
    the whole world <br>
    could here you<br>
    o they can<br>
    feel the way<br>
    I do when<br>
    you play.</font></td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
