
<center>
<h1>
<font face="Garamond">MY EYES NOW SEE</font></h1></center>

<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;I was always on the outside</font>
<br><font face="Garamond">Looking in</font>
<br><font face="Garamond">You could hear me,</font>
<br><font face="Garamond">You could see me,</font>
<br><font face="Garamond">But I was ignored.</font><font face="Garamond"></font>
<p><font face="Garamond">Once again I'm on the outside,</font>
<br><font face="Garamond">But I'm no longer looking in.</font>
<br><font face="Garamond">I am roaming free,</font>
<br><font face="Garamond">Around the lawn, the garden</font>
<br><font face="Garamond">And the flowers listen</font>
<br><font face="Garamond">Intently</font><font face="Garamond"></font>
<p><font face="Garamond">You're once again drowning,</font>
<br><font face="Garamond">But it is no longer I&nbsp;</font>
<br><font face="Garamond">Who must save you</font>
<br><font face="Garamond">And at first that was hurtful,</font>
<br><font face="Garamond">But now it's just</font>
<br><font face="Garamond">Convienient</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
