
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;My tears race</font>
<br><font face="Garamond">downwards;</font>
<br><font face="Garamond">Don't know where</font>
<br><font face="Garamond">to touch down</font><font face="Garamond"></font>
<p><font face="Garamond">My hands grove;</font>
<br><font face="Garamond">Don't know where&nbsp;</font>
<br><font face="Garamond">to be held</font><font face="Garamond"></font>
<p><font face="Garamond">My eyes roam around;</font>
<br><font face="Garamond">everything is dark</font>
<br><font face="Garamond">and I can't see</font><font face="Garamond"></font>
<p><font face="Garamond">The confusion and&nbsp;</font>
<br><font face="Garamond">the panic spreads</font>
<br><font face="Garamond">I shrink together</font>
<br><font face="Garamond">scared</font><font face="Garamond"></font>
<p><font face="Garamond">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
c. - Ragnhild Nordli</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
