
<center>
<h1>
<font face="Garamond">Over Time</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp;&nbsp;&nbsp; the window skates across
the carpet&nbsp;</font>
<br><font face="Garamond">my eyes look deep within my skull&nbsp;</font>
<br><font face="Garamond">tiny children living there&nbsp;</font>
<br><font face="Garamond">who try to walk, but always fall&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">with my rainbow of imagination&nbsp;</font>
<br><font face="Garamond">as my only real true love&nbsp;</font>
<br><font face="Garamond">in this forest of green and life&nbsp;</font>
<br><font face="Garamond">with blue music up above&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">while life is all but a poem&nbsp;</font>
<br><font face="Garamond">waiting for that finishing line&nbsp;</font>
<br><font face="Garamond">and what will be the end&nbsp;</font>
<br><font face="Garamond">of this verse which i call mine&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">these things by which i'm surrounded&nbsp;</font>
<br><font face="Garamond">have seen more hardships than i&nbsp;</font>
<br><font face="Garamond">we must not keep ourselves grounded&nbsp;</font>
<br><font face="Garamond">but learn to let minds fly&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">fall in love with knights in armor&nbsp;</font>
<br><font face="Garamond">and play with imaginary friends&nbsp;</font>
<br><font face="Garamond">love the life through your eyes&nbsp;</font>
<br><font face="Garamond">until our vast world ends&nbsp;</font><font face="Garamond"></font>
<p><font face="Garamond">for life is all but a poem&nbsp;</font>
<br><font face="Garamond">waiting for that finishing line&nbsp;</font>
<br><font face="Garamond">but who can tell the end&nbsp;</font>
<br><font face="Garamond">of this verse which i call mine&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
