
<h1 align="center"><font face="Garamond">His Smile is My Haunt</font></h1>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">I am taunted and teased by beauty&nbsp;</font>
    <br>
    <font face="Garamond">in the place of decay.</font> <br>
    <font face="Garamond">I am held within my denied fantasy</font> <br>
    <font face="Garamond">and the shortcomings of these days.</font> <br>
    <font face="Garamond">Disappointments proven that my dream is false</font> <br>
    <font face="Garamond">that my hope has no courage.</font> </td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
