
<center>
<h1>
<font face="Garamond">The Tapestry</font></h1></center>
&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">As children we are taught&nbsp;</font>
<br><font face="Garamond">to stay a child, pure and true.&nbsp;</font>
<br><font face="Garamond">But we are living in a world&nbsp;</font>
<br><font face="Garamond">void of innocence and enlightenment.&nbsp;</font>
<br><font face="Garamond">Deception in the devil's favorite mask&nbsp;</font>
<br><font face="Garamond">which he does not wear,&nbsp;</font>
<br><font face="Garamond">but with beguiling persuasion, he puts on you.&nbsp;</font>
<br><font face="Garamond">Without your consent or mere acknowledgment&nbsp;</font>
<br><font face="Garamond">with temptation as his marionette strings&nbsp;</font>
<br><font face="Garamond">attached to each one of our shoulders.&nbsp;</font>
<br><font face="Garamond">But one by one I cut them loose.&nbsp;</font>
<br><font face="Garamond">His enslaving charm will not change my mind.&nbsp;</font>
<br><font face="Garamond">I am a cloud&nbsp;</font>
<br><font face="Garamond">drifting on my own free will.&nbsp;</font>
<br><font face="Garamond">Blown across the horizon by God's nurturing wind.&nbsp;</font>
<br><font face="Garamond">Within all of us there is a realization.&nbsp;</font>
<br><font face="Garamond">An awareness that a black tapestry drapes.&nbsp;</font>
<br><font face="Garamond">Woven with the glorification of evil,&nbsp;</font>
<br><font face="Garamond">with such bright, exotic colors&nbsp;</font>
<br><font face="Garamond">and mysterious black thread&nbsp;</font>
<br><font face="Garamond">woven by his own needle&nbsp;</font>
<br><font face="Garamond">which we see before the open window of Eden Gad
has provided for us.&nbsp;</font>
<br><font face="Garamond">But the tapestry of evil is so attractive and
desirable&nbsp;</font>
<br><font face="Garamond">so fun and temporarily satisfying.&nbsp;</font>
<br><font face="Garamond">How can such a chance be deluded by innocence?&nbsp;</font>
<br><font face="Garamond">Deep within the chambers of our hearts,&nbsp;</font>
<br><font face="Garamond">in search of the bold and dangerous,&nbsp;</font>
<br><font face="Garamond">we all hear the pure.&nbsp;</font>
<br><font face="Garamond">The laughter of our innocence.&nbsp;</font>
<br><font face="Garamond">Deny it not, for it is only wisdom.&nbsp;&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>

