
<center>
<h1>
<font face="Garamond">Unwept Tears</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&quot;From ashes to ashes..&quot; was heard&nbsp;</font>
<br><font face="Garamond">Amid the weeping of those who valued their strength&nbsp;</font>
<br><font face="Garamond">Under her calm facade, she felt nothing&nbsp;</font>
<br><font face="Garamond">But unwept tears&nbsp;</font>
<br><font face="Garamond">Like the swelling of rain&nbsp;</font>
<br><font face="Garamond">Within stormy clouds&nbsp;</font>
<br><font face="Garamond">Before that fatal moment&nbsp;</font>
<br><font face="Garamond">During her life was only time&nbsp;</font>
<br><font face="Garamond">Beyond the rain and storms and death&nbsp;</font>
<br><font face="Garamond">Among the passing of forgotten dreams&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
