
<center>
<h1>
<font face="Garamond">&nbsp;</font></h1></center>
<font face="Garamond"></font>&nbsp;
<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">&nbsp; Is it today,&nbsp;</font>
<br><font face="Garamond">Or is it tomorrow,&nbsp;</font>
<br><font face="Garamond">But as the waves roll on,&nbsp;</font>
<br><font face="Garamond">I realise,&nbsp;</font>
<br><font face="Garamond">Tomorrow never comes.&nbsp;</font>
<br><font face="Garamond">Today has gone,&nbsp;</font>
<br><font face="Garamond">And my tears are still strong,&nbsp;</font>
<br><font face="Garamond">But I'm still here,&nbsp;</font>
<br><font face="Garamond">And I have nothing to go on.&nbsp;</font>
<br><font face="Garamond">Help me please,&nbsp;</font>
<br><font face="Garamond">Tell me it's OK.&nbsp;</font>
<br><font face="Garamond">Re-write my faith,&nbsp;</font>
<br><font face="Garamond">Tomorrow's another day&nbsp;</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>
