
<center>
<h1>
<font face="Garamond"></font></h1></center>

<center><table BORDER COLS="1" WIDTH="50%">
<tr>
<td>
<center><font face="Garamond">I wake up with an idea about life and go
to bed with a totally different one. Tell me do you know how it feels to
love to be loved but to inevitably end up being hurt. No matter how good
it feels at the time regret will always follow. That pit in the bottom
of my stomach not knowing why but why is a question all in itself.</font>
<br><font face="Garamond">Why are we here</font>
<br><font face="Garamond">Why do we love</font>
<br><font face="Garamond">Why do we care</font>
<br><font face="Garamond">Will we ever know. Will we ever know WHY. Will
life ever change will it ever become normal Everything will always become
what it once was. Life is a cycle. People come in and people leave an impression
on our hearts. They will always be there. In the heart they will never
die. Will we ever understand each other. Everyone is different and works
in different ways. Will we ever understand what makes a person work. What
makes a person kill what makes them hate but what also makes the hatter
love. There are a million questions that a person will ask themselves in
their lifetime but they must realize that they jut need to live and not
revel in the questions that they can not answer.</font></center>
</td>
</tr>
</table></center>

<center>
<p><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
  <p><font face="Garamond"><a href="../jewel/index.php">Return to Foolish Games 
    Home</a></font> 
  <p><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font></center>