
<h1 align="center"><font face="Garamond">Eyes Through Windows</font></h1>

<p align="center">&nbsp; </p>
<div align="center"><center>

<table BORDER="1" COLS="1" WIDTH="50%">
  <tr>
    <td><p align="center"><font face="Garamond">I stand and stare<br>
    out of the window<br>
    at the world<br>
    going by.<br>
    The man across <br>
    the street is<br>
    coming home after<br>
    another late night<br>
    love affair.<br>
    What he doesn't know<br>
    is his wife and kids<br>
    moved out earlier <br>
    today.<br>
    The old woman<br>
    dowm thw street<br>
    sits on her front porch<br>
    waiting for her<br>
    lon lost love<br>
    to come for her.<br>
    You know as well<br>
    as I do that<br>
    he isn't coming.<br>
    Another car drives<br>
    down the dark<br>
    desolate street and<br>
    I close the blinds<br>
    on another day.</font></td>
  </tr>
</table>
</center></div>

<p align="center"><font face="Garamond"><a href="poets.html">Return to Fan Poetry</a></font>
</p>

<p align="center"><font face="Garamond"><a href="../jewel/index.php">Return to 
  Foolish Games Home</a></font></p>

<p align="center"><font face="Garamond">Copyright 1999.&nbsp; <a href="disclaimer.html">Disclaimer</a>.</font>
</p>
