<div class="picnavbar"><a href="#!/pictures">previous</a> &nbsp;<a href="#!/pictures/rso">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h2>Coffee Haus</h2>

<p>Jay's Jewel Kilcher
    Homepage was the original source for these particular pictures.&nbsp; Jay
    was kind enough to allow me to post the pictures.&nbsp; Unfortunately his
    site does not exist anymore.
</p>

<p> These pictures were taken in Royal Oak, MI on two different
    nights.&nbsp; The last picture displays Jewel eating a burrito.
</p>

<p>Click on an image to display a larger version.</p>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewel2a.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewel2a_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewel2b.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewel2b_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewel2d.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewel2d_small.jpg" alt=""></a>
    </li>

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewel2c.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewel2c_small.jpg" alt=""></a>
    </li>

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewelfb.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewelfb_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewelfb2.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewelfb2_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewelwb.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewelwb_small.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/jewelcu.jpg"><img
                data-ng-src="../../../images/pics/coffee/jewelcu_small.jpg" alt=""></a>
    </li>

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/coffee/burito.jpg"><img
                data-ng-src="../../../images/pics/coffee/burito_small.jpg" alt="Jewel Eating a Burrito"></a>
    </li>
</ul>