<h3>What's Simple is True</h3>

<ul class="thumbnails">
    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats1.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats1-tb.JPG" width=125 height=90 alt="Loading...">

    </a></li>

    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats2.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats2-tb.JPG" width=125 height=91 alt="Loading...">

    </a></li>

    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats3.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats3-tb.JPG" width=125 height=92 alt="Loading...">

    </a></li>

    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats4.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats4-tb.JPG" width=125 height=91 alt="Loading...">

    </a></li>


    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats5.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats5-tb.JPG" width=125 height=90 alt="Loading...">

    </a></li>

    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats6.jpg">

        <img src="../../../images/pics/spirit/whats_simple_is_true/whats6-tb.JPG" width=125 height=91 alt="Loading...">

    </a></li>


    <li><a class="thumbnail"  href="../../../images/pics/spirit/whats_simple_is_true/whats7.jpg">
        <img src="../../../images/pics/spirit/whats_simple_is_true/whats7-tb.JPG" width=125 height=91 alt="Loading...">

    </a>
</ul>