<h3>Spirit Photo Shoot</h3>

<ul class="thumbnails">
    <li><a class="thumbnail" href="../../../images/pics/spirit_photoshoot/jewel_088.jpg">

        <img src="../../../images/pics/spirit_photoshoot/jewel_088-tb.JPG" width=108 height=125 alt="Loading...">


    </a></li>

    <li><a class="thumbnail" href="../../../images/pics/spirit_photoshoot/jewel_089.jpg">

        <img src="../../../images/pics/spirit_photoshoot/jewel_089-tb.JPG" width=111 height=125 alt="Loading...">

    </a> /li>
    <li>
        <a class="thumbnail" href="../../../images/pics/spirit_photoshoot/jewel_090.jpg">

            <img src="../../../images/pics/spirit_photoshoot/jewel_090-tb.JPG" width=98 height=125 alt="Loading...">


        </a> /li>
    <li>
        <a class="thumbnail" href="../../../images/pics/spirit_photoshoot/jewel_091.jpg">

            <img src="../../../images/pics/spirit_photoshoot/jewel_091-tb.JPG" width=108 height=125 alt="Loading...">

        </a> /li>
    <li>
        <a class="thumbnail" href="../../../images/pics/spirit_photoshoot/jewel_092.jpg">

            <img src="../../../images/pics/spirit_photoshoot/jewel_092-tb.JPG" width=55 height=125 alt="Loading...">

        </a> /li>
</ul>