<div class="picnavbar"><a href="#!/pictures/musicvideos/index">previous</a> &nbsp;<a
        href="#!/pictures/misc/index">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h3>Live Performances</h3>
<p>
    These pictures were taken during various portions of Jewel's career. All pictures were taken on or near stage.
</p>

<ul class="thumbnails">

    <li>
        <a href="../../../images/pics/live_performances/jewel_025.jpg">

            <img src="../../../images/pics/live_performances/jewel_025-tb.JPG" width=95 height=125 alt="Loading...">


        </a>
    </li>

    <li>
        <a href="../../../images/pics/live_performances/jewel_027.jpg">

            <img src="../../../images/pics/live_performances/jewel_027-tb.JPG" width=84 height=125 alt="Loading...">


        </a>

    <li>
        <a href="../../../images/pics/live_performances/jewel_030.jpg">

            <img src="../../../images/pics/live_performances/jewel_030-tb.JPG" width=53 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_067.jpg">

            <img src="../../../images/pics/live_performances/jewel_067-tb.JPG" width=87 height=125 alt="Loading...">

        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_068.jpg">

            <img src="../../../images/pics/live_performances/jewel_068-tb.JPG" width=86 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_069.jpg">

            <img src="../../../images/pics/live_performances/jewel_069-tb.JPG" width=66 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_073.jpg">

            <img src="../../../images/pics/live_performances/jewel_073-tb.JPG" width=66 height=125 alt="Loading...">


        </a>

    <li>
        <a href="../../../images/pics/live_performances/jewel_074.jpg">

            <img src="../../../images/pics/live_performances/jewel_074-tb.JPG" width=118 height=125 alt="Loading...">


        </a>

    <li>
        <a href="../../../images/pics/live_performances/jewel_076.jpg">

            <img src="../../../images/pics/live_performances/jewel_076-tb.JPG" width=69 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_111.jpg">

            <img src="../../../images/pics/live_performances/jewel_111-tb.JPG" width=90 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_121.jpg">

            <img src="../../../images/pics/live_performances/jewel_121-tb.JPG" width=81 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_123.jpg">

            <img src="../../../images/pics/live_performances/jewel_123-tb.JPG" width=82 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_124.jpg">

            <img src="../../../images/pics/live_performances/jewel_124-tb.JPG" width=79 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_125.jpg">

            <img src="../../../images/pics/live_performances/jewel_125-tb.JPG" width=87 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/gorge2.jpg">

            <img src="../../../images/pics/live_performances/gorge2-tb.JPG" width=125 height=93 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live1.jpg">

            <img src="../../../images/pics/live_performances/jewel_live1-tb.JPG" width=125 height=82 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live2.jpg">

            <img src="../../../images/pics/live_performances/jewel_live2-tb.JPG" width=125 height=86 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live3.jpg">

            <img src="../../../images/pics/live_performances/jewel_live3-tb.JPG" width=125 height=81 alt="Loading...">


        </a>

    <li>
        <a href="../../../images/pics/live_performances/jewel_live4.jpg">

            <img src="../../../images/pics/live_performances/jewel_live4-tb.JPG" width=103 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live_aspen1.jpg">

            <img src="../../../images/pics/live_performances/jewel_live_aspen1-tb.JPG" width=125 height=103 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live_paris1.jpg">

            <img src="../../../images/pics/live_performances/jewel_live_paris1-tb.JPG" width=81 height=125 alt="Loading...">


        </a>
    <li>
        <a href="../../../images/pics/live_performances/jewel_live_rca1.jpg">

            <img src="../../../images/pics/live_performances/jewel_live_rca1-tb.JPG" width=125 height=90 alt="Taken in Paris">


        </a>
</ul>