
  
<div class="picnavbar"><a href="../musicvideos/index.html">previous</a> &nbsp;<a href="../misc/index.html">next</a>&nbsp; 
  <a href="../index.html">table of contents</a> 
  <hr>
    </div>

<h3>Live Performances</h3>
<p>
These pictures were taken during various portions of Jewel's career.  All pictures were taken on or near stage.  Click on the images to see a larger version.
<p>

<table>
	<tr>
		<td>
			<a href="jewel_025.jpg">
			<center>
				<img src="jewel_025-tb.JPG" width=95 height=125 alt="Loading..."><br>
			</center>
			<center>(27K)</center>
			<center>205 x 269</center>
			</a>
		</td>
		<td width=205 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_027.jpg">
			<center>
				<img src="jewel_027-tb.JPG" width=84 height=125 alt="Loading..."><br>
			</center>
			<center>(27K)</center>
			<center>273 x 403</center>
			</a>
		</td>
		<td width=216 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_030.jpg">
			<center>
				<img src="jewel_030-tb.JPG" width=53 height=125 alt="Loading..."><br>
			</center>
			<center>(48K)</center>
			<center>234 x 549</center>
			</a>
		</td>
		<td width=247 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_067.jpg">
			<center>
				<img src="jewel_067-tb.JPG" width=87 height=125 alt="Loading..."><br>
			</center>
			<center>(111K)</center>
			<center>480 x 686</center>
			</a>
		</td>
		<td width=213 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_068.jpg">
			<center>
				<img src="jewel_068-tb.JPG" width=86 height=125 alt="Loading..."><br>
			</center>
			<center>(114K)</center>
			<center>450 x 647</center>
			</a>
		</td>
		<td width=214 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_069.jpg">
			<center>
				<img src="jewel_069-tb.JPG" width=66 height=125 alt="Loading..."><br>
			</center>
			<center>(106K)</center>
			<center>375 x 705</center>
			</a>
		</td>
		<td width=234 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_073.jpg">
			<center>
				<img src="jewel_073-tb.JPG" width=66 height=125 alt="Loading..."><br>
			</center>
			<center>(102K)</center>
			<center>400 x 748</center>
			</a>
		</td>
		<td width=234 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_074.jpg">
			<center>
				<img src="jewel_074-tb.JPG" width=118 height=125 alt="Loading..."><br>
			</center>
			<center>(100K)</center>
			<center>540 x 568</center>
			</a>
		</td>
		<td width=182 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_076.jpg">
			<center>
				<img src="jewel_076-tb.JPG" width=69 height=125 alt="Loading..."><br>
			</center>
			<center>(95K)</center>
			<center>412 x 736</center>
			</a>
		</td>
		<td width=231 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_111.jpg">
			<center>
				<img src="jewel_111-tb.JPG" width=90 height=125 alt="Loading..."><br>
			</center>
			<center>(46K)</center>
			<center>267 x 367</center>
			</a>
		</td>
		<td width=210 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_121.jpg">
			<center>
				<img src="jewel_121-tb.JPG" width=81 height=125 alt="Loading..."><br>
			</center>
			<center>(16K)</center>
			<center>196 x 300</center>
			</a>
		</td>
		<td width=219 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_123.jpg">
			<center>
				<img src="jewel_123-tb.JPG" width=82 height=125 alt="Loading..."><br>
			</center>
			<center>(41K)</center>
			<center>263 x 400</center>
			</a>
		</td>
		<td width=218 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_124.jpg">
			<center>
				<img src="jewel_124-tb.JPG" width=79 height=125 alt="Loading..."><br>
			</center>
			<center>(21K)</center>
			<center>266 x 418</center>
			</a>
		</td>
		<td width=221 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_125.jpg">
			<center>
				<img src="jewel_125-tb.JPG" width=87 height=125 alt="Loading..."><br>
			</center>
			<center>(20K)</center>
			<center>316 x 450</center>
			</a>
		</td>
		<td width=213 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="gorge2.jpg">
			<center>
				<img src="gorge2-tb.JPG" width=125 height=93 alt="Loading..."><br>
			</center>
			<center>(44K)</center>
			<center>424 x 318</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_live1.jpg">
			<center>
				<img src="jewel_live1-tb.JPG" width=125 height=82 alt="Loading..."><br>
			</center>
			<center>(49K)</center>
			<center>440 x 292</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_live2.jpg">
			<center>
				<img src="jewel_live2-tb.JPG" width=125 height=86 alt="Loading..."><br>
			</center>
			<center>(72K)</center>
			<center>544 x 378</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_live3.jpg">
			<center>
				<img src="jewel_live3-tb.JPG" width=125 height=81 alt="Loading..."><br>
			</center>
			<center>(12K)</center>
			<center>266 x 173</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_live4.jpg">
			<center>
				<img src="jewel_live4-tb.JPG" width=103 height=125 alt="Loading..."><br>
			</center>
			<center>(23K)</center>
			<center>255 x 307</center>
			</a>
		</td>
		<td width=197 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_live_aspen1.jpg">
			<center>
				<img src="jewel_live_aspen1-tb.JPG" width=125 height=103 alt="Loading..."><br>
			</center>
			<center>(20K)</center>
			<center>288 x 239</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_live_paris1.jpg">
			<center>
				<img src="jewel_live_paris1-tb.JPG" width=81 height=125 alt="Loading..."><br>
			</center>
			<center>(24K)</center>
			<center>266 x 409</center>
			</a>
		</td>
		<td width=219 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>
			Taken in Paris</font>
		</td>
		<td>
			<a href="jewel_live_rca1.jpg">
			<center>
				<img src="jewel_live_rca1-tb.JPG" width=125 height=90 alt="Loading..."><br>
			</center>
			<center>(26K)</center>
			<center>400 x 291</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
</table>