
<h2>KFMD KISSmas Freedom Bash - December 20, 2001</h2> 
<p>Jewel performed a small 
  set at the Denver radio station 95.7 KFMD (Kiss FM) concert.</p>

  <table>
    <tr> 
      <td> <a href="1220freebash01-tb.html"> 
        <center>
          <img src="1220freebash01-tb.JPG" width=93 height=125 alt="Loading..."><br>
        </center>
        <center>
          (8K)
        </center>
        <center>
          180 x 240
        </center>
        </a> </td>
      <td width=207 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1220freebash02-tb.html"> 
        <center>
          <img src="1220freebash02-tb.JPG" width=125 height=93 alt="Loading..."><br>
        </center>
        <center>
          (9K)
        </center>
        <center>
          320 x 240
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1220freebash03-tb.html"> 
        <center>
          <img src="1220freebash03-tb.JPG" width=125 height=93 alt="Loading..."><br>
        </center>
        <center>
          (10K)
        </center>
        <center>
          320 x 240
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1220freebash04-tb.html"> 
        <center>
          <img src="1220freebash04-tb.JPG" width=125 height=93 alt="Loading..."><br>
        </center>
        <center>
          (8K)
        </center>
        <center>
          320 x 240
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1220freebash05-tb.html"> 
        <center>
          <img src="1220freebash05-tb.JPG" width=125 height=93 alt="Loading..."><br>
        </center>
        <center>
          (8K)
        </center>
        <center>
          320 x 240
        </center>
        </a> </td>
      <td width=175 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="1220freebash06-tb.html"> 
        <center>
          <img src="1220freebash06-tb.JPG" width=80 height=125 alt="Loading..."><br>
        </center>
        <center>
          (5K)
        </center>
        <center>
          155 x 240
        </center>
        </a> </td>
      <td width=220 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="1220freebash07-tb.html"> 
        <center>
          <img src="1220freebash07-tb.JPG" width=80 height=125 alt="Loading..."><br>
        </center>
        <center>
          (7K)
        </center>
        <center>
          155 x 240
        </center>
        </a> </td>
      <td width=220 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
  </table>

