<h1>Save the Linoleum</h1>
<h2>Hommage To Home</h2>
<pre>For the sweat of my father 
and the tough nails that broke his heart </pre>
<pre>for the sun on our backs and 
the water on our brows 
the heat on our minds </pre>
<pre>for the silent miles of dirt roads 
Our eyes busy reading the 
signs (on the days we took the car) </pre>
<pre>for bad meals turned good 
by hunger, everything beautiful 
in the red hot heat of our coal stove </pre>
<pre>for an honest sleep in 
an old bed in an old house 
built of hand and log </pre>
<pre>(had nothing been said all day?)</pre>
<p>Poetry from Save The Linoleum<br>
    Copyright 1998 Foolish Games </p>
