
<h1><img src="../../../images/title.png" alt="Foolish Games" width="374" height="40"></h1>
  <h2>Rahman vs. Lewis Boxing Match - November 17, 2001</h2>
<p> Jewel sang the National 
  Anthem at the Hasim Rahman vs. Lennox Lewis heavyweight championship boxing 
  match. 
  <table>
    <tr> 
      <td> <a href="rahlew-tb.html"> 
        <center>
          <img src="rahlew-tb.JPG" width=88 height=125 alt="Loading..."><br>
        </center>
        <center>
          (14K)
        </center>
        <center>
          319 x 450
        </center>
        </a> </td>
      <td width=212 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
  </table>

