<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><!-- #BeginTemplate "/Templates/core.dwt" --><!-- DW6 -->  

  <head>
    <!-- Code by Luke@foolishgames.com NOT for USE without permision //--> 
    <!-- #BeginEditable "doctitle" -->
<title>Chart Positions - News - Jewel - Foolish Games</title>
<!-- #EndEditable --> 
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" />
    <link rev="made" href="mailto:luke@foolishgames.com" />
	<link rel="stylesheet" type="text/css" media="print" href="/print.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/fg.css" />
  </head>

  <body lang="EN">

<!-- Web Design by Lucas Holt //-->

<!-- #BeginEditable "ads" -->

<!-- #EndEditable -->

<!-- Begin Header //-->
	<table width="500" border="0" cellpadding="0" cellspacing="0">
  		<tr> 
    		<td colspan="2" rowspan="2"><img src="/images/minijewel.png" alt="Jewel" width="133" height="136" /> 
    		</td>
    		<td> <img src="/images/newfg_02.jpg" width="371" height="112" usemap="#Map2" border="0" alt="Navigation: FoolishGames.com" />
				<map name="Map2" id="Map2"> 
        			<area shape="rect" coords="10,6,57,23" href="/jewel/index" alt="Home" />
  					<area shape="rect" coords="75,5,136,21" href="/sitemap/index" alt="Site Map" />
  					<area shape="rect" coords="154,5,195,22" href="/email/index" alt="E-mail" />
  					<area shape="rect" coords="220,3,286,23" href="/jewel/lyrics/index" alt="The Music" />
  					<area shape="rect" coords="296,5,356,22" href="/jewel/bio/index" alt="The Story" />
				</map>
			</td>
  		</tr>
  		<tr> 
    		<td>&nbsp; </td>
  		</tr>
	</table>
<!-- End Header //-->

 <div id="content">
  <!-- #BeginEditable "content" --> 
  <h2>News</h2> 
  <p>The following is a summary of chart positions. Special thanks to Bryant.</p> 
  <table cellspacing="1" style="border: #105c60 solid" > 
    <caption>
     The ARC Weekly Top 40 
    </caption> 
    <thead> 
      <tr style="background: #ebf5f5">
	  <th></th>
	  <th>Song</th>
	  <th>Position</th>
	  <th>Weeks</th>
	  <th>Year</th>
	  <th></th>
	  </tr> 
    </thead> 
    <tbody> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>1</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1996/11-30.htm">
		<strong>You Were Meant For Me</strong></a><br /> 
         <a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
		<em>Pieces Of You</em></a></td> 
        <td valign="top" align="center">
		<a href="http://www.rockonthenet.com/archive/1997/02-22.htm"><strong>2</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>25</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a 
href="http://www.rockonthenet.com/archive/1997/main.htm"><strong>1997</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a 
		href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20"><strong>LISTEN / BUY</strong></a>
		<strong> ]<br /> 
          [ </strong><a href="../lyrics/data/17.htm"><strong>LYRICS</strong></a> 
		  <strong> ]</strong></td> 
      </tr> 
	  
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>2</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1997/07-19.htm">
		<strong>Foolish Games</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
		  <em>Pieces Of You</em></a> and <a href="http://www.amazon.com/exec/obidos/ASIN/B000002NFZ/rockonthenet-20"><em>Batman And Robin</em></a> soundtrack</td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1997/10-04.htm"><strong>1(3)</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>22</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/1997/main.htm"><strong>1997</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong>
		<a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="../lyrics/data/9.htm"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>3</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1996/05-18.htm"><strong>Who Will Save Your Soul</strong></a><strong><br /> 
                                          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20"><em>Pieces Of You</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1996/08-17.htm"><strong>3</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>19</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1996/main.htm"><strong>1996</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5">
<strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="../lyrics/data/16.htm"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>4</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2003/04-19.htm"><strong>Intuition</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><em>0304</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2003/06-21.htm"><strong>5</strong></a>
		</td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>18</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/2003/main.htm"><strong>2003</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/intuition.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>5</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1998/10-31.htm"><strong>Hands</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/01-02.htm"><strong>2</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>15</strong></td> 
        <td valign="top" style="border: #008080"  align="center"><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background:#ebf5f5">
<strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/hands.html"><strong>LYRICS</strong></a>
<strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>6</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2001/10-13.htm"><strong>Standing Still</strong></a> <strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"> <em>This Way</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2001/12-22.htm"><strong>4</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>15</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2001/main.htm"><strong>2001</strong> </a>&nbsp;</td> 
        <td valign="top" align="right" width=""15%"" bgcolor="#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/standingstill.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>7</strong></td> 
        <td valign="top"><a target="_blank" href="http://www.rockonthenet.com/archive/1999/03-27.htm"><strong>Down So Long</strong></a><strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/05-15.htm"><strong>5</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>12</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/downsolong.html">
<strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>8</strong></td> 
        <td valign="top"><a target="_blank" href=""http://www.rockonthenet.com/archive/1999/08-14.htm"><strong>Jupiter (Swallow The Moon)</strong></a><strong> <br /> 
        </strong><a target="_blank" href=""http://www.amazon.com/exec/obidos/asin/b00000f1cy/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/09-18.htm"><strong>15</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>8</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" width="15%" bgcolor="#ebf5f5">
<strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/jupiter.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">
<strong>9</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2003/09-20.htm"><strong>Stand</strong></a><strong><br /> 
        </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><em>0304</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2003/10-18.htm"><strong>26</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>5</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2003/main.htm"><strong>2003</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a target="_blank" href="http://www.google.com/search?q=Jewel+lyrics+Stand"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>10</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2002/05-04.htm"><strong>Break Me</strong></a><strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2002/05-25.htm"><strong>30</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>4</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><font face=Arial size=1><strong> ]<br /> 
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/breakme.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td bgcolor="#ebf5f5" colspan="6">&nbsp;</td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>Life Uncommon<br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><font face=Arial size=1><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/lifeuncommon.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>What's Simple Is True<br></strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong> </a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20">
		<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/whatssimpleistrue.html">
		  <strong>LYRICS</strong></a> <strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>This Way
        </strong><br /><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong> </a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/thisway.html">
		<strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>Serve The Ego</strong><br /><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em> </a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong></a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http=://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20">
		<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        </strong></td> 
      </tr> 
    </tbody> 
  </table> 
  <!-- #EndEditable -->

     
  <p> <a href="/jewel/lyrics/index" title="Lyrics">lyrics</a> | <a href="/jewel/poetry/index" title="Poetry">poetry</a> 
    | <a href="/jewel/bio/index" title="Biography">biography</a> | <a href="/download/index" title="Downloads">downloads</a> 
    | <a href="/jewel/disc/index" title="Discography">discography</a> | <a href="/jewel/links/index" title="Links">links</a> 
    | <a href="/jewel/misc/index" title="Miscellaneous">miscellaneous</a> 
    <br />
    <a href="/jewel/pics/index" title="Pictures">pictures</a> | <a href="/jewel/news/index" title="Jewel News">news</a> 
    | <a href="/email/index" title="E-mail the Webmaster">e-mail</a> | <a href="/jewel/guest/index" title="Guest Book">guest 
    book</a> | <a href="/ml/index" title="Mailing List">mailing list</a> | <a href="/cgi-bin/bb/bb" title="Message Board">message board</a></p>

  </div>

<!-- Begin Footer //-->
	<p class="copy">
		<img src="/images/newfg_05.png" width="497" height="108" usemap="#Map" border="0" alt="Copyright 1996-2003 Lucas Holt.  All Rights Reserved." /> 
  		<map name="Map" id="Map"> 
    		<area shape="rect" coords="262,12,347,29" href="/privacy" alt="Privacy Policy" />
    		<area shape="rect" coords="360,11,417,28" href="/disclaimer" alt="Legal Information" />
    		<area shape="rect" coords="90,56,153,71" href="/email/index" alt="E-mail Address" />
  		</map>
	</p>
<!-- End Footer //-->
	
  <!-- Code Copyright 1996-2003 Lucas Holt //-->

  </body>

<!-- #EndTemplate --></html>