<h3>Photo Shoots</h3>

<p>The pictures on this page represent some of the
&quot;classic&quot; and &quot;most recognizable&quot; photographs you will ever
see.&nbsp; These pictures defined the first &quot;impression&quot; the music
world was given of Jewel Kilcher.&nbsp; You can tell that her label had no idea
how to market her.</p>

<ul class="thumbnails">
<li class="span2">
        <a class="thumbnail" href="../../../images/pics/rso/jewel1z.jpg"><img
                data-ng-src="../../../images/pics/rso/jewel1z_small.jpg" alt="" ></a>
    </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel2z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel2z_small.jpg" alt="" ></a>
        </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel4z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel4z_small.jpg" alt="" ></a>
        </li>
    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel6z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel6z_small.jpg" alt="" ></a>
        </li>

    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel3z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel3z_small.jpg" alt="" ></a>
        </li>

    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel5z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel5z_small.jpg" alt="" ></a>
        </li>

    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel9z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel9z_small.jpg" alt="" ></a>
        </li>

    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel8z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel8z_small.jpg" alt="" ></a>
        </li>

    <li class="span2">
            <a class="thumbnail" href="../../../images/pics/rso/jewel7z.jpg"><img
                    data-ng-src="../../../images/pics/rso/jewel7z_small.jpg" alt="" ></a>
        </li>
</ul>
<p>Please note the last image is from the Democratic National
Convention.</p>  

<hr>  


  <p class="copy">Some pictures acquired from Rolling Stone Online (RSO) and are Copyright 1997 RSO.</p> 
