<h3>Ride With The Devil</h3>

<p>
    Photos related to the filming of Ride With The Devil. Jewel was featured as a
    lead role in the movie.
</p>

<ul class="thumbnails">
    <li><a class="thumbnail" href="../../../images/pics/ridewiththedevil/rwtd_still1.jpg">
        <img src="../../../images/pics/ridewiththedevil/rwtd_still1-tb.JPG" alt="">
    </a></li>
    <li><a class="thumbnail" href="../../../images/pics/ridewiththedevil/rwtd_still2.jpg">
        <img src="../../../images/pics/ridewiththedevil/rwtd_still2-tb.JPG" alt="Photo taken during production<">
    </a></li>
</ul>
