<h3>Standing Still</h3>
<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s1.jpg"><img
                src="../../../images/pics/thisway/standing_still/s1-tb.JPG"></a>
    </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s2.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s2-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s3.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s3-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s4.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s4-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s5.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s5-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s6.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s6-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s7.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s7-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s8.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s8-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s9.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s9-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s20.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s20-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s21.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s21-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s22.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s22-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s23.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s23-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s24.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s24-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s25.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s25-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s26.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s26-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s27.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s27-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s28.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s28-tb.JPG"></a>
       </li>

    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s30.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s30-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s31.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s31-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s32.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s32-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s33.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s33-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s34.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s34-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s35.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s35-tb.JPG"></a>
       </li>
    <li class="span2">
           <a class="thumbnail" href="../../../images/pics/thisway/standing_still/s36.jpg"><img
                   src="../../../images/pics/thisway/standing_still/s36-tb.JPG"></a>
       </li>
</ul>
