<h2>Clio, MI Show - July 18, 2004</h2>

<p>Jewel performed in Clio, MI at 8:00PM in the Clio Area Amphitheater. Special thanks to Mike for the pictures.</p>

<ul class="thumbnails">
    <li class="span2"><a class="thumbnail" href="../../../images/pics/071804/Clio1.JPG"><img
            data-ng-src="../../../images/pics/071804/Clio1.JPG" alt="Image 1"></a></li>
    <li class="span2"><a class="thumbnail" href="../../../images/pics/071804/Clio2.JPG"><img
            data-ng-src="../../../images/pics/071804/Clio2.JPG" alt="Image 2"></a></li>
</ul>