
  
<div class="picnavbar"><a href="../musicvideos/index.html">previous</a> &nbsp;<a href="../misc/index.html">next</a>&nbsp; 
  <a href="../index.html">table of contents</a> 
  <hr>
    </div>

<h1><img src="../../../images/title.png" alt="Foolish Games" width="374" height="40"></h1>
<h2>2001 Rod Stewart Event</h2>
<p>
These pictures were taken at an event honoring Rod Stewart (02/2001). <font face="Arial, Helvetica" size=4 color=#000000> 
<p> 
</font> 
<table>
	<tr>
		<td>
			<a href="f.jpg">
			<center>
				<img src="f-tb.JPG" width=77 height=125 alt="Loading..."><br>
			</center>
			<center>(36K)</center>
			<center>250 x 404</center>
			</a>
		</td>
		<td width=223 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="g.jpg">
			<center>
				<img src="g-tb.JPG" width=74 height=125 alt="Loading..."><br>
			</center>
			<center>(36K)</center>
			<center>250 x 419</center>
			</a>
		</td>
		<td width=226 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="j.jpg">
			<center>
				<img src="j-tb.JPG" width=83 height=125 alt="Loading..."><br>
			</center>
			<center>(25K)</center>
			<center>240 x 360</center>
			</a>
		</td>
		<td width=217 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
</table>
