<h2>Birmingham, UK - May 31, 2002</h2>

<p>Jewel performed in the Symphony Hall.</p>

<strong>setlist</strong>
<pre>
I Won't Walk Away
Standing Still
Do You Want To Play
Jesus Loves You
Hands
Till We Run Out Of Road
What's Simple Is True
You Were Meant For Me

Stephenville Texas
Morning Song
Cold Song
Little Sister
A Long Slow Slide 

Life Uncommon
Down So Long
Serve The Ego
Love Me Just Leave Me Alone
Everybody Needs Someone Sometime
New Wild West
Who Will Save Your Soul 

Encores
Foolish Games
The Other Woman 
</pre>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/birmingham/1.jpg"><img
                data-ng-src="../../../images/pics/birmingham/1.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/birmingham/2.jpg"><img
                data-ng-src="../../../images/pics/birmingham/2.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/birmingham/3.jpg"><img
                data-ng-src="../../../images/pics/birmingham/3.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/birmingham/4.jpg"><img
                data-ng-src="../../../images/pics/birmingham/4.jpg" alt=""></a>
    </li>
</ul>