<h1>JewelStock '96</h1>

<h2>Fat</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp; There she sat, a mound
of flesh</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; with just two
eyes to comprehend</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; the extensiveness
of her being.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; She made a mountaint
of herself,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; so no one could
look down.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; So no one would
miss or fail to see</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; the tiny woman
hands that talked</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; desperately of
delicate things.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; Through a fist
full of rings</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; to all who would
stop and listen.</FONT><FONT FACE="Arial,Helvetica"></FONT>


<P class="copy">Poetry from JewelStock '96
<br>Copyright Jewel Kilcher
1996
<br>Page Copyright 1998 Foolish
Games
   </P>