<h1>JewelStock '96</h1>

<h2>God knows what time it is</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
God knows what time it is,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
and I awakened by what?</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
Perhaps a noise unsettled me,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
or a fitful dream filled with sour grapes and snowstorms.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
I could have sworn it was all covered in ice,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
limbs torn at the joints with a heavy and translucent burden.</FONT>

<P><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
He was on my lips again, haunting me.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
Soiled linen, bloody and tangled, about my intestines.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
I want to get out.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
So I sit, in a sweat, a blonde flame of a refugee</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;
throwing up words like gravestones in the bathroom.</FONT>


<P class="copy">Poetry from JewelStock '96
<br>Copyright Jewel Kilcher
1996
<br>Page Copyright 1998 Foolish
Games
   </P>