<h1>JewelStock '96</h1>

<h2>I am not from here</h2>

<FONT FACE="Arial,Helvetica"><B>&nbsp;&nbsp;&nbsp;&nbsp;</B> I am not from
    here,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; my hair smells
    of the wind</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; and is full of
    constellations,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; and I move about
    this world</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; with a healthy
    disbelief.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; And I approach
    my days and my work</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; with vaporous
    consequence</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; a touch that
    is translucent,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; but can violate
    stone.</FONT><B><FONT FACE="Arial,Helvetica"></FONT></B>

<P><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Poetry from JewelStock '96</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Copyright Jewel Kilcher
        1996</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Page Copyright 1998 Foolish
        Games</FONT></FONT>
