<h3>JewelStock '96</h3>

<p>These poems were written
    on the night Jewel got sick off the attempt of smoking a cigar. Some titles
    have been added.&nbsp;&nbsp;

<ul>
    <li><a HREF="As_a_child.htm">As A Child</a></li>
    <li><a HREF="Fat.htm">Fat</a></li>
    <li><a HREF="God_knows_what_time_it_is.htm">God
        knows what time it is</a></li>
    <li><a HREF="I_am_not_from_here.htm">I am
        not from here</a></li>
    <li><a HREF="Infatuation.htm">Infatuation</a></li>
    <li><a HREF="Lost.htm">Lost</a></li>
    <li><a HREF="Sunbathing.htm">Sunbathing</a></li>
    <li><a HREF="Taking_the_slave.htm">Taking
        The Slave</a></li>
    <li><a HREF="This_cigar.htm">This Cigar</a></li>
    <li><a HREF="What_i_wanted.htm">What I Wanted</a>
    </li>
</ul>
 
