<h3>JewelStock '96</h3>

<p>These poems were written
    on the night Jewel got sick off the attempt of smoking a cigar. Some titles
    have been added.</p>

<ul>
    <li><a HREF="As_a_child.html">As A Child</a></li>
    <li><a HREF="Fat.html">Fat</a></li>
    <li><a HREF="God_knows_what_time_it_is.html">God
        knows what time it is</a></li>
    <li><a HREF="I_am_not_from_here.html">I am
        not from here</a></li>
    <li><a HREF="Infatuation.html">Infatuation</a></li>
    <li><a HREF="Lost.html">Lost</a></li>
    <li><a HREF="Sunbathing.html">Sunbathing</a></li>
    <li><a HREF="Taking_the_slave.html">Taking
        The Slave</a></li>
    <li><a HREF="This_cigar.html">This Cigar</a></li>
    <li><a HREF="What_i_wanted.html">What I Wanted</a>
    </li>
</ul>
 
