

<h1>JewelStock '96</h1>

<h2>Infatuation</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; Infatuation is a
strange thing.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; A bony creature
thin with feeding on itself.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; It is addicted
not to its subject, but to its own vain hunger</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; And needs but
a pretty face to fuel its rampant imagination.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; It's humid couch
and sweaty palms.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; It's fleshy carpets
ablaze with conquest.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; But when conquering
is complete,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; the blood leaves
its limbs and it becomes disenchanted.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; Disappointed
even to the point of disgust</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; with its subject,
who sits then, like a hollow trunk,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; emptied of its
precious cargo</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; and left to fade
like defeated naval ships.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; A seed relieved
of its transparent husk,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; to dissolve finally
on a rough and impatient tongue.</FONT><FONT FACE="Arial,Helvetica"></FONT>

<P><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Poetry from JewelStock '96</FONT></FONT>
<BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Copyright Jewel Kilcher
1996</FONT></FONT>
<BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Page Copyright 1998 Foolish
Games</FONT></FONT>
