<h1>JewelStock '96</h1>

<h2>Sunbathing</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I read a book, and
    the man thinks I cannot see</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; the wrinkled
    posture of his son as he is nudged.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; He thinks I cannot
    sense four eyes upon my flesh,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; as the father
    tries to bond with his teenage boy by ogling my</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; breasts.</FONT><FONT FACE="Arial,Helvetica"></FONT>


<P class="copy">Poetry from JewelStock '96
<br>Copyright Jewel Kilcher
1996
<br>Page Copyright 1998 Foolish
Games
   </P>