<h1>JewelStock '96</h1>

<h2>Sunbathing</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I read a book, and
    the man thinks I cannot see</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; the wrinkled
    posture of his son as he is nudged.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; He thinks I cannot
    sense four eyes upon my flesh,</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; as the father
    tries to bond with his teenage boy by ogling my</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; breasts.</FONT><FONT FACE="Arial,Helvetica"></FONT>

<P><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Poetry from JewelStock '96</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Copyright Jewel Kilcher
        1996</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Page Copyright 1998 Foolish
        Games</FONT></FONT>
