

<h1>JewelStock '96</h1>

<h2>Taking The Slave</h2>

&nbsp;&nbsp;&nbsp;&nbsp; Burn her eyes, without hope of understanding them.
<BR>&nbsp;&nbsp;&nbsp;&nbsp; Kiss her mouth, that you may fathom its strange
tongue.
<BR>&nbsp;&nbsp;&nbsp;&nbsp; Indulge in her brown skin because it reminds
you of mother.
<BR>&nbsp;&nbsp;&nbsp;&nbsp; Rape her mind, because it is not your own,
<BR>&nbsp;&nbsp;&nbsp;&nbsp; but so sweet, so familiar.
<BR>&nbsp;&nbsp;&nbsp;&nbsp; Like coming home to a native land
<BR>&nbsp;&nbsp;&nbsp;&nbsp; your pale and inbred hands can only faintly
fathom.

<P><FONT SIZE=-2>Poetry from JewelStock '96</FONT>
<BR><FONT SIZE=-2>Copyright Jewel Kilcher 1996</FONT>
<BR><FONT SIZE=-2>Page Copyright 1998 Foolish Games</FONT>
