

<h1>JewelStock '96</h1>

<h2>This Cigar</h2>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT FACE="Arial,Helvetica"> This cigar will not
leave me</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; and I too lazy
to get my book</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; write on random
pages</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; to further dizzy
and dilute</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; any scrap of
discipline I had dreamt I had gained</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; by this silly
age of 22.</FONT><FONT FACE="Arial,Helvetica"></FONT>

<P><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; Not even coated
in nickel, or copper.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; Just a harsh
brass, that stares me down, in the mirror.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; On nights like
this, while my lover sleeps</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; His razor-sharp
princess disillusioned by falling stars.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; And hunted by
tulips at three am.</FONT><FONT FACE="Arial,Helvetica"></FONT>


<P class="copy">Poetry from JewelStock '96
<br>Copyright Jewel Kilcher
1996
<br>Page Copyright 1998 Foolish
Games
   </P>