<h1>JewelStock '96</h1>

<h2>What I Wanted</h2>

<FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I guess what I wanted
    was to hear</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; you'd stay with
    me always.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I guess what
    I wanted was to see</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; those hands vowing
    never to leave my own.</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I guess what
    I wanted to know was</FONT>
<BR><FONT FACE="Arial,Helvetica">&nbsp;&nbsp;&nbsp;&nbsp; I am not loving
    in vain.</FONT><FONT FACE="Arial,Helvetica"></FONT>

<P><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Poetry from JewelStock '96</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Copyright Jewel Kilcher
        1996</FONT></FONT>
    <BR><FONT FACE="Arial,Helvetica"><FONT SIZE=-2>Page Copyright 1998 Foolish
        Games</FONT></FONT>
