
<h3>Magazines</h3>

<p> 
These pictures were originally found in magazines or were
taken during photo shoots for magazines. Click on an image to see a larger one. 
</p>

<table>
	<tr>
		<td>
			<a href="jewel_016.jpg">
			<center>
				<img src="jewel_016-tb.JPG" width=92 height=125 alt="Loading..."><br>
			</center>
			<center>(53K)</center>
			<center>445 x 600</center>
			</a>
		</td>
		<td width=208 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_022.jpg">
			<center>
				<img src="jewel_022-tb.JPG" width=119 height=125 alt="Loading..."><br>
			</center>
			<center>(66K)</center>
			<center>247 x 258</center>
			</a>
		</td>
		<td width=181 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_039.jpg">
			<center>
				<img src="jewel_039-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(53K)</center>
			<center>218 x 298</center>
			</a>
		</td>
		<td width=209 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_049.jpg">
			<center>
				<img src="jewel_049-tb.JPG" width=100 height=125 alt="Loading..."><br>
			</center>
			<center>(32K)</center>
			<center>201 x 251</center>
			</a>
		</td>
		<td width=200 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_094.jpg">
			<center>
				<img src="jewel_094-tb.JPG" width=94 height=125 alt="Loading..."><br>
			</center>
			<center>(81K)</center>
			<center>278 x 368</center>
			</a>
		</td>
		<td width=206 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_095.jpg">
			<center>
				<img src="jewel_095-tb.JPG" width=93 height=125 alt="Loading..."><br>
			</center>
			<center>(72K)</center>
			<center>296 x 394</center>
			</a>
		</td>
		<td width=207 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_102.jpg">
			<center>
				<img src="jewel_102-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(94K)</center>
			<center>273 x 375</center>
			</a>
		</td>
		<td width=209 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_103.jpg">
			<center>
				<img src="jewel_103-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(86K)</center>
			<center>273 x 375</center>
			</a>
		</td>
		<td width=209 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_108.jpg">
			<center>
				<img src="jewel_108-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(85K)</center>
			<center>273 x 371</center>
			</a>
		</td>
		<td width=209 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel_109.jpg">
			<center>
				<img src="jewel_109-tb.JPG" width=85 height=125 alt="Loading..."><br>
			</center>
			<center>(77K)</center>
			<center>272 x 397</center>
			</a>
		</td>
		<td width=215 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="jewel_110.jpg">
			<center>
				<img src="jewel_110-tb.JPG" width=95 height=125 alt="Loading..."><br>
			</center>
			<center>(69K)</center>
			<center>274 x 359</center>
			</a>
		</td>
		<td width=205 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="mag1.jpg">
			<center>
				<img src="mag1-tb.JPG" width=96 height=125 alt="Loading..."><br>
			</center>
			<center>(87K)</center>
			<center>465 x 600</center>
			</a>
		</td>
		<td width=204 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="mag2.jpg">
			<center>
				<img src="mag2-tb.JPG" width=117 height=125 alt="Loading..."><br>
			</center>
			<center>(44K)</center>
			<center>270 x 287</center>
			</a>
		</td>
		<td width=183 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
		<td>
			<a href="jewel-elle.jpg">
			<center>
				<img src="jewel-elle-tb.JPG" width=91 height=125 alt="Loading..."><br>
			</center>
			<center>(39K)</center>
			<center>438 x 600</center>
			</a>
		</td>
		<td width=209 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="mag3.jpg">
			<center>
				<img src="mag3-tb.JPG" width=125 height=85 alt="Loading..."><br>
			</center>
			<center>(67K)</center>
			<center>498 x 340</center>
			</a>
		</td>
		<td width=175 align=LEFT>
<font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
			</font>
		</td>
</table>
