<h3>Magazines</h3>

<p>
    These pictures were originally found in magazines or were
    taken during photo shoots for magazines. Click on an image to see a larger one.
</p>

<table>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_016.jpg">
                <img src="../../../images/pics/magazine/jewel_016-tb.JPG" width=92 height=125 alt="Loading..."><br>


            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel_022.jpg">

                <img src="../../../images/pics/magazine/jewel_022-tb.JPG" width=119 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_039.jpg">

                <img src="../../../images/pics/magazine/jewel_039-tb.JPG" width=91 height=125 alt="Loading..."><br>

            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel_049.jpg">

                <img src="../../../images/pics/magazine/jewel_049-tb.JPG" width=100 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_094.jpg">

                <img src="../../../images/pics/magazine/jewel_094-tb.JPG" width=94 height=125 alt="Loading..."><br>

            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel_095.jpg">

                <img src="../../../images/pics/magazine/jewel_095-tb.JPG" width=93 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_102.jpg">

                <img src="../../../images/pics/magazine/jewel_102-tb.JPG" width=91 height=125 alt="Loading..."><br>

            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel_103.jpg">

                <img src="../../../images/pics/magazine/jewel_103-tb.JPG" width=91 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_108.jpg">

                <img src="../../../images/pics/magazine/jewel_108-tb.JPG" width=91 height=125 alt="Loading..."><br>

            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel_109.jpg">

                <img src="../../../images/pics/magazine/jewel_109-tb.JPG" width=85 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/jewel_110.jpg">

                <img src="../../../images/pics/magazine/jewel_110-tb.JPG" width=95 height=125 alt="Loading..."><br>

            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/mag1.jpg">

                <img src="../../../images/pics/magazine/mag1-tb.JPG" width=96 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/mag2.jpg">
                <img src="../../../images/pics/magazine/mag2-tb.JPG" width=117 height=125 alt="Loading..."><br>
            </a>
        </td>

        <td>
            <a href="../../../images/pics/magazine/jewel-elle.jpg">

                <img src="../../../images/pics/magazine/jewel-elle-tb.JPG" width=91 height=125 alt="Loading..."><br>

            </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="../../../images/pics/magazine/mag3.jpg">
                <img src="../../../images/pics/magazine/mag3-tb.JPG" width=125 height=85 alt="Loading..."><br>
            </a>
        </td>

</table>
