<h3>Mix 93: Red, White, and Boom Concert 2001</h3>
<ul class="thumbnails">
    <li><a href="../../../images/pics/redwhiteboom/MIX931.JPG">

        <img src="../../../images/pics/redwhiteboom/MIX931-tb.JPG" width=125 height=68
             alt="Jewel with the Mix 93 Staff.">

    </a></li>
    <li><a href="../../../images/pics/redwhiteboom/MIX932.JPG">

        <img src="../../../images/pics/redwhiteboom/MIX932-tb.JPG" width=125 height=69 alt="Jewel speaking with a DJ.">


    </a></li>
    <li><a href="../../../images/pics/redwhiteboom/MIX933.JPG">

        <img src="../../../images/pics/redwhiteboom/MIX933-tb.JPG" width=125 height=68 alt="">

    </a></li>
</ul>