

<h1>Letter from Jewel's Mother, March 6, 2003</h1>

<p>This originally appeared on the <a href="http://www.jeweljk.com/">Jeweljk.com</a> 
official mailing list.</p>

<pre>
Hi Everyone,

A lot of you are wondering what it was like having the recording going on
at home.  Jewel worked with Lester for about four weeks in her home studio
before they moved to a studio near L.A.  Starting the album here was the
perfect thing for Jewel because she could leave every time it got
boring--which is often in the studio.  There are frequent technological
problems, and tedious engineering stuff that create a lot of hang time and
at home she could simply get into another project or something.

It was fun spending time with the producer, Lester Mendez.  He's a really
great guy, good human being.  And very talented.  We all shared a lot of
fun meals.  It was great watching the songs build every day, seeing Jewel
and Lester's vision for a song start to take shape.

We got the final mix of the first single today and it is amazing.  A
really energetic new exploration for Jewel.  The single is titled
“Intuition,” but it ought to be called “Can't Sit Still.” I can’t wait
until you hear it—it’s scheduled to radio on April 7th.

On another note, we've gotten a lot of requests for more Jewel content on
her site.  We are listening and exploring ways to provide it that is
manageable for us and affordable for you.  I’ll write more on that as we
get feedback from you and determine what is possible.

We are also working on the enhanced portion of the CD now.  What do you
want to see/hear there?

More another time,

Lenedra

</pre>
