<html>
<head>
<title>Letter from Jewel, March 17, 2003</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

<h1>Letter from Jewel, March 17, 2003</h1>

<p>This originally appeared on the <a href="http://www.jeweljk.com/">Jeweljk.com</a> 
official mailing list.  If is a general letter to her fans.</p>

<pre>
FROM THE STUDIO: 

Sort of a slow day.  My dog George is sleeping on my lap.  

We are tracking electric guitars.  I am so happy with how it is all going.
I am really liking how it’s turning out.

I’m pretty satisfied with my lyrics now.  One of my goals, remember, was
to make pop music more lyric-driven and have some fun with that. It feels
raw and really cool, even though it's more techno than any of my other
work.

I was worried at first, cause all our demos were done on computers, so
they all sounded too electronic, but now that we have live drums, and live
bass and acoustic guitars, and yes, even a whistling solo (performed by
yours truly), it sounds much more organic, while still maintaining its
fruity bouquet.

2003 will be an excellent year, with nice legs, and rich, nutty
undertones.  Jeeez.  Anyway, it's going fast and I’m happy so far.

XOXO,
Jewel
</pre>

</body>
</html>