
    <h2>Miscellaneous</h2>
    
                
  <ul type="disc">
    <li> <a href="#bits">Meaningless Bits 'n Pieces from me</a> </li>
    <li> <a href="#list">Jewel Mailing Lists</a> </li>
    <li><a href="lkl.html">Larry King Live Transcript (Oct 2001)</a></li>
    <li><a href="20030317.html">Letter from Jewel in the studio (March 17,
        2003)</a></li>
    <li><a href="20030306.html">Letter from Lenedra about recording at home (March 6, 2003)</a></li>
    <li><a href="charts42003.html">Jewel Chart Positions 4/06/2003</a></li>
    <li><a href="lenedra.html">Letter from Lenedra 4/2003</a></li>
  </ul>
       
    <h3><a name="list">Jewel Mailing Lists</a></h3>
    <p> <a href="http://www.smoe.org">http://www.smoe.org</a> <br />
        <br />
        This is an un-moderated discussion list, currently available as loose
        mail or in digest form. To subscribe (or unsubscribe) send mail to
        &quot;<a href="mailto:jewel-request@smoe.org">jewel-request@smoe.org</a>&quot; 
        with &quot;(un)subscribe&quot; in the body of the
        message. (That's the body, not the subject line.) Jewel is not on the
        mailing list and you cannot contact jewel by sending mail to the list.<br />
        <br />
        To switch to the digest form, send the following three line message to
        &quot;<a href="mailto:majordomo@smoe.org">majordomo@smoe.org</a>&quot;:<br />
        <br />
        unsubscribe jewel<br />
        subscribe jewel-digest<br />
        end<br />
        <br />
        There is a news ONLY list. No posting or discussing. This will include
        such things as media appearances, tours, lyrics, and reviews. To
        subscribe to the news list send e-mail to: <a href="mailto:jewel-news-request@smoe.org">jewel-news-request@smoe.org</a>
        with &quot;subscribe&quot; or &quot;unsubscribe&quot; in the body, not 
        the subject line. <br />
        <br />
        &quot;Jewel Mailing List Netiquette And New Member Guide&quot; <br />
        <a href="http://www.quackquack.net/jewel/">http://www.quackquack.net/jewel/</a></p>
    <p>The list provides a lot of different information. It is also a good place 
        to discuss angel food, new music, and many other topics.</p>
    <p>Jewel's official website also has a mailing list called JeweLink. For more 
        information, visit <a href="http://www.jeweljk.com/">http://www.jeweljk.com/</a> The list is strictly Jewel 
        news and information about products available at the official Jewel store 
        on the site. Many users visit both sites.<br />
  </p>
    <h3><a name="bits">Meaningless Bits 'n Pieces From Me</a></h3>
    <p>I went to see my first Jewel concert September 5th, 1997 at Meadow Brook. 
        (Rochester Hills, MI)&nbsp; I loved the concert. Jewel played part of 
        the concert by herself, and then brought out a band for the latter half 
        of the concert. The opening act was not very good though. The guy was 
        practically boo'd off the stage. Jewel came out during his performance 
        and told us to stop as it was her friend. The crowd was really upset because 
        the concert was supposed to start at 8PM EST and it was almost 8:45PM, 
        and the opening act was still on. Jewel played between 9PM and 9:45PM. 
        She performed mostly tracks off of POY, with a few &quot; new &quot; tracks. 
        Jewel refused to sign autographs or talk to anyone after the concert. 
        Many of us thought it was because the crowd upset her. Someone proposed 
        marriage during the concert to Jewel by yelling from the cheap lawn seats. 
        He was a bit intoxicated. She told him to &quot;shut up and sit down because 
        no one would want to marry you.&quot; He did just that. I went to the 
        concert with a friend, Michelle. She did not care to much for the concert. 
        At the time she told me she had a good time, but I found out later she 
        was humoring me. Go figure. Jewel also told a short antedote about a high 
        school she played in the Detroit area in the past. She said that the students 
        thought she was Jewell, a rap group. She quickly was boo'd off stage. 
        After the concert, several young girls were singing &quot;Pieces of You&quot; 
        at the top of their lungs in the parking lot. Some stayed for the second 
        &quot;concert.&quot; My biggest complaint about the concert was that there 
        were not any good t-shirts to purchase. Just two days later I went on 
        my first date with my wife Caryn. I guess you could say that was a really 
        good weekend for me.</p>
