
<h2>Miscellaneous</h2>
  <pre>

larry king live transcript from around 10/25/2001---


KING: She is just in from Australia. It is a great pleasure to welcome 
Jewel to LARRY KING LIVE. She is the singer-songwriter and author. A new album coming
next month called "This Way." But the song she is going to sing tonight
is "Hands."


That is from your last album, right?


JEWEL, SINGER: Correct.


KING: How did this all come about?


JEWEL: A radio station in New York actually did a version where they put
President Bush speaking over it and people calling in when they had seen the
towers fall, and it just sort of became an anthem, I guess in New York.


KING: Where were you on September 11?


JEWEL: Camping. I didn't know it happened until 12th.


KING: No kidding?


JEWEL: Yes.


KING: Where did you learn it?


JEWEL: I learned it driving out, we saw a ranch with its flag at half-staff,
and we started driving through these mountain country cities and saw all the
flags out.


KING: Thanks for coming, Jewel.


JEWEL: Thank you.


KING: We would like to dedicate this song to Jenny Ann Mefeo (ph). She was
burned over 90 percent of her body in the attack on the World Trade Center. 
She
clung to life for 41 days at New York's Weill Cornell Burn Unit. That is the
medical facility this program took you into last month.


Yesterday Jenny Ann Mefeo lost her courageous battle for survival. Our 
thoughts
and prayers are with her family and her friends. Here is Jewel.


(JEWEL SINGS "HANDS")



TO ORDER A VIDEO OF THIS TRANSCRIPT, PLEASE CALL 800-CNN-NEWS OR USE OUR 
SECURE
ONLINE ORDER FORM LOCATED AT www.fdch.com
---
</pre>
