
<h2>World Series Game 2 - October 27, 2001</h2>

<p> Jewel performed the National 
  Anthem.
<p>

  <table>
    <tr> 
      <td> <a href="102701anthem-tb.html"> 
        <center>
          <img src="102701anthem-tb.JPG" width=98 height=125 alt="Loading..."><br>
        </center>
        <center>
          (18K)
        </center>
        <center>
          355 x 450
        </center>
        </a> </td>
      <td width=202 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
      <td> <a href="102701anthem02-tb.html"> 
        <center>
          <img src="102701anthem02-tb.JPG" width=86 height=125 alt="Loading..."><br>
        </center>
        <center>
          (15K)
        </center>
        <center>
          310 x 450
        </center>
        </a> </td>
      <td width=214 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="102701anthem03-tb.html"> 
        <center>
          <img src="102701anthem03-tb.JPG" width=90 height=125 alt="Loading..."><br>
        </center>
        <center>
          (22K)
        </center>
        <center>
          326 x 450
        </center>
        </a> </td>
      <td width=210 align=LEFT> <font face="Arial, Helvetica" size=3 color=#000000>&nbsp; 
        </font> </td>
  </table>
