<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>In a Woman's Life (Madison, NJ April 13, 96)</h1>
<pre>
Somewhere between right and wrong is a love song
Its tongue hits the target but its phone number is always wrong
It speaks through calluses of gentler things
It speaks of charity
but I don't think you know what that word means
Your love is a bitter seed that only the blind can see
Well, if this is what love is
Then I guess there's no love song left in me

Somewhere between right and wrong is reality
Justice and shame speak foolishly of impractical things
I'm tired of your grey laughter
I am tired of your hungry eyes
This love is so rotten it's starting to attract flies
Your love is something that must do but never be
If this is what love is, then I guess there's no love song left in me

I didn't mean to fall into darkness
I just trip in the lights
cause aw man it's hard to see that clearly and not put up a fight
I knew then I would break and not bend
Just look at this trouble I'm in
I need to realize
This is how the unhappy half dies

Somewhere between good and bad is every lie I've ever been told
But it all comes done your good deeds don't count it's what cards you hold
Your kisses are as kind as candles
Your hands are as giving as stone
Your mind as kind as Hitler's until night leaves you feeling alone
Your love is a bitter seed that only the blind can see
Its blade is made of jealousy and insecurity
Your love is something I must do but never be
If this is what love is
Yeah, if this is what love is
Then I guess there's no love song left in me
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>