<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>I've Got The Blues More Than You Do Blues</h1>
<pre>
Grew up in the Mississippi delta
In a shotgun shack
Washboard for my pillow
'Til the tax man took that back
Moved out on my own
I was just twelve years old ... top that

You think you got the blues
Look at my life
I've got the blues more than you do ... blues

When I was an itty-bitty baby
I was my mama's only surviving son
She used my head as a washrag
I thought it was fun
Walked uphill to school both ways
With no legs ... top that

You think you got the blues
Look at my life
I've got the blues more than you do ... blues

Got so drunk i couldn't find my way home
Had to have a blind man show me
When I finally did get there,
My own dog had disowned me
A womam in a bar just looks at me and coughed and said
"I don't even know you, but I wish you'd die off" ... top that

You think you got the blues
Look at my life
I've got the blues more than you do ... blues
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>