<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Jessica</h1>
<pre>
He used to walk with Jessica
Down to the diner
They'd sit and talk for hours
About nothin' in particular
Just bullshit the time away
That's what she used to say
She'd wrinkle her nose when she said it
That's how you know she meant it
Jessica
Jessica

She'd call him at nine a.m.
To see how sleep had been treatin' him
And though they were never lovers
They were soulmates under cover
They'd drink beer and sit around
Or just sit still and not make a sound
And he would shudder to think
Of what life would be like
Without his best friend -slash- shrink
Jessica

     Bridge:
     She's an angel at his table
     Forced to feel but not to see
     Blinded by her absence
     Haunted by her memory
     If only you were able to see the angel at your table

He got a phone call
From her mother
He said, "Yeah, right stop kidding around."
He felt his heart fall to the ground
Since then everyday
Seems to feel like winter
Everything is colorless
As he can't see it with her
Jessica
Jessica

He could easily have been with her
Driving home in the car
It was her birthday
It's sick how things work out that way
Now at night when he sleeps
A watch over him she keeps
She whispers in his ear
For his heart to hear
Jessica
Jessica

It's amazing how a soul can leave
Suddenly from a body
Rendering it useless
And stealing its desire to breathe
One moment here then gone
With no forwarding address
Love no longer has a house
Residence in flesh
Religion without a temple
No place to take your worship to
No God for the eyes to see
No fruit to lay at the feet
of Jessica
Jessica

If only you were able to see
The angel at your table
Then you'd understand why
You never got to say goodbye
To Jessica
There's no such word as goodbye
For Jessica
She's always standing by
Jessica
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>