<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Just Passing Time</h1>
<pre>
I like the way that you come
Running up to me
It sort of reminds me of
Black and white movies

And I will put a white dress on and
By the window wait
For my Richard Gere to come
(*or For my Marlin Brando to come)
Crashing through the gate

Sometimes I talk on the phone
Until my ears are numb
My friends all say it's because
I can't face anyone

I know I'm just passing time
I'm just passing time

Saw you walking downtown
To the video store
Saw you with another girl
I'm sure she was a whore

You say she means nothing to you
Thus nothing to me
Excuse me while I get drunk
On too much bad T.V.

Sitting here and I'm waiting
For your mouth to open up
And start overflowing
Like Jesus' cup

And I'm just passing time
I'm just passing time
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>