<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Kiss Your Ass</h1>
<pre>
What time should i pick you up tonight
to make me seem more selectable
What kind of flowers should i bring your mother
to make me seem more delectable

I got no problem with family events
I like lemonade, camping, kids, and tents
I'll do anything you ask
no matter the task
My whole purpose on earth
is just to
Kiss your ass

What kind of drugs should I take tonight
to make me seem like I'm introverted
What kind of porn mags should I bring your brother
to make me seem like I'm still perverted

I got no problem with family events
I like lemonade, camping, kids, and tents
I'll do anything you ask
no matter the task
My whole purpose on earth
is just to
Kiss your ass

Teach me something I don't know
But I swear I'll be something someday
I strain my ears listnin too hard to what you say
How many times should I cruise your block
on my tiny red tricycle
Screaming your name sweet heart in vain
This love stew has got me in a pickle

I got no problem with family events
I like lemonade, camping, kids, and tents
I'll do anything you ask
no matter the task
You're just the directory baby
I'm the cast
You'll be promiscuous
And I'll be chaste
cuz my whole purpose on earth
My whole purpose on earth
My whole purpose on earth
My whole purpose on earth
My whole purpose on earth
is just to kiss your ass
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>