<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Lay Me Down</h1>
<pre>
Lay me down with the childrem
Lay me down for I'm tired and I'm weary
And it's been so long since last I slept - weak
The Japanese carpet and my feather bed's too big
The shower's too wide and the hands of your memory leave me cold

Now you say you're leaving me
That's fine if you do
It's not the leaving that hurts
It's remembering all the kisses, the sweet smiles, the sunsets
All the times we made love
If only you were dead then I'd know you were gone
You were the good one who said time meant nothing
Now you're gone - time's all I have left

[The next line is completely unintelligible. It MIGHT be "With some guy's
tongue making me feel fettered and abandoned" or it could be something
completely different!]
His cold hands on my thigh
And I wake up the next morning and I'm hurting and I know that you're gone
'Cause that said he would teach you how to cry [?]

Lay me down with the children
Lay me down for I'm tired and weary
But it's been so long since I slept - weak
And it has been so long
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>