<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Little Sister</h1>
<pre>
Hey little sister I heard you went to Mr. So and So, knocking on his door
again last night, said you needed it bad -
you know that ain't right
Cause you've come to me crying
trying to stop, you said it hurts so bad
But please don't let you
go back for more
My little sister is a Zombie in a body
with no soul a role she has learned to play
in a world today where nothing else matters
but it matters, we gotta start feeding our souls
Not our addictions or afflictions of pain
to avoid the same questions we must
ask ourselves to get any answers
We gotta start feeding our souls
have been lost to the millions with lots
who feed on addiction selling pills and what's hot
I wish I could save her from all their delusions
all the confusion
of a nation that starves for salvation
but clothing is the closest approximation
to God and He only knows that drugs
are all we know of love
Every day we starve while we eat white bread
and beer instead of a handshake or hug
We spill the pills and sweep them
under the rug
My little sister is a Zombie in a body
with no soul a role she has learned to play
in a world tday where nothing else matters
but it matters, we gotta start feeding our souls
Hey little sister I heard you went to Mr. So and So's
Knockin' on his door again last night
Said you needed more
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>