<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>The Little Bird</h1>
<pre>
Sung to Jewel Kilcher by her mother Lenedra as a child


here's a little bird somebody sent
Down to the Earth to live on the wind
Blowing on the wind
And she sleeps on the wind
This little bird somebody sent.

Light and fragile and feathered sky blue
Thin and graceful, the sun shining through
She flies so high up in the sky
Way out of reach of human eyes.

Light and fragile and feathered sky blue
Thin and graceful, the sun shining through
She flies so high up in the sky
Way out of reach of human eyes.

Light and fragile, she's feathered sky blue
Thin and graceful the sun shining through
And the only time that she touches ground
Is when that little bird, little bird
Is when that little bird, little bird
Is when that little bird dies.
</pre>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>