<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Love Me Just Leave Me Alone</h1>
<pre>
*** The lyrics in parentheses are from the acoustic solo version

I saw you standing there
Barbed wire in your pocket (Someone's brain popped as)
You were combing barbed wire through your hair
You thought I didn't notice
The skin on your teeth had a tear
To make me notice you started to shout
Then you and all your midgets (Then you and your munchkins)
Started flapping your tiny arms all about
They said you were the wise man
When did they teach wise men to pout?
I tried to forget you
But you tied bells to your name
They jingle everytime I thought of you
Without shame

I tried to be unlovable (I'm trying to be unlovable)
Why couldn't you do the same?

What's the matter?
Did you love need a home?
Alright then
Love me just leave me alone
(Love me just leave me alone)

(You thought all the curiosity...)
Your mother was a wolf bite
Your daddy was a cigarette
Your brother was a rose bud
Cross breath like a car wreck
Your sister was a stockbroker
But you - you ain't nothing but a turtleneck
You were standing there hypnotized
In the middle of the street
You had iron butterflies as kisses
You had gold dust in your teeth
You use one eye as a hostage
The other eye to stab your own meat
But your mind is a circle
But it clings to straight lines
Your arms are like corset strings
They only know how to find
Linens are adorable
Why don't you try it sometime

What's the matter
Did your love need a home?
Alright then
Love me just leave me alone

It's not your little boy's mind
It's not your little boy's mind
It's those big boy hands when I'm no longer there

Well, I'm trying to be unlovable
Why couldn't you do the same?

What's the matter?
Did your love need a home?
ALright then
Love me just leave me alone

What's the matter?
Did your love need a home?
Alright then
Love me just leave me alone
Love me just leave me alone
Love me just leave me alone
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>