<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Making Me Blue</h1>
<pre>
My body is changing
To fit itself around your shoe
And my insides are aching
To be closer to you

You're like a crevice
Like a crack, not a trace
I can't make myself small enough
To fit in your space

If you come down, if you come down, if you come down
Down off your one-legged horse
Your immortal course
Is making me blue, yeah
You're making me blue, yeah

My limbs are changing
My heart is filled with growing pains
But you are so perfect
A brittle vessel filled with rain

You're like a rock
You're like a razor, like a tack
You're pulse is pale
But your humor's always black

If you come down, if you come down, if you come down
Down off your one-legged horse
Your immortal course
You're making me blue, yeah
You're making me blue, yeah

I'm your servant
I'm down on my knees
I'll be wishing you here
After I leave
I would worship you irreverantly
Just meet me half way
And I will lay you down
Come towards me, baby

We fit together
Like a couple of spoons
Although one moment the spell is wrought
Hope no one opens this velvet drawer
Love is always over too soon

But I want to hold you
Forever in flight
'Til we're two old flames
There's a mighty thin line
Dancing by a dim light

If you just come down, if you come down
Won't you please come down
Down off your one-legged horse
Your immortal course
Is making me blue, yeah
You're making me blue, yeah

And my body is changing...
To fit itself around your shoe
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>