<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Mamma's Little Hero</h1>
<pre>
Transcribed by Adam Longfellow

Every mom wants her little boy
To grow up and be a hero
Size years of age
She planted the seed
His young hands burdened
Bewildered and confused
How how the hell can a little boy satisfy a woman's needs

Nobody told him what you are
Not what she needs you to be
She made him her lover
But only through words
Inappropriate intimacy ....
And high hopes and dreams
She made him her babbot
Wound him so tight that she robbed him of his youth
Worrying about how to live up to
Expectations so high

Nobody told him what you are
Not what she needs you to be
Forever imprisoned by she
And standards that he can not hold
Till mamma's little hero sets himself free
He'll always be a man child walking
Forever frightened
By those big scary words,
Committment and need
A deep distrust that he could never satisfy
That a woman could love him for free

Say be what you are
Not what she needs you to be
Be what You are
Not what she needs you to be
Mamma's little hero
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>