<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Nicotine Love</h1>
<pre>
Go ahead touch me like that
The way you pull my head back
Go ahead, breathe me in
Bite me till I bleed
This love is like barbed wire running through my veins
Nicotine Love

Go ahead hurt me like that
I've been hurt before
I won't be fixed again
I'm not afraid to sweat
Cause I like the pain and it's familiar to me
And more gentle than most men will ever be
Nicotine Love

But don't get me wrong
I don't want a friend
Just need you here to help me satsify this childish sin
This insatiable desire
A hunger so deep
You will melt on my tongue
And I will put you to sleep
And I will press you like petals
Till you're fragile and bent thin
Then I breathe you in
Nicotine Love

It hurts just right
Not to know your name
But feel that body beneath me
Struggling as though there were some way it were the same
As when I was with him
Gonna make you promise
Out of pity
Then I will crush your little heart
Cause I can
Because it happened to me
Nicotine Love

So come here baby
My honey, cutie-pie
Let my fingers swim like pale fish through your hair
So I can tell you that I love you
You'll say, "Never let me go"
You wonder why it is I am here
But patience and it will be all too clear
Nicotine Love

But don't get me wrong
I don't want a friend
Just need you here to help me satsify this childish sin
Nicotine Love

So go ahead touch me like that
The end is drawing near
Go ahead hurt me that way
Don't even know enough to fear
You don't know how true it is when you say
My kisses are sweet as death
But soon you'll have no more options
That's all you have left

Enough of this
Love is like barbed wire
Electric and so alone
So come here stray cat
I'm gonna take you home
And then I will press you like petals
Till you're fragile and thin
Then I'll...
Well I'll...
Breathe you in
Nicotine Love
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>