<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Nikos</h1>
<pre>
She lived in a trailer out eastern road
Her loneliness was a disease
But my daddy couldn't see it though
Her name was Linda her smile was forced
And folks 'round town say she dressed like a divorce
My daddy had a son by her
'though she wasn't supposed to be able
I was eight years old when they told me 'round the table
I looked at my daddy, he looked to the ground

I guessed that we'd be stickin' round ahwile
Might as well smile cause there's no point in being mean
I guess that's just what you get when you forget to dream

Got called to the principal's office
Did I do something wrong?
Doctor on the telephone said,
"Congratulations, you've got a baby brother born."
Got sent to a psychiatrist in case I resented their child.
I was bitter in my anguish but my manner was mild.
My daddy got excommunicated from the Mormon church.
Guess an illegitimate son in God's eye has no worth
He tried to stick around but he flew the coop in spring.
He loved that baby just not Linda it seemed
But still I know we'd be stickin' round awhile
Might as well smile cause there's no point in bein' mean.
I guess that's just what you get when you forget to dream.
So Linda got remarried now my brother called that new man "dad"
But it didn't last long I hear his temper was bad
So she said that we could see him on every other Saturday.
We all were shocked when he called my daddy "uncle"
She said it was better that way.
They tried to get back together but it was off and on
One day she disappeared, I hear to Oregon.
I haven't seen him since. I guess I'm supposed to forget.
That he was my brother too and not just their legal mess

I thought that we'd be stickin' 'round awhile
Might as well smile 'cause there's no point in bein' mean.
I guess that's just what you get when you forget to dream.

This song is for Nikos wherever you may be
I know things were tough but you're okay by me
And your momma ain't a bad person, my daddy's ain't no fool
Sometimes parents just need forgiving too.
PS, I love you, your sister Jewel.
PS, I love you, your sister Jewel.
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>