<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Poem Song (Wild Horses)</h1>
<pre>
Transcribed by Adam Longfellow

I like to call you my wild horse
(And feed you silver sage ?)
I'd like to paint my poems with
desert tongued clay across her back
And ride you savagely as the sweet and southern wind
Through green and wild Kentucky

I'd like to make you my secret song
Blaze and dark and red in the orchards
And I would steal away to watch the way
Your silver belly bends and bows beneath me

I'd make you my wings in the foothills of Montana
My lover in the oceans of the world
I'd make you... of children
And I would scatter you across my green memories of home
I'd make you my hungry valley
And sow your golden fields and wheats my own

If I were a painter
I would paint you with this note
Silver traces on your skin
And if I were a writer
I would write these words on your back
In desert tongue clay, deep in (your wind?)

I'd make you my secret song
Blazing in the orchard
And I would steal away
To watch the way your silver belly
Bends and bows beneath me

I'd make you my wings in the foothills of Montana
Make you my lover in the oceans of the world
I'd make you my calico children
And I would scatter you across my green memories of home
I'd be your hungry valley
And I'd sow your golden fields of wheat my own

If I were a writer
I would make you my wild horse
I'd paint you silver sage and
Ride you savagely through green wild country

(???) Swedish verses

And you are the rose on my alter
I worship you eternally in flight
Like the wave ?

I'll dip you in these praises like cobwebs
And watch them....?
For your hair is the rain
And it soaks across the continents of my skin
These hands that worship you so completely

You see this woman standing before you
Naked and seared, true of intent,
I don't need you
I want you near

For you are my love
You are my flower of the sun
You are my lover for all time
You wake in the morning
For your sun(flowers?)
You wake in the morning
With your kiss

I'll be your hungry valley
And sow your golden fields of wheat...?

And you are the rose on my alter
I worship you eternally in flight
Like the wave ?

You be my calico children
I'll scatter you across my green memories of home
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>