<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Race Car Driver</h1>
<pre>
Come on baby, let's get in the car
I'm gonna take you real, real far
I'm gonna paint your momma's face on the door
You ain't gonna see her anymore

Cuz I'm gonna be your race car driver
Your race car driver

They can paint a red flame, firebird on front
I will be Evil Kinevil, you can double my stunts
This ain't no Malibu Barbie Corvette
This is a real 350 V-8, fuel-injected engine from a private liner jet

And I'm gonna be your race car driver
Your race car driver

Come on baby, let's get on the road
Let's get on track
And I will grab the wheel like it was your hair I was pulling back
I'm gonna straddle the line
Swear to God it's gonna take you real far
I'm just a real small man in a real big car

And I'm gonna be your race car driver

Got studded tires, excuse me if I'm blunt
I've got ribbed rims for her pleasure up front
Got fuzzy dice with a secret door
Full of flavored serums, breath fresheners and more

And I'm gonna be your race car driver
Your race car driver

Anybody ever tell you you look smashing by the dashboard light
Come on baby gonna make you feel alright
We'll take you at high warp speed
It's better than watching Star Trek after you smoked weed

And I'm gonna be your race car driver
Your race car driver

Come on baby, let's get on the road
Let's get on track
And I will grab the wheel like it was your hair I was pulling back
I'm gonna straddle the line
Swear to God it's gonna take you real far
I'm just a real small man in a real big car

And I'm gonna be your race car driver

So come on baby tell me what's your answer, you gonna cross the line
Ah, quit your sniveling, it's no or yes this time
What you're hungry? We'll stop by Mickey D's for a happy meal
Eat a regular hot dog or piasco fantasco on wheels

And I'm gonna be your race car driver
Your race car driver

I can see that you're not impressed
By the way that you are fully dressed
Looks like I'll have to pull out all the stops
I'm a sensitive man of the 90's, sweetheart
 who cares for your emotional being an aweful lot

And I'm gonna be your race car driver
Your race car driver

Come on baby, let's get on the road
Let's get on track
And I will grab the wheel like it was your hair I was pulling back
And I will straddle the line
Swear to God it's gonna take you real far
I'm just a real small man in a real big car

And I'm gonna be your race car driver
Yes, I'm gonna be your race car driver
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>