<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Rocker Girl</h1>
<pre>
I went downtown just to see
if there was a rocker boy made for me.
Tight pants and long brown permed hair.
Preferably zebra striped underwear.

He's gonna rock my world.
Be his rocker girl.
Gonna be his rocker girl.

I love the way that he gives all the guys shiners
'Cause it sort of matches my blue eyeliner.
He's so tough, he's so cute, he's a regular dream.
He looks so good in his acid washed denim jeans.

He's gonna rock my world
Be his rocker girl.
He will know all the good movies.
He'll know just how to rock it to me.
He'll be so romantic and that
he'll know every word to Spinal Tap.
And I'll be his rocker girl... 2 3 4.

If he was Russian, he would be the Kremlin.
If he was a rock star, he would be Led Zeppelin.
If he was a month he would be oh say May or June.
If he was underwear he would be Fruit of the Loom.

He's gonna rock my world
Be his rocker girl.
Gonna be his rocker girl.
Gonna be his rocker girl.
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>