<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>She Cries</h1>
<pre>
Time passes quickly for our lady of the hour
She brushes her long blonde hair
From her face only to find a tear
But she don't know why she's been crying

She looks inside herself
To maybe find an answer
But she's willingly distracted
By the man who like's her glitter
She says, "Fool, I ain't gold."

She don't even know she cries
Cuz she's so tangled up in lies

In her head she plays a game
Pretending that she's not the same
Lady who is cheating on her husband
With a man she hardly even knows
She says, "Ignorance is bliss."

But when he asks her name
She must fumble for an answer
She's been called so many
But now she can't remember
So she just makes up another

And she don't even know she cries
Cuz she's so tangled up in lies

Now the dirty deed is done
She heads into the bathroom
She washes her hands in the sink
And thinks it could clean her conscience
If only she could find one

And slowly she turns and heads
For the door as if this were all a dream
She has seen her sweet husband's face
But only like a fleeting glimse
Of all those bridges she's been burning
All those bridges she's been burning

And she don't even know she cries
It should come as no surprise
Cuz she's so tangled up in lies
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>