<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Sometimes It Be That Way</h1>
<pre>
Night with its shattered teeth attempts to speak
My pen is present but courage left via the sink
And I'm sorry I snuck up on you from behind
I'm sorry not all my love letters did rhyme
And I'm sorry that Jesus died for my sins
And I swear to God it won't happen again
And I'm sorry if it was my swerve that tempted you to sway
Oh well, sometimes it be that way=

And Romeo was a very nice man
He said "Jewel, I don't think you quite understand"  *
And I'm sorry if you had to explain it like this
I'm sorry I was a point you were destined to miss
And I'm sorry I spoke to you irreverently
Down in the hollow by the old olive tree
And I'm sorry if my heart breaking ruined your day  **
Oh well, sometimes It be that way=

Chorus:

I said "Oh well, I got nothing left to sell
This love was a bell that rang unheard in the air
I was bound to find out that you didn't care
Oh well, sometimes it be that way

And Aphrodite with her neon lamp
Kissed Neptune they put her face on a stamp
And I'm sorry I used it to mail a letter to you
I'm sorry I'm glue and the rest bounces off of you
And I'm sorry not even this jet's metal wings
Could get across these simple things
And I'm sorry if I ever sang your name in vain
Oh well, sometimes it be that way

And Goldilocks, well she knew three bears
They all ate oatmeal and tiptoed upstairs
And I'm sorry I never got to find you like this
Sleeping like a baby and swaddled in bliss
And I'm sorry for all the times
I forgot to imply something in between the lines
And i'm sorry if I ever caused you pain
Oh well, sometimes it be that way

Chorus:
I said "Oh well, I got nothing left to sell
This love was a bell that rang unheard in the air
I was bound to find out that you didn't care
Oh well, sometimes it be that way

And shadow's long fingers they dance on the wall
Electricity chases its tail in the hall
And I'm sorry my arms to you were just empty rooms
I'm sorry I never could comfort you
And I'm sorry St. Petersburg is a miserable town
And I'm sorry if I am bringing you down
And I'm sorry if it was my love that rained on your parade
Oh well, sometimes it be that way

And flame licks the air with its silver tongue
Night has many hands but I have just one
And I'm sorry I walked in on you unexpectedly
I'm sorry I never served you Chamomile tea
And I'm sorry I didn't always have a match
That could start a fire big enough for your heart to catch
And I'm sorry if it was my swerve that tempted you to sway
Oh well, sometimes it be that way

And I'm sorry if my heart breaking ruined your day
And I'm sorry if it was my heart breaking that ruined your parade
And I'm sorry if it was my love that rained on your parade
And I'm sorry if my love ruined your day
And I'm sorry if I was just a game you didn't always want to play
And I'm sorry if it was I that caused you pain
And i'm sorry if I ever caused you pain
And I'm sorry if I ever sang your name in vain

* Originally, she used "Sweetheart" instead of "Jewel"

** This line, in several stanzas, seems to have gone through
many incarnations.
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>