<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Studies in Love #12</h1>
<pre>
The doorway frames
You a perfect picture silouette
Blue sky of regret
Enough to hang out

Your legs seemed to tremble
At least I imagine that they do
Then again, it's probly easy
For you

Please don't open your mouth my dear
I can read all the signs
I can take it from here
There's no need to explain
It's perfectly clear

The yellow wall paper peels
A strange halo around your head
It's funny how you notice these
Stupid things instead

You say something awkward
But I wish that you wouldn't
A whole life of you wish you could's
But just couldn'ts

Please don't open your mouth my dear
I can read all the signs
I can take it from here
There's no need to explain
It's perfectly clear

I try not to fight too much
It only just makes me mad
Spent half my life loving you
Think of all the love that I could have had

Five years of kisses
Packed in my bags
And this tiny moment fits
All the big things we ever had
I can't quite pinpoint
When it left or what for
Love always steps lightly
Away from the door

Please don't open your mouth my dear
I can read all the signs
Hell I've known you for years
There's no need to explain
No there's no need to explain
There's no need to explain
It's perfectly clear
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>