<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Train Song (aka Pale Shade of Grey)</h1>
<pre>
I try to recall what it was you said to me just then
but this train keeps on rocking me back to sleep
and I fear come tomorrow I won't even remember your name

I'd make myself remember
Make myself recall
but these promises and these vows I made you now
seem to have no voice at all
The color of the canyons
When first it was said I love you
But these colors and these canyons
now all seem silly and small
I don't understand at all
how these colors in my memory just fade
into such a pale shade of grey

and cold rails remind me of your cold feet
and my eyes expect to see you behind every door
but when I shut my eyes
I can't even recall what it is that you wore
My god was that only yesterday
I can't even remember your face
I feel so far away

I make myself remember
Make myself recall
but these promises and these vows I made you now
seem to have no voice at all
The color of the canyons
When first it was said I love you
But these colors and these canyons
now all seem silly and small
I don't understand at all
how these colors in my memory just fade away
into such a pale shade of grey

*I say to myself My god I used to love him
I wanted to share with him my womb and my world
But now I stare at him as though through a glass wall
I say I used to love him but now I feel nothing for him at all
My god how could this be
Won't you please explain this to me

Now sleep sings to me in a sweet and urgent voice
And I fear that I have no choice but to forget these flowers
these daisies you gave me, the offerings you made me
the vows that we swore by, swearing we'd be together
always and forever, the children we named and now we'll never have
and I know I'm supposed to meet you
I don't even think I'll remember your name tomorrow

I make myself remember
Make myself recall
but these promises and these vows I made you now
seem to have no voice at all
The color of the canyons
When first it was said I love you
But these colors and these canyons
now all seem silly and small
I don't understand at all
how these colors in my memory just fade away
into such a pale shade of grey
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>