<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Who Will Save Your Soul</h1>
<pre>
People living their lives for you on TV
They say they're better than you and you agree
Another burger, another hot dog, some fries
A wish in the well, hope your health don't go to hell, well
Another doctor's bill, another lawyer's bill
Another cute cheap thrill
You know you love him if you put him in your will

CHROUS:

Who will save your soul when it comes to the flower
Who will save your soul after all the lies that you told, boy
Who will save your soul if you won't save your own?


We try to hustle them, try to bustle them, try to cuss them
The cops want someone to bust down on Orleans Avenue
Another day, another dollar, another war, another tower
Went up to where the homeless had their homes
So we pray to as many gods are there are flowers
But we call religion our friend
We're so worried about saving our souls
Afraid that God will take His toll
That we forget to begin

CHROUS

Some are walking, some are talking, some are stalking their kill
You get social security, but that don't pay your bills
There are addictions to feed and there are mouths to pay
So you bargain with the Devil, say you're o.k. for today,
You say that you love them, take their money and run
Say, it's been swell, sweetheart, but it was just one of those things
Those flings, those strings you've got to cut,
So get out on the streets, girls, and bust your butts.

CHROUS
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>