<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Walk Away</h1>
<pre>
Dont say I love you, I wont say that I care
Ill pretend I never kissed you, or held you, or worshipped you
I swear
Ill live in denial for as long as I live
Cuz *what I need baby, this love just cant give
We have to walk away
We have to walk away

Ill try not to sing, youll try not to talk with those lips
Well forget all the sweet memories, and now we'll just go with what is
Cuz this love aint loving, and I dont know why
But anything that stands so still cant be alive
We have to walk away
We have to walk away

[refrain]
But there were times our love was, so sweet
And its *memory that makes me want to make it last
But you cant make love work, anymore than you can make it leave
And its then you gotta leave it yourself

{[refrain2]
Cuz when love aint loving but still aint leaving
And its then you gotta leave it yourself

Now jealousy can ride your heart like a sick kind of pony
And envys just the same
And your loneliness can consume you no matter how much love you had
And when it all boils down, baby, theres no other way
And I *care much more than to make you stay
We have to walk away
We have to walk away

So at night, when darkness fills me,
Ill pretend you never spoke my name
When Im sitting home that lonely,
Ill pretend youre home and lonely, oh just the same
Ill pretend this sorrow, this sorrow will pass
And Ill try to pretend that this loneliness wont last
that Ill walk away
yeah, yeah, yeah

refrain
repeat
refrain2
repeat

So dont say
So dont say I love you
I wont say that I care
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>