<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>What Matters Is The Heart</h1>
<pre>
by Edwin McCain (Duo w/Jewel on Radio Angels)

Did we forget about the passion
Living day to day
We keep our dreams locked down inside
And choking on a lifetime
And never take a chance
Wake up one day wishing you tried

It ain't about the money
It ain't about the time
It ain't about the love you lost
Or the things you think you left behind
It ain't about you're losing strength (??)
Makes you feel like you're falling apart
What matters is the heart

Lets forget about the notion
That we're not the same
My brother Ron's is red as yours
We all get angry
We've all been scared
We've all made big mistakes
That can never be repaired

It ain't about the money
It ain't about the time
It ain't about the love you lost
Or the things you think you left behind
It ain't about you're losing strength (??)
Makes you feel like you're falling apart
What matters is the heart

Look be....[oops..forgot to do this line]
Take my hand
We can make a difference
We can make a difference
I know we can
If we forgot about the passion
Living day to day
We kept our dreams locked down inside
And choking on a life time
And never take a chance
Wake up one day wishing you tried

It ain't about the money
It ain't about the time
It ain't about the love you lost
Or the things you think you left behind
It ain't about you're losing strength (??)
Makes you feel like you're falling apart
What matters is the heart

It ain't about the money
It ain't about the time
It ain't about the love you lost
Or the things you think you left behind
It ain't about you're losing strength (??)
Makes you feel like you're falling apart
What matters is the heart
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>