
<h1>You're In Cleveland Today</h1>
<pre>
Transcribed by Mike Carmona

When walking underneath the shadows
Where dark and sweet secrets lay
When night tonight falls gently down
Hearts helplessly fall to the ground
Underneath a velvet sky
Only words can lie

[chorus]
I wanna tell*(play) you everything
I wanna make your toes curl
You be my only boy
And I'll be your only girl
This much I'd like to say
But you're in Cleveland today

Stewardesses like Cosmo magazine
Vogue makes me nervous, I feel so plain
But I could face the world fearlessly
If you would face it here with me
With just our four hands and four eyes
Traffic cops would compromise

[chorus]

[Bridge]
Daffodils and roulette wheels and rusty automobiles
Somewhere our things share the same windowsill
Somewhere our hearts exist independent of time
Somewhere we are whole
One body, one body and one mind

From the air things look so ridiculous
Our fears so small our fights so vain
I want to pilot a plane with you
So all our problems look small too
It's just an inch from me to you
Depending on what map you use

[chorus]

[Outro]
But you're in Cleveland today
But you're in Cleveland today
But you're in Cleveland today
</pre>
