
<h1>You're So Small</h1>
<pre>
Transcribed Aaron Suever


VOICE INTRO:
"I went to school here in Michigan at a place
called Interlochen, and, uh, there's a lot of dancers there.
About 60% of the dancers were either anorexic or bulemic.
And I often blamed it on their boyfriends.
So I wrote this about that.
I didn't agree with that, by the way."

Gonna walk down the street
and seduce every man I meet
because I'm having a bad day.
I am
not size six.
My legs are not
skinny as sticks
and dammit, someone's got to pay.
(That's the power of a woman, ohhhh)

I feel I'm attractive.
I'm gonna see if it's true.
I'm going to break a heart or maybe two.
I'm gonna put on the sexy red thing
I'm gonna manipulate
I'm gonna pull some strings
Cause my strength is in my
power over you.
(the power of a woman)

But I'm afraid that I can't satisfy myself
And that my happiness depends on someone else.
I feel weak, so you're gonna take the fall.
You're so small, you're so small, you're so small.
You're so small, you're so small, you're so small.
You're so small, I feel fat, you're so small.
You're so small, I don't feel anything, cuz you're so small.
</pre>
