
<h1>All the Animals</h1>
<pre>
All the animals
agree you and me
should be a team   

And they walk on parade
say that we were made
to be a team

And my flesh melts beneath your tongue
I am your little comunion   

And all the rainbows
Tell me that they know
We're a perfect pair

And the birds up in the sky
Say they can see it from way up high
We're a perfect pair   

And my wings weaken beneath your will
And before you I am trembling and still   

All the birds know it
One and one is two
All the birds see it
Tell me why don't you

And all the light of the sun
Doesn't help me out none
Cuz you still can't see me
</pre>
