
<h1>JESUS LOVES YOU (BUT WHAT ABOUT ME)</h1>
<pre>
They say that Jesus loves you
...what about me?
And they say that money breaks you
...well, I still wanna see
They say that you're only half-alive
Till you give extra whitening a try

CHORUS:
Well I wanna see
I wanna see
What can you do for me?

Showin' ta-ta's on the tv is ok
I wanna be ok too
And having my picture in a magazine makes me special
How special are you?
They say if i don't hate
Even I can buy a space in heaven before i die

CHORUS:
Well I wanna see
I wanna see
What can you do for me?

BRIDGE:
I want someone else to pack my lunch
Gonna get someone else to pull the punch
Oh, pay a psychic for romance
Gonna pay a priest for a will-you-give-me-a-second-chance?
They say abortion will send you straight to a fiery hell
That is if the fanatics don't beat Satan to the kill
It's not what i can do for anybody
It's what their body can do for me

So I wanna see
I wanna see
What can you do for me?

They say that Jesus loves you
...but what about me?
</pre>
