<?xml version="1.0" encoding="iso-8859-1"?>

<h1>Hands (Christmas Version)</h1>
<pre>
in the end only kindness matters 
in the end 
ah mmmmmmmmm ah
    
if i could tell  the world just one thing 
it would be that we're all okay 
and not to worry 'cause worry is wasteful 
and useless in times like these 
i won't be made useless 
i won't be idle with despair 
i'll gather myself around my faith 
for light does the darkness most fear
    
my hands are small, i know 
but they're not yours, 
they are my own 
but they're not yours, 
they are my own 
and i am never broken
    
poverty stole your golden shoes 
it didn't steal your laughter 
and heartache came to visit me 
but i knew it wasn't ever after 
we will fight not out of spite 
for someone must stand up for what's right
    
'cause where there's a man who has no voice 
there ours shall go singing
    
my hands are small, i know 
but they're not yours, 
they are my own 
but they're not yours, 
they are my own 
i am never broken
    
('cuz) in the end only kindness matters 
in the end only kindness matters 
i will get down on my knees, and i will pray 
i will get down on my knees, and i will pray 
i will get down on my knees, and i will pray

my hands are small, i know 
but they're not yours, 
they are my own 
but they're not yours, 
they are my own
    
my hands are small, i know 
but they're not yours, 
they are my own 
but they're not yours, 
they are my own 
and i am never broken 
we are never broken
    
we are god's eyes 
god's hands 
god's hands 
we are god's eyes 
we are god's eyes
we are reflections of god
(god's hands) 
we are reflections of god 
(we are god's eyes) 
we are reflections of god
</pre>
