<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Deep Water</h1>
<pre>
you find yourself falling down
your hopes in the sky
but your heart like grape gum on the ground

and you try to find yourself
in the abstractions of religion
and the cruelty of everyone else
and you wake up to realize
your standard of living somehow got stuck on survive

when you're standing in deep water
and you're bailing yourself out with a straw
and when you're drowning in deep water
and you wake up making love to a wall
well it's these little times that help to remind
it's nothing without love

you wake up to realize your only friend
has never been yourself or anyone who cared in the end
that's when suddenly everything fades or falls away
'cause the chains which once held us
are only the chains which we've made

when you're standing in deep water
and you're bailing yourself out with a straw
and when you're drowning in deep water
and you wake up making love to a wall
well it's these little times that help to remind
it's nothing without love, love, love
it's nothing without love

we've compromised our pride
and sacrificed our health
we have to demand more
not of each other
but more from ourselves
'cause when you're standing in deep water
and you're bailing yourself out with a straw
when you're drowning in deep water
and you wake up making love to a wall
well it's these little times that help to remind
it's nothing without love, love, love
it's nothing without love
it's nothing without love
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>