
<h1>What's Simple is True</h1>
<pre>
your hands are icy cold
your eyes burn bright against the frost-bit sky
you never seemed more lovely than you do tonight


pale on the horizon
like leaves frozen in the snow
our two shadows merge inseparably
will time stand still if it's pierced with cold


the more i live
the more i know
what's simple is true
i love you


there's a warmth in my heart
it haunts me when you're gone
mend me to your side and never let go
say time knows nothing, we'll never grow cold


the more i live
the more i know
what's simple is true
i love you


twilight descends on our silhouette
how soon spring comes
how soon spring forgets
i wanna hold time, say it'll never begin


old man winter be our friend
old man winter be our friend

'cause the more i live
the more i know what's simple is true
what's simple is true
i love, i love you
</pre>
