
<h1>Kiss the Flame</h1>
<pre>
please love let's make no impartial vow 
let all fall away 
that's not crucial now 
i want a brave love, one that makes me weak in the knees 
i want a crazy, crazy love 
one that makes me come undone at the seams

cause i'm tired of all these pilgrims, these puritans, these thieves 
of all these unbelievers who whittle love down at the knees

let these swift roads destroy themselves 
let the world fall into its sleep 
for we shall be spared 
we shall be left standing 
to face what's left of concrete and honey

kiss the flame 
let's run with the hunted, the untamed 
kiss the flame 
embrace the faceless, the unnamed 
kiss the flame

there are nightmares on the sidewalks 
there are jokes on tv 
there are people selling thoughtlessness 
with such casualty 
but wherefore art thou, romeo 
where have all the brave men gone? 
show me one man who knows his own heart 
to him i shall belong

kiss the flame 
let's run with the hunted, the untamed 
kiss the flame 
embrace the faceless, the unnamed 
kiss the flame 
kiss the flame 
kiss the flame

please love let's make no impartial vow
</pre>
