
<h1>Down So Long</h1>
<pre>
sun sets 'cross the ocean 
i'm a thousand miles from anywhere 
my pocketbook and my heart both just got stolen 
and the sun act like she don't even care 
the wind blows cold when you reach the top 
it feels like someone's face is stuck to the bottom of my shoe 
i got a plastic jesus, a cordless telephone for every corner of my room 
got everybody but you telling me what to do 
but i've been down so long 
ooh, it can't be longer still 
i've been down so long 
that the end must be drawing near

i look to everybody but me to answer my prayers 
'til i saw an angel in a bathroom 
who said she saw no one worth saving anywhere 
and a blind man on the corner said it's simple, like flipping a coin 
don't matter what side it lands on if it's someone else's dime

but i've been down so long 
ooh, it can't be longer still 
we've been down so long 
that the end must be drawing near

i take a trip, i catch a train, i catch a plane 
i got a ticket in my hand 
and then a man takes my money 
and like cattle we all stand

but we've been down so long 
ooh, it can't be longer still 
we've been down so long 
the end must be... i know the end must be... 
oh, i know the end must be drawing near
</pre>
