
<h1>Innocence Maintained</h1>
<pre>
ophelia drowned in the water 
crushed by her own weight 
hitler loved little blue-eyed boys 
and it drove him to hate 
birds always grow silent before the night descends 
'cause nature has a funny way of breaking what does not bend

a hero's torso built of steel and novocain 
his heart a bitter beat inside a bloodless frame 
there was a hole inside his soul a manicure could not fill 
so he found himself a whore to love 
while daisies choked in the window sill

we've made houses for hatred 
it's time we made a place 
where people's souls may be seen and made safe 
be careful with each other 
these fragile flames 
for innocence can't be lost 
it just needs to be maintained

a small town in ohio 
two boys are filled with violence 
and darkness spreads its legs for hate and ignorance 
we are given to a god to put our faith therein 
but to be forgiven, we must first believe in sin
we've made houses for hatred 
it's time we made a place 
where people's souls may be seen and made safe 
be careful with each other 
these fragile flames 
for innocence can't be lost 
it just needs to be maintained

i want to live bravely and love without fear 
i want always to feel the wings of grace near
we all will be christed when we hear ourselves say 
we are that to which we pray

we've made houses for hatred 
it's time we made a place 
where people's souls may be seen and made safe 
be careful with each other 
these fragile flames 
we've built houses for hatred 
it's time we made a place 
where people's souls may be seen and made safe

be careful with each other 
these fragile flames 
for innocence can't be lost 
it just needs to be maintained
</pre>
