
<h1>Jupiter</h1>
<pre>
venus de milo in her half-baked shell 
understood the nature of love very well 
she said, "a good love is delicious, 
you can't get enough too soon 
it makes you so crazy you want to swallow the moon."

oh, oh jupiter 
oh, oh be still my little heart 
oh, oh love is a flame neither timid nor tame 
take these stars from my crown 
let the years fall down 
lay me out in firelight 
let my skin feel the night 
fasten me to your side 
say it will be soon 
you make me so crazy, baby 
could swallow the moon

my hands are two travelers they've crossed oceans and lands 
yet they are too small on the continent of your skin 
wandering, wandering 
i could spend my life 
traveling the length of your body each night

oh, oh jupiter 
oh, oh be still my little heart 
oh, oh love is a flame neither timid nor tame 
take these stars from my crown 
let the years fall down 
lay me out in firelight 
let my skin feel the night 
fasten me to your side and say it will be soon 
you make me so crazy, baby 
could swallow the moon 
swallow the moon

oh, oh jupiter 
oh, oh be still my little heart 
oh, oh love is a flame neither timid nor tame 
take these stars from my crown 
let the years fall down 
lay me out in firelight 
let my skin feel the night 
fasten me to your side 
and say it will be soon 
you make me so crazy, baby 
could swallow the moon 
swallow the moon 
swallow the moon 
swallow the moons
</pre>
