
<h1>Fat Boy</h1>
<pre>
fat boy goes to the pool 
sees his reflection, doesn't know what to do 
he feels little inside and filled with pride

oh, fragile flame 
no one sees the same 
fat boy goes about his day 
trying to think of funny things to say

like, "this is just a game i play." 
and, "i like me this way." 
oh, fragile flame 
when no one feels the same

hush, sleep, don't think, just eat 
your daddy's little boy 
your mama's pride and joy 
you know they love ya 
but not because they hold ya

fat boy says, "wouldn't it be nice 
if i could melt myself like ice 
or outrun my skin and just be pure wind." 
oh, fragile flame 
sometimes i feel the same
</pre>
