<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Barcelona</h1>
<pre>
barcelona where the winds all blew 
and the churches don't have windows but the graveyards do 
me and my barcelona where the winds all blew 
and the churches don't have windows but the graveyards do 
me and my shadow are wrestling again 
look out stranger, there's a dark cloud moving in

but if you could hear the voice in my heart it would tell you 
i'm afraid i am alone 
won't somebody please hold me, release me 
show me the meaning of mercy 
let me loose 
fly, let me fly, let me fly

super paranoid, 
i'm blending, i'm blurring, i'm bleeding into the scenery 
loving someone else is always so much easier 
but i hold myself hostage in the mirror

but if you could hear the voice in my heart it would tell you 
i'm tired of feeling this way 
god, won't you please hold me, release me 
show me the meaning of mercy 
let me loose

let me fly, let me fly, let me fly 
i won't be held down, i won't be held back 
i will lead with my faith 
the red light has been following me 
but don't worry mother 
it's no longer my gravity

hold me, release me 
show me the meaning of mercy 
let me fly, let me fly, let me fly
</pre>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>