<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Life Uncommon</h1>
<pre>
don't worry mother, it'll be alright 
and don't worry sister, say your prayers and sleep tight 
it'll be fine lover of mine 
it'll be just fine

lend your voices only to sounds of freedom 
no longer lend your strength to that which you wish to be free from 
fill your lives with love and bravery 
and you shall lead a life uncommon

i've heard your anguish, 
i've heard your hearts cry out 
we are tired, we are weary, but we aren't worn out 
set down your chains, until only faith remains 
set down your chains

and lend your voices only to sounds of freedom 
no longer lend your strength to that which you wish to be free from 
fill your lives with love and bravery 
and we shall lead a life uncommon

there are plenty of people who pray for peace 
but if praying were enough it would have come to be 
let your words enslave no one and the heavens will hush themselves 
to hear our voices ring out clear 
with sounds of freedom 
sounds of freedom

come on you unbelievers, move out of the way 
there is a new army coming and we are armed with faith 
to live, we must give 
to live

and lend our voices only to sounds of freedom 
no longer lend our strength to that which we wish to be free from 
fill your lives with love and bravery 
and we shall lead...

lend our voices only to sounds of freedom 
no longer lend our strength to that which we wish to be free from 
fill your lives with love and bravery 
and we shall lead a life uncommon
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>