
<h1>1,000 Miles Away</h1>
<pre>
It's morning time, wonder where you are
Wonder who you're talking to
Wonder if the sun has risen where you are
It's morning time, i miss your hands on my skin
This bed's too big without you
Oh god, what do i do?
I'm a thousand miles away, and I'm lying next to you.

The sun shines golden, and I feel like my car
A little run down, a little beat up, maybe just a little green
Maybe it's my battery, maybe it's my starter,
Maybe my heart's too weak
There's just this feeling, thought I had to get going
Got too scary, got too big, got to get out of here
But now i don't know how to get home.
Oh god, what do I do?
I'm a thousand miles away, and lying next to you.

Mama says take my vitamins,
Daddy says "girl, don't stay out so late"
Sister says "there's other fishes in the sea"
But love is not a rational thing, and my heart is beyond advice
No, love is not a rational thing
Oh god, what do I do?
I'm a thousand miles away, and lying next to you.

These fields stretch out like patchwork, on my granny's quilt
She used to tell me that
"Life is a series of strange and mysterious things
One minute you think you're up, the next you find you're down"
Your mind says "girl, you gotta stick around"
But your heart says "I'm too weak in the knees"
Oh god, what do I do?
I'm a thousand miles away, and lying next to you.
</pre>
