
<h1>501 Beauty Queen</h1>
<pre>
She's got nice lips, a seductive smile
She's still as thin as a beanpole,
with a little less class, but a little more style
And she spends all her time trying not to hear you
What she doesn't want to know
Don't wanna know

And there's Kellogg's in the cupboard
She takes a heart down from off the shelf
She passes by the mirror
She doesn't like to look at herself
Cause she'd rather lose touch with reality
than lose her fantasy
Her fantasy

And her smile is as faded as a used pair of jeans
And her heart is frayed around the edges
she's comin' undone at the seams

And it's her last chance to make a statement
It's her last (note/No I've recieved?)

She's a 501 beauty queen

And there's flowers on the table
she's lovely, she's lovely not
But circles only make the hunger grow
so she goes out a lot
she's out there just a runnin around
Trying to make up some lost time
Lost time

And she sits down for a social call
Like a princess she puffs on a cigarette
beauty is all threadbare now
But she's never gonna let them forget
Casue my how she looked smashing in her gold lame tank top
With the fancy beadwork on front
The beadwork's on front

But her smile is as faded as a used pair of jeans
And her heart is frayed around the edges
comin' undone at the seams
And it's her last chance to make a statement
It's her last (note/No I've recieved/I percieve?)

She's a 501 beauty queen

And a voice chimes like a bell in the night
that just don't know when to quit
She used to have more options
Now she wishes that she'd already picked
wishes she couldn't remember
all those things she'll never forget
Never forget.

And the lines they all go deeper than the days of her youth
She flirts and lies and always denies what to her is no longer of any
use

But it's not because she hates what she doesn't understand
She just don't understand

And her fire? is as faded as a used pair of jeans
her heart is frayed around the edges
She's comin' undone at the seams
And it's her last chance to make a statement
It's her last (note/No? I've receive?/at the seat?)
She's a 501 beauty queen
</pre>
