<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Afraid It's Too Late</h1>
<pre>
She sits at the window
All dressed in white
Been a long time since she's cried
Tears called ....tumbling down
She remembers her childhood brown
She's afraid it's too late

She steps out on the porch
Takes a minute from her day
Just like when she was a child
To listen what the wind would say
She was carefree like the children are today
Say, ?? loves you, won't you come out and play
She's afraid it's too late

When she was a child
She had crowns hiding gold
With such awe, each flower she did hold
And she...the grass beneath her feet
How she hated things that were already late

They took away her laughter
They took away her crown
They said "hey girl, you gotta keep your feet on the ground"
She said "oh, but they are"
They say "Well laughter won't pay your bills"
A flower fell from her hand, falling still
They taught her to be respectable
Responsible somehow
They taught her to be in every....
She forgot how it felt to have leaves of grass beneath her feet
Now every thought screams to return to her childhood royalty
She's afraid it's too late

She takes one last moment
Before going inside
She takes a coat
To dry her eye
She ... and it all becomes clear
It's probably laughter that gets you what you need
....More than here
She's afraid it's too late

La la la la
la la da da laaah
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>