<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Ain't No Lookin Back (September 1996)</h1>
<pre>
All of your ghosts
Litter the horizon
Glittering carcasses
I guess that makes twice then
Just like your daisies
And all of your buffallo
You dont worry
The children will mend what you tore

You dress yourself in sharkbites
You kill yourself in spoonfuls
You damn all the beehives
You make love to potholes
Your attention is a junkie
It has a wandering vien
And all of your thoughtlessness
Is dried up rain

Aint no lookin back, now---Is there kid?
You always look to the west
You throw caution to the wind
You're on a one way track
But you cant buy caution back---Can you kid?

You killed a man
Because you made him borrow
One suicide is made up
Of ten thousand tiny sorrows
America's great
Its the land of the free
We're so independant
That we forgot how to breathe

Aint no lookin back, now---Is there kid?
You always look to the west
You throw caution to the wind
You're on a one way track
But you cant buy caution back---Can you kid?

Show me one hero
Who ain't afraid of fear
Show me one adult
That knows how to hear
"We are the future"
At least thats what you said
I wanna know:
Who's the hope of today?

There's no lookin back now for you---Is there kid?

All of your ghosts
Litter the horizon
Glittering carcasses
I guess that makes twice then
Just like your daisies
And all of your buffallo
You dont worry
The children will mend what you tore
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>