
<h1>All By Myself</h1>
<pre>
by Eric Carmen (performed by Jewel for Clueless)
NOTE: This is not on the sound track, it is played during a scene where
the main character realizes she likes josh.



When I was young
I never needed anyone
And making love was just for fun
Those days are gone

Living alone
I think of all the friends I've known
When I dial the telephone
Nobody's home

All by myself
Don't wanna be
All by myself
Anymore

Hard to be sure
Sometimes I feel so insecure
And loves so distant and obscure
Remains the cure

All by myself
Don't wanna be
All by myself
Anymore

All by myself
Don't wanna live
All by myself
Anymore

When I was young
I never needed anyone
Making love was just for fun
Those days are gone

All by myself
Don't wanna be
All by myself
Anymore

All by myself
Don't wanna live
Don't wanna live
All by myself

I never needed anyone

All the Animals
    by Jewel Kilcher

All the animals
agree you and me
should be a team

And they walk on parade
say that we were made
to be a team

And my flesh melts beneath your tongue
I am your little comunion

And all the rainbows
Tell me that they know
We're a perfect pair

And the birds up in the sky
Say they can see it from way up high
We're a perfect pair

And my wings weaken beneath your will
And before you I am trembling and still

All the birds know it
One and one is two
All the birds see it
Tell me why don't you

And all the light of the sun
Doesn't help me out none
Cuz you still can't see me
</pre>
