
<h1>Because I Love You (Sept 1997)</h1>
<pre>
It's time now to leave
Quiet the mind of it's chatter
Still the riot in your heart
Disarm the tongue of it's dagger
Tell your arms not to worry so
And listen.....

Step into it
Lift your face into the strong wind
Least we miss it's meaning
Such cold beauty exists here
Do you see it?

Like the landscape
Frozen &amp; waiting to be born
Let me bundle you in clothing
And soft things
Because I love you
I will not send you out into the night
With teeth marks &amp; pride I have stripped you of

We will prepare each other
We will make up our own ceremony
I will draw a compass on your belly

Tell me that its OK
Before you turn me loose
Into the endless sky
Let me kiss you &amp; then send you on your way
For Winters can be long
And I will need a friend
</pre>
