<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Because I Love You (Sept 1997)</h1>
<pre>
It's time now to leave
Quiet the mind of it's chatter
Still the riot in your heart
Disarm the tongue of it's dagger
Tell your arms not to worry so
And listen.....

Step into it
Lift your face into the strong wind
Least we miss it's meaning
Such cold beauty exists here
Do you see it?

Like the landscape
Frozen &amp; waiting to be born
Let me bundle you in clothing
And soft things
Because I love you
I will not send you out into the night
With teeth marks &amp; pride I have stripped you of

We will prepare each other
We will make up our own ceremony
I will draw a compass on your belly

Tell me that its OK
Before you turn me loose
Into the endless sky
Let me kiss you &amp; then send you on your way
For Winters can be long
And I will need a friend
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>