
<h1>Billy</h1>
<pre>
I know little Billy from the small time town
Ma and Pa meant well but they just weren't around
But he would learn what little they had taught
They told him, Heaven is hard but hell is not
He remembers Papa's words before he died
He said, word hard son, you must change the tide
Before our people have liberation, you can never rest
On your shoulders, lies our future boy, so do your best
Do more than your best
Never forgot the burden of his father's words
He lost his own life and lived the world's
No one told Billy theres somethings one man just can't do
Takes time to forgive and equality to take more before it's through
Just takes time
But still Billy went down to the big time town
Hoping to find some justice there,
But God how it all seems cynical through the eyes of despair
He no longer saw in color, he only saw black and white
There were never people behind thses faces
Until he realized one man can't win
Can't win this fight
So Billy went back to small time town
got a life and he settled down
He teaches children who never really thought
He told them, Heaven is hard and Hell is
Heaven is hard and hell is
Hell is not worth fighting for.
</pre>
