<
<h1>Behind The Wall</h1>
<pre>
by Tracy Chapman (Jewel performed a cover of this)

Last night I heard the screaming
loud voices behind the wall
another sleeples night for me
it won't do no good to call the police
Always come late if they come at all

 Last night I heard the screaming
loud voices behind the wall
another sleeples night for me
it won't do no good to call the police
Always come late if they come at all

and when they arrive, they say they can't interfere with domestic
affairs between a man and his wife
and as they walked out the door
the tears were left in her eyes

 Last night I heard the screaming
loud voices behind the wall
I pray that I was dreaming when I saw the ambulance in the road
and the police man said "I'm here to keep the peace,
would the crowd please disperse"
I think we all could use some sleep
</pre>
