
<h1>Boy Needs a Bike</h1>
<pre>
Pop works in the shop til eight
Mom's on the phone and she's kind of irate
Sally's doing sommersaults on the lawn
Pop slams open the front screen door
Just to scare mom
She says, "What the hell did you do that for?"
He washes his dirty hands in the sink
And things around the table are kind of rough
Mom says it's pa
Pa says, "The times are just tough"
And me and Sally don't say much of nothing at all
The garage door light brightens up the night
Pa always works on cars when he gets in a fight
As though he could figure out that woman by working on that old car
He said a car can cure any problem at all
Cause of looking at all them parts makes a fight look so small
But I wish he'd just put me and Sally in the backseat and drive us away
That's when he sits me down
He says he's gonna teach me about life
He said, "A man needs a car and a boy needs a bike"
I got my first taste of freedom beneath the light of the moon
But if it were me
I'd have the guts to put to test those bolts and nuts
And I'd Ride Away so fast, so far
Ride Away... So fast, so far
Put away our tools
We go back inside
Mom feels left out and now she's starting to cry
I wonder if all girls are crazy this way
I wish pops would just get a spine
I said I know it's kind of small but you can borrow mine
He just smiled and said, "Your mom means well son"
Most times are good it's just some that are lean
But it's love that makes up for those times in beteween
He got a tear in his eye as he took mamma's hand
said one day I'd understand
But if it were me
I'd have the guts to put to test those bolts and nuts
And I'd Ride Away so far, so fast
Ride Away so fast so far
Ride Away
</pre>
