
<h1>Breaking Up</h1>
<pre>
Do not think it hurts me bad
It doesn't hurt me none
It does not mean anything
I'm fondling this gun
And I don't hurt that bad
And I don't miss you
I don't eat alone
Wishing I was eating with two
It's like a sad movie
They always get high ratings

In fact I feel like celebrating
I feel like celebrating

And do not think I ever thought that
This would really work
It was just sort of a casual thing
Like trying on a shirt
I don't sit home slone and stare
At your picture wishing that
You were still there
I never get lonely
In fact I'm probably masturbating

In fact I feel like celebrating
I feel like celebrating

Oh goody! Oh joy!
I'm finally free
I no longer have to sit through
Your mother's casserole recipes
Oh joy! Glee!
I'm finally free
</pre>
