<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Butter Cup</h1>
<pre>
Transcribed by Ryan Doskocil

Gee your mom looked
Like shit last night
Hope that tinkertoy
Boyfriend tonks her right
Then again I could never tell
A fist fight from fun
Maybe I've never really known anyone

Just sat still and spit in the fire
I thought I might strangle you
But I couldn't find a wire
You've never been the type
To make your heart clear
Lest someone overhear

Words drown in your martini glass
Entire sentences slowly drunken up
But before they slipped away
I swore I could've heard them say
You wanted me to be your buttercup
Say you need me to be your buttercup

The party reached a feverish pitch
Good time soldiers
Drunk and in a ditch
Infidelity a bomb that went off
That left the world
To swerve and cough

Stepped over bodies
Strewn like shipwrecks
Love's last call
Warning puke reflex
Faith is for that frozen few
That never met
Someone quite like you

Words drown in your martini glass
Entire sentences slowly drunken up
But before they slipped away
I swore I could've heard them say
You wanted me to be your buttercup
Say you need me to be your buttercup

Fish don't know they're short
They just feel sideways
And words to you are
Just the same they shy away
When legs and limbs are all tucked in
You pull me close to you come night
And I'm just like a fleshy fruit
And hung from the bowl of your side
Your lips may not sell or say
What your eyes give away
You're sweet as pumpkin pie

I take the keys
From your hand that stutters up
Let the night air sober you up
Driving home you make me pull over
You press my hand gently
As a four leaf clover

You say sweetheart
I'm a foolish man
I'm ornery and I'm stubborn
Like my coffee from a can
But without you I would
Shrivel up and die
Won't you be my
Won't you be my
Won't you be my...

Words drown in your martini glass
Entire sentences slowly drunken up
But before they slipped away
I swore I could've heard them say
You wanted me to be your buttercup
Say you need me to be your buttercup

Tell me you need me
To be your buttercup
Your buttercup
Ducks, shnucks, shlucks, shucks
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>