
<h1>Can't Take My Soul</h1>
<pre>
The weathers getting cold
But its ninety degrees outside
It feels like I'm driving so slow
But this old ford is cruising ninety-five

I thought I could hear your cold words
After all, they were just words
I thought I could see your sad eyes
After all, eyes won't lie

I thought that I could just take this hatred in
Let it back out and see love again
But know I'm giving up
But I'm never giving in

So you can take my life
And you can keep this heart
But you never can take my soul
No never can take my soul

It feels so good like I'm laughing
But theres these tears running down my face
I dry my eyes to see the sun rise
Only to find its set, its too late

So I sit there and listen to you scream
After all, I never would
But I cry before I go to sleep
After all, I knew I wasn't what I should be

I thought that I should just take this hatred in
Let it back out and see love again
But now I'm giving up
But I'm never giving in

So you can take my life
You can keep this heart
But you never can take my soul
No never can take my soul

I tried to say goodbye yesterday
But we ended up in bed instead
*(I don't understand this entire line)
But I couldn't, had to turn away, turn my head

Give me the strength to let you go
After all, I never could
*(I don't understand this entire line)
After all, I knew I wasn't what I should be

I thought that I should just take this hatred in
Let it back out and see love again
But know I'm giving up
But I'm never giving in

You can take my life, you can have this heart
*(don't understand this entire line)
You can have all my hands, my feet and my head
And all of those good things I did everywhere
But you never can take my soul

You'd think that you could posses
All of my looks, all of my prettiness
All of my feelings and my lovings too
But don't you know that you were the fool

But you never can take my soul
No never can take...
        Can't take my soul.
</pre>
