
<h1>Carnivore</h1>
<pre>
So much space can fit in a side
More than words can say
I'm left here with my hands all awkward
Trying to mend space

I used to know you
But not anymore
Your substance has been subtracted
Word by word

Silence in my ears
Where once you offered your conviction
Your promises are dried beats
They're cracked with nostalgia

But that's all right
That's okay
Had no business
Giving myself to you anyway
Be careful next time for sure
And I'll
I'll never trust my pink fleshy heart
I'll never trust my pink fleshy heart
To a carnivore
Carnivore

Your soul is an ink stain
Your perfection is amend
You're as fragile as your thoughtlessness
As strong as you can bend

You could only believe in embryos
Held all your high hopes through a telescope
Lavender haunted you
So I could own your life in yellow

You have a fire down in genius, subtlety
And you slip through the fingers of ambiguity

Well, that's all right
That's okay
Had no business
Giving myself to you anyway
Be careful next time for sure
And I'll
I'll never trust my pink fleshy heart
I'll never trust my pink fleshy heart
To a carnivore

Well I didn't know
But I won't do it again
This time I'll be my own best friend
And I'll take back my song and my poetry
This time i won't be so easy to read

And I'll never trust my pink fleshy heart
And I'll never trust my pink fleshy heart
And I'll never trust my pink fleshy heart
to a carnivore
to a carnivore
to a carnivore
</pre>
