
<h1>Chime Bells (Jewel Version)</h1>
<pre>
KEY:
y   - yodel
ly  - long yodel
rly - really long yodel


Up on a mountain so gay and so free..huh huh
There is a young man and he's waiting there for me
Out on the lake, we'll drift with the tide
And hear those chime bells ring

Chime bells are ringing...y
Mockingbirds they're singing...y
Hush, little lover...y
Up on a summer's eve or eave...
ly

Moonbeams were shining as I kissed him there.         (kiss)
Nightbirds were singing and darkness filled the air
Each little star that twinkled above
Was heaven that smiled on our love

Chime bells are ringing...y
Mockingbirds they're singing...y
Hush, little lover...y
Up on a summer's eve...
rly
rly (faster)
Should I go faster?
rly (even faster)
rly (faster still, usually a capella)
(By this time your eyes are bulging)
ly
</pre>
