<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Chime Bells (Jewel Version)</h1>
<pre>
KEY:
y   - yodel
ly  - long yodel
rly - really long yodel


Up on a mountain so gay and so free..huh huh
There is a young man and he's waiting there for me
Out on the lake, we'll drift with the tide
And hear those chime bells ring

Chime bells are ringing...y
Mockingbirds they're singing...y
Hush, little lover...y
Up on a summer's eve or eave...
ly

Moonbeams were shining as I kissed him there.         (kiss)
Nightbirds were singing and darkness filled the air
Each little star that twinkled above
Was heaven that smiled on our love

Chime bells are ringing...y
Mockingbirds they're singing...y
Hush, little lover...y
Up on a summer's eve...
rly
rly (faster)
Should I go faster?
rly (even faster)
rly (faster still, usually a capella)
(By this time your eyes are bulging)
ly
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>