
<h1>Chime Bells (Atz Kilcher Version)</h1>
<pre>
y = yodel

Up on a mountain so gay and so free..
There is a young man and he's waiting there for me
Out on the lake, we'll drift with the tide
And hear those chime bells ring
Chime bells are ringing...y
Mockingbirds are singing...y
Hush, little lover...y
Up on a summer's eve or eave...

Moonbeams were shining as I kissed him there.(swack)
Nightbirds were singing and perfume filled the air
Each little star that twinkled above
Was heaven that smiled on our love
Chime bells are ringing...y
Mockingbirds are singing...y
Hush, little lover...y
Up on a summer's eve...
</pre>
