<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Circle Song (With You I Will Always Be)</h1>
<pre>
If you see me speak without words
Know that I am speaking of the wind
And if you see my words like wind
know that soft tongues cut through stone
And if you see my words like stone
Know its wisdom lies in silence
and if you see my wisdom in silence
Then with you I will always be

And if you doubt my true love is true
Just see how you have no chains upon your hands
And if you see you wear no chains
You are free like poor men
And if you see your freedom in being poor
Pleased you'll be with the treasure of your mind
And if you're pleased with the treasure of your mind
Then with you I will always be

And if you wonder how it is that I love
Just watch the sun set slip away (space between sun and set intentional)
and as you watch that sun slip away
know some things are better left unseen
And if you know things are better left unseen
then night shall carry you in her arms
and if you see I carry you in my arms
Then with you i will always be
With you I will always be
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>