
<h1>Comfortably Numb</h1>
<pre>
Transcribed by Adam Longfellow

Snow is on the mountain
winter settles in my heart
Icy fingers are familiar
Smooth and cold and oh so hard
Comfortably numb

Frost bites deep
Tiny birds fly from my heart
White winds scream as they leave
Frozen lands of my heart
Comfortably numb

I watch my hands
To see what it is they do
Their dirty, they don't build churches
They don't take risks and they don't remember you
Comfortably numb

Orion was a mighty warrior
Cleopatra was a cheap French maid
He said sweetheart I give you the moon
She says I much prefer jewelry
So in the stars he stayed
Comfortably numb

Me and Jesus, we go way back
Cause we used to hang at the mall
He says you can't trust them
They'll just put holes in your hands
So I covered him while he stole a bottle of cheap cologne
Comfortably numb
Lord, fordbid, care crawled up my arm
and I killed it right on the spot
For fear it might tear out of my heart

And make me love what I do not
Comfortably
Comfortably
Comfortably Numb
</pre>
