
<h1>Cruise Control</h1>
<pre>
Transcribed by Sebastien (JewelEDA21@aol.com)

Where do you go
when the cold wind blows
what do you see
when you're staring down victory

Well, hey mister, this one's gonna pass you by if you let it fly
let it go, oh
you're not here, you're not in love...
you're on Cruise control
You're on cruise control
you're on cruise control

You have no taste for
what is too known
you have to ignore something
once it is shown

Well, hey mister, this one's gonna pass you by if you let it fly
let it go, oh
you're not here, you're not in love...
you're on Cruise control
You're on cruise control
you're on cruise control

You can't get it back,
it's like a heart attack
once you lose track,
you can never find the track back home
you lost a friend and you lost something great
you sold yourself
just to save a little faith
just like a razor with nothing left to cut through
you throw yourself on everyone around you
oh you're invincble, you (blah blah blah blah blah)
you catch cleverness up around your heart
you were always like the rest of us
      ?
But you'll be lonely tonight
lonely tonight
lonely tonight

you can't comprehend hunger
before it begins
you can't appreciate good love until it's too late

Well, hey mister, I'm gonna pass you by if you let me fly
let me go, oh
you're not here, you're not in love,
you're on cruise control
you're on cruise control
you're on cruise control
</pre>
