
<h1>Daddy She's a Goddess (by Jewel and Steve Poltz)</h1>
<pre>
Refrain:
Daddy she's a goddess
Can we keep her tonight?
Daddy she's a goddess
Watch her move
Her hair so clean when she skin's so smooth
Her nose don't drip like me
Daddy can we keep her please please please
Oh yeah yeah

Saw her walkin' late at night by the liquor store
Set down my Lucky Lager and followed her out the door

Pretty young thing should know better than to walk home alone
So I saw my duty, hadda take her home

Sister likes to feel her up
Late at night
Use her body for a dartboard
And pin her up right

Oh bullseye there it is again
It's always so fun, cause with you I always win

Read the paper
check the press
You're never gonna find that
party dress
She likes it here
She told me so
She cries Oh baby
(?)takes all the bowls of coal

Ain't never gonna find us mountain men
Kissing sister got boring, we won't be bored again
She's so fine, she's a hillbillies dream
Up here in the mountains, you can't hear her scream

Daddy she's a goddess..yodel-ay-hee hee
Daddy she's a goddess..yodel-ay-hee hee
(various improv on this until..)
Daddy she's a goddess
doo doo doo doo doo doo daddy
Daddy she's a goddess
doo doo doo doo doo doo daddy
Daddy she's a goddess
doo doo doo doo doo doo doo doo doo doo Daddy
</pre>

