
<h1>Damn The Daisies</h1>
<pre>
I go to the table
Your pictures are on the front
I looked so much younger then
Somehow so much different
I look in the mirror
I want to spit on my face
I hate these things I've become
I don't deserve to take up this space
That I live in

Dark rings around my eyes
Bruises on my bones
I'm tired of these lies that drip from my mouth
Like habitual beads from a broken string of once was love
I go to the drawer
I pull out the gun
In my hands it's heavy and cold
It feels like something I was damned to hold

Damn you man and your sweet kisses
Damn your hairs in the sink
Damn the pool and all the trash it collected
The leaves only look like blonds and brunettes to me
Damn my suspicion and damn my sight
Damn you and your twisted ways
Damn my courage for being gone so much
Damn love because it stayed

I lift the gun to my face
I'm gonna shoot myself in the eyes
The daisies are on the table
That you gave me yesterday
But yesterday I was willing to compromise

I hear the key and you open the door
Billy runs to greet you
Billy won't hurt anymore
The sun shines in the window
Where the pictures and the daisies lay
This chaos can't continue
I never liked daisies anyway

I hear your footsteps
Coming down the stairs
You reach the bottom with an apology in your hand
I'm standing there
Funny you have that same look in your eyes
As all those times I had in mine
I pull the trigger
The daisies apologize for the last time

Billy runs downstairs
I am numb
I call the police
Tell them what I've done
I go to the table
where the pictures and the daisies lay
I looked so much younger then
Somehow so much different
The sun shines through the window
Where the pictures and the daisies lay
Where the daisies lay
Where the daisies lay
Oh well
Never liked daisies anyway
</pre>
