
<h1>Dance Between Two Women</h1>
<pre>
Thank you for the flowers you brought me today
And thank you for the kindness you showed me today
No love can be stronger than between two strong women

No man can ever know the dance between two women
We can dance... My lady... May I have this dance?
Thank you for the wisdom the knowing from inside
And thank you for the comfort only a woman can provide
No man can ever know the dance between two women
Love can't be stronger than between two strong women
We can dance... My lady... May I have this dance?
Thank you for the strength without a need for power

And thank you for the rhythym, the sacred circle
Love can't be stronger than between two strong women
No man can ever know the dance between two women
Like you and I
We can dance... My lady... May I have this dance?
</pre>
