
<h1>Do You Want To Play</h1>
<pre>
Transcribed by Mike Gray


Met her on a Friday afternoon
In a disco glow light neon chiffon (???)
She never looked back
She always looks good dressed in black

She says, oh oh oh oh oh whoah oh
Do you want to play?

The counter beneath the discount store
Pictures of Randy Newman
Scattered all across the floor
Says this place looks so desolate
You only have a life
But have you always been this way?
I'll take you back

Oh oh oh oh oh oh oh whoah
Do you want to play?

Don't work too hard
Don't think too fast
Don't understand what you can't take back
Don't look back
Don't pray to your super-neon dayglow deity
Don't understand
Don't understand
Don't understand
Don't understand

Oh oh oh oh oh oh whoah oh oh
Do you want to play?

Oh oh oh oh oh whoah oh oh
Oh oh oh whoah oh oh
Whoah whoah oh whoah oh

Does Anyone Believe In Love Anymore?

Take my hand
Don't fall behind
The night is dangerous
And I follow blind

The heart Is a red smear
So eager to bleed
So lay here with me
Darling , please

How does a heart know when to
fall again?
How does a heart know when to
fall again?
I'll follow you down, down, down
I'll follow you down, down, down

I'm part woman
I'm still half child
I've been hurt and I've hurt others
In loves jungles ever wild
But the heart is blind
It wants only to love again
I'm frightened &amp; I don't mind saying
Stay with me friend

How does a heart know when to fall again?
How does a heart know when to fall again?
I'll follow you down, down, down
I'll follow you down, down, down

Here it comes again
I cant help myself
I'm falling in
Call me naive
But I believe
Your two blue eyes are all I see

Hey, does anyone believe in love anymore?
I need to know does anyone
believe in love, I mean true love, anymore?
Does anyone believe in love?
</pre>
