
<h1>Down (1997)</h1>
<pre>
Take me down to the water
Where the cold wind blows
Take me out to the wildlife, baby
The red light meets the crossbow
I will take you there, I will take you there........ Down

The exit sign always leads to the west
Bar stools begin to cry
Jupiter looks for a cosmic sign
Still you wonder why
I will take you there, Will you take me there?........ Down

Underneath the twilight
Stars begin to sigh.....still you wonder why
You can't think of any words to say  (note: this line changes almost every
night)

Take me out to the strawberry fields
The sun drips like honey through my hair
Let the warm lights fill me up
L.A. or anywhere

I will take you there, I will take you there........ Down
</pre>
