
<h1>Down at the Bridge</h1>
<pre>
Transcribed by Adam Longfellow

I went down to the corner market store
Didn't really know what I was going for
Must have been a stroke of destiny
To bring you to me
We met in the frozen food section
It was a Mrs. Swanson love connection

Down at the bridge. Down down down at the bridge
Down at the bridge. Down down down at the bridge

You can really tell a lot about a man
By if he likes his peaches to be fresh or canned
Does he like Tide or prefer Wisk
I've never got to know a guy as good as this
You lifted your eye, I'll show you mine
It was love at first sight, there was no denying

Down at the bridge. Down down down at the bridge
Down at the bridge. Down down down at the bridge

[Girl and Guy Duo]
Do you like my car
  It's not real fast
But it goes real far
  Do you like what I say
I wouldn't have it any other way

I walk slowly towards you down the aisle
I got this future flash and it made me smile
I knew right then I had better leave or forever hold my peace
Put your grocery bag inside of my cart
And I knew I'd never get ya out of my heart

Down at the bridge. Down down down at the bridge
Down at the bridge. Down down down at the bridge
</pre>
