<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Electric Fan</h1>
<pre>
An electric fan
That keeps me company tonight
It's nights like this make
It easy to forget
Why we used to fight
...It also makes it easy
To forget the words...
...Right...

An electric fan
That keeps me company tonight
It's nights like this make
It easy to forget
Why we used to fight
Love is an ember
Born to burn out
Well, I wish it would
No, I don't feel that good

Lately they blend
And blur with the scenery
Crowded rooms make it easy
To forget I'm lonely
The cat puked in my shoe
Guess it's fitting it would
But I, I don't feel that good

Regret's a useless word
Usually I try to avoid it
But sometimes it gets so quiet
That I can't remember the morals
But the part I can't admit
When you're thinking out loud
Is just a whisper
That feels like a shout
Oh, God, I made a mistake
I can't breathe without you

The cars driving by
They throw their lights
Against the wall
I should go to bed
Get out of this chair
And turn the TV off
Oh goody! I get to go to bed alone!
If I could get excited I would
No, I don't feel that good
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>