
<h1>Everything Breaks Sometime</h1>
<pre>
Under the shadows, forbidden and hot
Desire grows, more often than not

I'm sorry's a stupid thing to say
Especially considering it's not like I planned it this way

But I'm sorry is all that there is left of me
I'm so sorry this love made me hollow and left you empty

Maybe I could have loved you better
Maybe you should have loved me more
Maybe our hearts were just next in line
Maybe everything breaks sometime
Everything breaks sometime

It's hard to believe its boiled down to this
It seems so surreal this won't be healed by a kiss
It's hard to stare at you knowing you like I have
I used to feel so close, now I feel so bad

My heart's filled with thunderstorms and I'm ready to burst
And I've lost my favorite harbor and I'll weather for the worst

Maybe I could have loved you better
Maybe you should have loved me more
Maybe our hearts were just next in line
Maybe everything breaks sometime
Everything breaks sometime
I'm so sorry,
everything breaks sometime
</pre>
