
<h1>Food Stamp Love ( by Jewel and Steve Poltz )</h1>
<pre>
Transcribed by Tom Proven
(Edited slightly for FG)

MMMMMMMMMMMM, yeah yeah yeah woh woih woh yeah

I'm outside your window
talking through glass
you throw out some love crumbs
but I've got an appetite bigger than that

I'm hungry for something...yeah yeah yeah
that I can't afford
you dole out your love like foodstamps
Well I want something more

Sick of your foodstamp love
Sick of your foodstamp love
Sick of your foodstamp love

You hand me some paper...yeah yeah yeah
show me where to sign
If I'm lucky I will get your number
Oh goody I think this is a real good time

After you ask me some questions
Do I qualify?
Well I don't want your handouts anyway
cause boring stuff is all I can buy

Sick of your foodstamp love
Sick of your foodstamp love
Sick of your foodstamp love

[guitar solo]

I run to my mailbox
hoping that it's there
some sort of message telling
me that you really care

but all there is is junk mail
there's a sale down at the mall
there's some coupons for *canned love baby (?)
but there's nothing from you at all

sick of your foodstamp love (x6, with guitar work behind)
</pre>
