<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>His Pleasure Is My Pain</h1>
<pre>
A man stands in the doorway like a small child
angry fists
she lies on her bed her head buried in her pillow
and she stares at the moon
he speaks to her all the words shes heard too many times before
and pretty soon she just let's his voice fade away

and she thinks...

This was a gradual steel frost
that started with cold feet
and ended with numb hearts

This was once satisfying sex but now no longer is

It was once filled with the possibilities of new china or old stone
but now it's exagerated and waterlogged no longer what these
hands had
intended and still I cry in my sleep

He always said I was too sensitive,

but I say

(chorus)

at least I never meant to make him cry.
At least I never meant to make him hurt that way
Nooo I never meant to make him cry
Never meant to make him hurt that way

Yes it's true, I'm too senstive
but he takes pleasure in my pain.
Yes it's true, I'm too senstive
but he takes pleasure in my pain.

And the unheard hours they fly by
she goes to the window
she puts on a nightgown and brushes her hair
he's already asleep
by the time she

goes and lays herself back down.
she thinks

my god, what am i doing hear?

My bones have grown tired of his hunger, of his gray eyes,
and I feel if I were to stay one more night here I'd die or explode
or worse yet just fade away.
There have been days so dark that I felt like august
and that I soon too would turn to fall.
he always said I was too sensitive that if I cared so much
the world could kill me that way.
I wonder if he's only half alive or if he's simply always been this
inarticulate,
cause i say

(repeat chorus)

And she get's out of bed and looks at her feet as though they
were the wings for her freedom
she gets up and goes to the door
it's a moment in which anything can happen
instead she gets out some clothing
puts it in a bag and leaves him sleeping

while she heads for the door.
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>