<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>A Housewife's Revenge</h1>
<pre>
Seems like that man took my heart
[Feels]
Laid it neatly out before him on the floor
Then he put on the biggest
heaviest winter boots he had
And stomped on it for three hours,
Maybe four
And I hope his Sorrells are ruined forever
Cause you know he knows how to push my every button

Get down to my last nerve

Like the other day he forgot to put his beer can
In the recycling bin
And he meant to do it on purpose I'm sure
So I might just have to tell him
Why his dog, Ralph, that ran away three years ago
Won't be coming home again
Cause you know he walks around the house
In his underwear
Whenever my girlfriends come around
And perhaps if he were good looking
I might feel a bit jealous, overzealous
But all I feel is embarrassed
Looking at him standing there
And I hope he never finds his left slipper
And my psychiatrist says I should tell him how I feel
He says, "Oh great, I gotta listen to her snivel again"
So I have these little unfulfilled fantasies
Of putting arsenic in his teacup
We'd see who'd be laughing then
If only he was the type to drink tea
Now I hear him come up the driveway
In his El Camino
With its black with a red-flame firebird on front
He keeps the keys to himself
He won't take me out to the movies
Cause of football
So I'll just hold out on something else
I'll never cook him another single Hungry Man TV dinner again
I say, "Listen man, you better treat me with some
r-e-s-p-e-c-t
Cause I gotta a whole lotta what you need
Then a whole lot besides, and then still a whole lot more"

He said, "Yeah, if you were talking about your weight
that might be true - but otherwise all you give me is
Headache and heartburn"
So I took his Hungry Man TV dinner and his Sorrels
So I took his left slipper and his Hungry Man TV dinner
And I spit on his Sorrels as I walked out the door.

And I spit on him as I walked out the door
By the way, your dog Ralph won't be coming home again
</pre>
<p>Return to <a href="../index.html" title="Jewel's Lyrics">Lyrics</a></p>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>