
<h1>A Long, Slow Slide</h1>
<p>Transcribed by Cristina Soto for FoolishGames.com<br />
  Thank you Cristina</p>
<p><b>B-side from the import of &quot;Standing Still&quot;</b></p>
<p>The lights are bright in the circus<br />
  The geeks and the frieks all light cigerettes<br />
  And laugh at your misery<br />
  While the weight of the curtain closing<br />
  Crushes your heart<br />
  The inertia of lonliness<br />
  Tears your flesh apart</p>
<p>It's a long, slow slide<br />
  It's a long, slow slide<br />
  It's a long, slow slide down</p>
<p>Once the neon is gone<br />
  There's still that golden splinter at your side<br />
  As manners are charming<br />
  But who are you fooling<br />
  You're still nobody's bride<br />
  And Bukowsky's widow<br />
  Haunts each empty seat on the ferris wheel<br />
  As goulish lovers collide<br />
  In a collage of kisses that they steal</p>
<p>It's a long, slow slide<br />
  It's a long, slow slide<br />
  It's a long, slow slide down.</p>
<p>Outside your window the circus lurches<br />
  With rings of smoke<br />
  You laugh half heartidly at the punchline<br />
  Not realizing they've made you the joke<br />
  And inside your heart a war is raging<br />
  Regions still untamed<br />
  The worst fear I can image<br />
  Is for the mystery to remain<br />
  Is for the mystery to remain</p>
<p><br />
  It's a long, slow slide<br />
  It's a long, slow slide<br />
  It's a long, slow slide down </p>
