<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Doin' Fine</h1>
<pre>
We are what everyone wants 2 be
We are young
And carefree
Life's a breeze for people like u and me

If u lookLife lays out just like a road
It's for us 2 grab ahold
There's no one that can tell us no

CHORUS

So come on, baby
Let's just have fun
Let's breathe stardust into our lungs
Let's drive too fastLet's go too far
When our hearts bleed it lets us know we are-alive
And that we are-doin' fine

We lay down
Look at the sky
From upside down
There's nobody we have 2 beLet's live fast and see where it leads

CHORUS

Let's get lost
In love like wine
Let kisses quench
This thirst of mine
Let me feel the weight of your skin
Pressing in

CHORUS
</pre>
<!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>