<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/lyrics.dwt" codeOutsideHTMLIsLocked="false" --><head><!-- InstanceBeginEditable name="doctitle" -->
<title>Foolish Games - Jewel Kilcher - The Music - Lyrics Library</title>
<!-- InstanceEndEditable --><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable --><link rev="made" href="mailto:luke@foolishgames.com" /><link rel="stylesheet" type="text/css" media="print" href="/print.css" /><link rel="stylesheet" type="text/css" media="screen" href="/jewel/lyrics/lyrics.css" /><link rel="contents" href="/jewel/lyrics/lyrics.htm" /></head><body><p><a href="../index.html">The   Music</a> | <a href="../lyrics.htm">Index</a></p><p><img src="../../../images/fglyrics.png" width="420" height="34" alt="Foolish Games Lyrics Library" /> </p><!-- InstanceBeginEditable name="Content" -->
<h1>Everybody Needs Someone Sometime (this way version)</h1>

<pre>Mary heard boys talkin' in voices low
Saying she weren't no spring chicken
Like she didn't already know
So she called up Jack from a few years back
She turned him down once in his one-room shack
She said, "Now baby, you don't look that bad"

CHORUS
'Cause everybody needs someone sometime
Everybody needs someone, can't you see
Everybody needs someone sometime

Spivey Leeks was a drip of a man
He looked like a potato shoved into jeans
He recollects, it wasn't that long ago
That he could walk by, make the young girls scream
But he thought he'd just let it all slide, let it all pass
'Cause he thought love was best on the run
He said, "Now baby, it don't seem that fun"

CHORUS

Hey there, Honey Bee
Will you give me... sugar
And if you shake real cute
I might give you some... sugar
I was doing alright on my own but now I just might take you home...sugar

Sister Mary used to be a nun
She thought that she'd retire and have her some fun
Mr. Joe (of the Philadelphia Joes)
Well, he worked in the Post Office all night
He said, "Hey Sweetheart, you know you look alright"

CHORUS
</pre><!-- InstanceEndEditable --><p><a href="../lyrics.htm">Return   to Lyrics Index</a></p></body><!-- InstanceEnd --></html>