
 <h1>I Won't Walk Away (this way version)</h1>

<pre>A lonely street lamp
I'm out on the street walking home
A small pale blur
Leaving trails like a snail
I move so slow
Time can bruise
Violent indigo
Rush home to your arms
You soothe my weary soul

CHORUS
Wrong or right
Be mine tonight
Harsh world be damned
We'll make a stand
Love can bind
But mine is blind
Others stray but I won't
Walk away
Walk away

The clubs are full
Of couples resisting being one
They wear their youth
Like badges that tarnish all too soon
We'll be a team
Our two will be one
Love will be our fortress
When all else comes undone

CHORUS

Sometimes the world don't make sense
Small children filled with violence
Let our light shine through the night

CHORUS</pre>
