<div class="picnavbar"><a href="#!/pictures/musicvideos">previous</a> &nbsp;<a href="#!/pictures/misc/index.html">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h2>High School Pictures</h2>
<p>Click on an image to see a larger version.</p>
<p>These photographs were taken at Interlochen Arts Academy in Interlochen, MI.
</p>
<p> The third image was taken in the Fine Arts Building. It was also suggested
    that it was taken during a Coffee House performance. Coffee House performances
    happen once a month during the school year, and feature students who perform
    in the order in which they sign up. No one but the person performing is aware
    of the content. Typically staff members do not participate, so practically anything
    can be performed without fear of disciplinary action. Thanks to Erinn for this
    information.</p>
<p>For more information about Jewel's experiences in high school, visit <a href="#!/biography/02">section
    2</a> of the biography.</p>


<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/high_school/hs_1.gif"><img
                data-ng-src="../../../images/pics/high_school/hs_1-tb.JPG" alt="High School 1"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/high_school/hs_2.jpg"><img
                data-ng-src="../../../images/pics/high_school/hs_2-tb.JPG" alt="High School 2"></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/high_school/hs_4.jpg"><img
                data-ng-src="../../../images/pics/high_school/hs_4-tb.JPG" alt="High School 4"></a>
    </li>
</ul>