<h2><img src="jewel_abio.gif" alt="Jewel, A Biography" height="58" width="180"/></h2>
<h3>By Lucas Holt</h3>
<p><b>Other Versions:</b></p>
<ul>
    <li><a href="http://www.nearyoualways.hpg.ig.com.br/bio.htm">Portuguese Translation</a>
        by Fernando
    </li>
    <li><a href="../../download/biography.pdf">English Acrobat format</a> (4/2003)</li>
    <li><a href="../../download/other/jewel.mov">Quicktime Slideshow</a> by Caryn
        Holt (3/2003)
    </li>
</ul>
<p><b>Table of Contents: (HTML Version, 2002)</b></p>
<ol>
    <li><a href="01.htm" title="The Beginning">The Beginning</a> (1974)</li>
    <li><a href="02.htm" title="High School">High School</a> (1990)</li>
    <li><a href="03.htm" title="The Turning Point">The Turning Point</a></li>
    <li><a href="04.htm" title="Transition">Transition</a></li>
    <li><a href="05.htm" title="A Night Without Armor">A Night Without Armor</a></li>
    <li><a href="06.htm" title="Spirit">Spirit</a> (1998)</li>
    <li><a href="07.htm" title="Ride with the Devil">Ride with the Devil</a> (1998)</li>
    <li><a href="08.htm" title="The Cowboy">The Cowboy</a> (1999)</li>
    <li><a href="09.htm" title="Chasing Down the Dawn">Chasing Down the Dawn</a></li>
    <li><a href="10.htm" title="Contact Jewel">Contact Jewel</a></li>
</ol>
<p>Written by <a href="mailto:luke@foolishgames.com" title="E-mail the author">Lucas Holt, Luke@FoolishGames.com</a></p>
<h3>Atlantic Records Bio for Jewel</h3>
<ul>
    <li><a href="atlantic.html" title="View the Atlantic Bio in HTML Format">html version</a></li>
    <li><a href="../../download/bio_atlantic.pdf">Acrobat version (2001)</a></li>
</ul>