<div class="row">
    <div class="span6">
    <h3>Revealing Jewel</h3>
    <h4>AN INTIMATE PORTRAIT FROM FAMILY AND FRIENDS</h4>

    <p><img src="../images/books/revealing_jewel_cover.jpg" width="204" height="250"
            alt="Cover: Revealing Jewel"/></p>

    <p>Introduction by Atz Lee Kilcher <br/>
        Edited by Kenneth Calhoun and Cambria Jensen </p>

    <p>Atria Books, June 2003 ( 96 pages, $15.00 ) <br/>
        Trade Paperback, ISBN: 0-743-47540-2 <br/>
        BIOGRAPHY &amp; AUTOBIOGRAPHY/General </p>

    <p>Learn more about <a href="http://www.simonsays.com/book/default_book.cfm?isbn=0743475402&areaid=33%0D">Revealing
        Jewel</a> at <a href="http://www.simonsays.com/">simonsays.com</a></p>

    </div>
    <div class="span6">
    <h3>Sessions @ AOL</h3>
    <h4>Compilation Song Book</h4>

    <p>Arranged for Piano/Guitar with Lyrics. Sessions at AOL are filmed in an intimate environment resulting in an
        up-close
        look that captures the genuine live session recording vibe. This personality songbook brings you one step closer
        to
        your favorite artists who have been a part of these special performances created by AOL Music. Our folio
        features
        exclusive photos of the artists from their actual sessions! Titles (and artists) are: The Scientist
        (Coldplay) * Work It (Missy Elliott) * Mobile (Avril Lavigne) * Someday We'll All Be Free (Alicia Keys) * Are
        You
        Happy Now? (Michelle Branch) * Awnaw (Nappy Roots featuring Jazze Pha) * Intuition (Jewel) * Break You Off (The
        Roots) * The Jump Off (Lil' Kim featuring Mr.Cheeks) * My Friends Over You (New Found Glory) * A Thousand Miles
        (Vanessa Carlton)
        * Sinking In (Lisa Marie Presley) * No Letting Go (Wayne Wonder) * Follow Through (Gavin DeGraw).
    </p>

    <p style="color: maroon;">
        Paperback: ; Dimensions (in inches): 0.23 x 11.78 x 9.02 <br/>
        Publisher: Warner Bros.; (May 2004)<br/>
        Language: Published in English<br/>

        ISBN: 0757919758 <br/>
    </p>

    <p>You can purchase this at several locations including <a
            href="http://www.amazon.com/exec/obidos/tg/detail/-/0757919758/qid=1092610967/">amazon.com</a>
        and <a href="http://www.bn.com">BN.com</a>.</p>

    <p><a href="http://www.warnerbrospublications.com/">http://www.warnerbrospublications.com/</a></p>
    </div>
</div>