
  <h2>News</h2> 

  <p>The following is a summary of chart positions. Special thanks to Bryant.</p>

  <table cellspacing="1" style="border: #105c60 solid" >
    <caption>
     The ARC Weekly Top 40 
    </caption> 
    <thead> 
      <tr style="background: #ebf5f5">
	  <th></th>
	  <th>Song</th>
	  <th>Position</th>
	  <th>Weeks</th>
	  <th>Year</th>
	  <th></th>
	  </tr> 
    </thead> 
    <tbody> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>1</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1996/11-30.htm">
		<strong>You Were Meant For Me</strong></a><br /> 
         <a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
		<em>Pieces Of You</em></a></td> 
        <td valign="top" align="center">
		<a href="http://www.rockonthenet.com/archive/1997/02-22.htm"><strong>2</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>25</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a 
href="http://www.rockonthenet.com/archive/1997/main.htm"><strong>1997</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a 
		href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20"><strong>LISTEN / BUY</strong></a>
		<strong> ]<br /> 
          [ </strong><a href="lyrics/data/17.htm"><strong>LYRICS</strong></a>
		  <strong> ]</strong></td> 
      </tr> 
	  
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>2</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1997/07-19.htm">
		<strong>Foolish Games</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
		  <em>Pieces Of You</em></a> and <a href="http://www.amazon.com/exec/obidos/ASIN/B000002NFZ/rockonthenet-20"><em>Batman And Robin</em></a> soundtrack</td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1997/10-04.htm"><strong>1(3)</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>22</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/1997/main.htm"><strong>1997</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong>
		<a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="lyrics/data/9.htm"><strong>LYRICS</strong></a><strong> ]</strong></td>
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>3</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1996/05-18.htm"><strong>Who Will Save Your Soul</strong></a><strong><br /> 
                                          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20"><em>Pieces Of You</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1996/08-17.htm"><strong>3</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>19</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1996/main.htm"><strong>1996</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5">
<strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B000002J2S/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="lyrics/data/16.htm"><strong>LYRICS</strong></a><strong> ]</strong></td>
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>4</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2003/04-19.htm"><strong>Intuition</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><em>0304</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2003/06-21.htm"><strong>5</strong></a>
		</td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>18</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/2003/main.htm"><strong>2003</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/intuition.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>5</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/1998/10-31.htm"><strong>Hands</strong></a><strong><br /> 
          </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/01-02.htm"><strong>2</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>15</strong></td> 
        <td valign="top" style="border: #008080"  align="center"><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background:#ebf5f5">
<strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/hands.html"><strong>LYRICS</strong></a>
<strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>6</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2001/10-13.htm"><strong>Standing Still</strong></a> <strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"> <em>This Way</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2001/12-22.htm"><strong>4</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>15</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2001/main.htm"><strong>2001</strong> </a>&nbsp;</td> 
        <td valign="top" align="right" width="15%" bgcolor="#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br />
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/standingstill.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>7</strong></td> 
        <td valign="top"><a target="_blank" href="http://www.rockonthenet.com/archive/1999/03-27.htm"><strong>Down So Long</strong></a><strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/05-15.htm"><strong>5</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>12</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/downsolong.html">
<strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>8</strong></td> 
        <td valign="top"><a target="_blank" href="http://www.rockonthenet.com/archive/1999/08-14.htm"><strong>Jupiter (Swallow The Moon)</strong></a><strong> <br />
        </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/asin/b00000f1cy/rockonthenet-20"><em>Spirit</em></a></td>
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/1999/09-18.htm"><strong>15</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>8</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" width="15%" bgcolor="#ebf5f5">
<strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/jupiter.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">
<strong>9</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2003/09-20.htm"><strong>Stand</strong></a><strong><br /> 
        </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20"><em>0304</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2003/10-18.htm"><strong>26</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>5</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2003/main.htm"><strong>2003</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00008OWZE/rockonthenet-20">
<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a target="_blank" href="http://www.google.com/search?q=Jewel+lyrics+Stand"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>10</strong></td> 
        <td valign="top"><a href="http://www.rockonthenet.com/archive/2002/05-04.htm"><strong>Break Me</strong></a><strong><br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em></a></td> 
        <td valign="top" align="center"><a href="http://www.rockonthenet.com/archive/2002/05-25.htm"><strong>30</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>4</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong> </a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br />
        [ </strong><a target="_blank" href="http://www.azlyrics.com/lyrics/jewel/breakme.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td bgcolor="#ebf5f5" colspan="6">&nbsp;</td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>Life Uncommon<br /> 
          </strong><a target="_blank" href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong></a></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br />
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/lifeuncommon.html"><strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background: #ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>What's Simple Is True<br></strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20"><em>Spirit</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center" ><a href="http://www.rockonthenet.com/archive/1999/main.htm"><strong>1999</strong> </a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00000F1CY/rockonthenet-20">
		<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
          [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/whatssimpleistrue.html">
		  <strong>LYRICS</strong></a> <strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>This Way
        </strong><br /><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em></a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080"  align="center" ><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong> </a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        [ </strong><a href="http://www.azlyrics.com/lyrics/jewel/thisway.html">
		<strong>LYRICS</strong></a><strong> ]</strong></td> 
      </tr> 
      <tr> 
        <td valign="top" align="right" style="background:#ebf5f5">&nbsp;</td> 
        <td valign="top"><strong>Serve The Ego</strong><br /><a href="http://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20"><em>This Way</em> </a></td> 
        <td valign="top" align="center"><strong>**</strong></td> 
        <td valign="top" align="right" style="background: #ebf5f5"><strong>**</strong></td> 
        <td valign="top" style="border: #008080" align="center"><a href="http://www.rockonthenet.com/archive/2002/main.htm"><strong>2002</strong></a></td> 
        <td valign="top" align="right" style="background:#ebf5f5"><strong>[ </strong><a href="http=://www.amazon.com/exec/obidos/ASIN/B00005QDVS/rockonthenet-20">
		<strong>LISTEN / BUY</strong></a><strong> ]<br /> 
        </strong></td> 
      </tr> 
    </tbody> 
  </table> 
