<h2>Download</h2>

<p>
    <img src="../images/jewel_dl.jpg" width="494" height="399" usemap="#DLMap" border="0" alt="Downloads"/>
    <map name="DLMap" id="DLMap">
        <area shape="rect" coords="328,220,423,247" href="../download/qt.html" alt="QuickTime" title="QuickTime"/>
        <area shape="rect" coords="355,280,428,297" href="../download/midi.html" alt="Midi's" title="Midi's"/>
        <area shape="rect" coords="289,321,391,341" href="../download/other.html" alt="Other Types"
              title="Other Types"/>
    </map>
</p>

<p>Also, check out my <a href="https://www.youtube.com/user/knghtshdow/videos">YouTube channel</a>.
    I have some older Jewel videos posted there. </p>
