<h2>Links</h2>

<p> If you want your web site posted, <a href="mailto:luke@foolishgames.com">email
    me</a>. Please include the name of the site and the address.</p>
<h3>Official Sites</h3>
<ul>
    <li><a href="http://www.jeweljk.com/" target="_blank">Jewel's Official Website</a></li>
    <li><a href="http://www.giveadrop.com/" target="_blank">Give a Drop</a>, Jewel's Clean Water orgranization's fundraising site</li>
</ul>
<h3>Unofficial Sites</h3>
<ul>
    <li><a
            href="http://www.jewelfan.co.uk/">Jewel: Pieces of UK</a></li>
    <li><a href="http://eda.faithweb.com/" target="_blank">EDA Pictures from
        Private Nashville Concert 2001</a></li>
    <li><a href="http://www.endor.org/jewel/lyrics.html" target="_blank">Searchable
        Jewel Lyrics Archive</a></li>
    <li><a href="http://home.indy.net/~gregdunn/jewelstock/index.html" target="_blank">Greg's
        Unofficial JewelStock Page</a></li>
    <li><a href="http://www.musicnotes.com/" target="_blank">MusicNotes.com (Sells
        Jewel Sheet Music)</a></li>
    <li><a href="http://www.tymurray.com/" target="_blank">Ty Murray Official
        Site (Jewel's spouse)</a></li>
    <li><a href="http://www.edaf.org" target="_blank">EveryDay Angels Foundation</a></li>
    <li><a href="http://www.jewelgallery.nu/"  target="_blank">Jewel Gallery</a></li>
    <li><a href="http://www.soundaffects.net/cdreviews/jewel0803.html" target="_blank">Review of 0304</a></li>
    <li><a href="http://www.superiorpics.com/jewel_kilcher/" target="_blank">The Jewel Kilcher Picture Pages</a></li>
</ul>
<h3>Banners</h3>
<p>If you wish, you can add my banner below to your website. Please link the
    address to http://www.foolishgames.com/<br>
    <img src="../images/banner/bannerfg.png" width="402" height="55" alt="FoolishGames.com Banner"></p>
<p>I am not responsible for any links on this page. The content on these pages
    I do not necessarily agree with nor condone. I am merely providing links I
    or someone else have found/provided.&nbsp; No comments are meant to offend
    anyone or slander anyone. This page is provided as/is and is subject to change
    /modifications at any time.</p>
