<div class="container">
    <div class="hero-unit">
        <p style="text-indent: .3in; text-align: Justify; line-height: 1.5;"><span
                style="font-size: 1.5em;">J</span>ewel
            Kilcher is a bright and rising artist who hit the scene back in 1995 with her debut release
            Pieces of You. Since then she has proven her exceptional ability and has gained respect among the
            music community. To learn more about this amazing artist, please read the <a href="#/biography"
                                                                                         title="Jewel Biography by Lucas Holt">Biography.</a>
        </p>
    </div>
    <div class="row">
        <div class="span6">
            <div ng-controller="MainCarouselCtrl">
                <div style="height: 305px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">

                            <div class="carousel-caption">
                                <h4>Slide {{$index}}</h4>

                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <div class="span6">
            <h2>A Jewel Fan Site</h2>

            <p class="silver">
                <strong>News</strong>
            </p>

            <ul style="list-style-type: circle;" onmouseover="this.style.color = 'blue';"
                onmouseout="this.style.color = 'black';">

                <li ng-repeat="item in news | limitTo:5">
                    <strong><a href="#/news/{{ item.id }}">{{ item.title }}</a></strong><br>
                    <span class="newshead">{{ item.date }}</span>
                </li>
            </ul>
            <p>
               <span style="float: left; width: 150px;"><a href="#/news" title="More News" style="font: 1.3em Arial, Helvetica, sans-serif; margin-left: .2in; color: black; text-decoration: none;">more news &gt;</a></span>
            </p>
        </div>

    </div>


    <div class="row">
        <div class="span10 offset1">

            <p>Learn about Jewel's book, <a href="#/books/revealing_jewel">Revealing Jewel</a>.</p>

            <ul>
                <li><a href="../luke/stp.html">Stone Temple Pilots: Thank You review</a></li>
                <li><a href="../luke/dido.html" class="smalltext">Dido: life for rent, a review</a></li>
                <li><a href="#/news/review_sessions" class="smalltext">Sessions@AOL, a review </a></li>
                <li><a href="#/news/chart" class="smalltext">Chart Positions</a></li>
            </ul>

            <p><a href="http://www.justjournal.com/" title="JustJournal.com">Free Blog</a></p>
        </div>
    </div>

</div>