<div id="content">

    <h2>Pictures</h2>
  <table border="0" cellpadding="0" cellspacing="3" width="600">
    <tbody>
    <tr>
      <td width="200">
        <ul style="font-size: 10pt;">
            <li><a href="high_school/index.html" title="High School" tabindex="1">High
              School</a></li>
            <li><a href="coffee/index.html" title="Coffee Haus" tabindex="2">Coffee
              Haus</a></li>
            <li><a href="rso/index.html" title="Photo Shoots" tabindex="3">Photo
              Shoots</a></li>
            <li><a href="photoshoot2/index.html" title="Photo Shoots 2" tabindex="4">Photo
              Shoots 2</a></li>
            <li><a href="ama/index.html" title="1996 American Music Awards" tabindex="5">1996
              American Music Awards</a></li>
            <li><a href="grammies/index.html" title="Grammies" tabindex="6">1997
              Grammy Awards</a> </li>
            <li><a href="glossy/index.html" title="Glamour Photos" tabindex="7">Glamour
              Photos</a></li>
            <li><a href="lateshow/index.html" title="Late Night TV" tabindex="8">Late
              Night TV</a></li>

          </ul>
      </td>
      <td width="177">
        <img src="jewel.jpg" alt="picture: Jewel, a YWMFM pose" width="177" height="225" />
      </td>
      <td width="222"><ul style="font-size: 10pt;">
            <li><a href="nightwithoutarmor/index.html" title="A Night Without Armor" tabindex="10">A
              Night Without Armor</a></li>
            <li><a href="ridewiththedevil/index.html" title="Ride With The Devil" tabindex="12">Ride
              With The Devil</a></li>
            <li><a href="magazine/index.html" title="Magazines" tabindex="13">Magazines</a></li>
            <li><a href="live_performances/index.html" title="Live Performances" tabindex="14">Live
              Performances</a></li>
            <li><a href="public_appearances/index.html" title="Public Appearances" tabindex="15">Public
              Appearances</a></li>
            <li><a href="misc/index.html" title="Miscellaneous" tabindex="18">Miscellaneous</a></li>
          </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="600" cellspacing="3" cellpadding="0" border="0">
    <tbody>

      <tr valign="top">
        <td width="300">


	  <h3>This Way</h3>
          <ul style="font-size: 10pt;">
            <li><a href="jewelteam/index.html">Jewel Team Photos (This Way Photo
              Shoot)</a></li>
            <li><a href="thisway/standing_still/index.html" title="Standing Still Video Stills">Standing
              Still Video Stills</a></li>
            <li><a href="thisway/break_me/index.html" title="Break Me Video Stills">Break
              Me Video Stills</a></li>
            <li><a href="thisway/this_way/index.html" title="This Way Video Stills">This
              Way Video Stills</a></li>
          </ul>

		          <h3>Spirit</h3>
          <ul style="font-size: 10pt;">
            <li><a href="spirit_photoshoot/index.html" title="Spirit Photo Shoot" tabindex="11">Spirit
              Photo Shoot</a></li>
            <li><a href="spirit/whats_simple_is_true/index.html" title="What's Simple is True Video Stills">What's
              Simple is True Video Stills</a></li>
          </ul>

		  <h3>Pieces of You</h3>
		  <ul style="font-size: 10pt;">
		    <li><a href="musicvideos/index.html" title="Music Video's" tabindex="9">Music
              Video's</a></li>
		  </ul>
		</td>

        <td width="300">

        <h3>2004</h3>

        <ul style="font-size: 10pt;">
        <li><a href="071804/index.html" title="Clio, MI Show">Clio, MI Show - July 18, 2004</a></li>
		</ul>


          <h3>2002</h3>
		<ul style="font-size: 10pt;">
			<li><a href="birmingham/index.html" title="Birmingham Show">Birmingham, UK - May 31, 2002</a></li>
			<li><a href="london2/index.html" title="London Show">London, UK - May 28, 2002</a></li>
			<li><a href="frankfurt/index.html" title="Frankfurt Show">Frankfurt, Germany - May 14, 2002</a></li>
			<li><a href="amsterdam/index.html" title="Amsterdam Show">Amsterdam, NL - February 28, 2002</a></li>
			<li><a href="hamburg/index.html" title="Hamburg Show">Hamburg, Germany - February 13, 2002</a></li>
            <li><a href="013102/index.html" title="Gay Men's Health Crisis benefit - January 31, 2002 ">Gay
              Men's Health Crisis benefit - January 31, 2002 </a></li>
		  </ul>
			  <h3>2001</h3>
          <ul style="font-size: 10pt;">
            <li><a href="122001/index.html">KFMD KISSmas Freedom Bash - December
              20, 2001</a></li>
            <li><a href="120201VH1/index.html">My VH1 Music Awards 2001 - December
              2, 2001</a></li>
            <li><a href="120301winter/index.html">Alice In Winterland concert
              - December 3, 2001</a></li>
            <li><a href="boxing/index.html">Rahman vs. Lewis Boxing Match - November
              17, 2001</a></li>
            <li><a href="ama2001/index.html">2001 AMA Nominations - November 13,
              2001</a></li>
            <li><a href="102701/index.html">World Series Game 2 - October 27,
              2001</a> </li>
            <li><a href="mix101/index.html">Mix 101 Promo Stop - October 2001</a></li>
            <li><a href="thisway/standing_still_ps/index.html">'Standing Still'
              video shoot - September 2001</a></li>
            <li><a href="nashville/index.html" title="2001 Nashville Private Concert and Recording Session" tabindex="19">Nashville
              Private Concert - August 5, 2001</a> </li>
            <li><a href="redwhiteboom/index.html" title="2001 Red, White, and Boom Concert in Kansas City" tabindex="17">2001
              Red, White, and Boom Concert</a></li>
            <li><a href="rodstewart/index.html" title="2001 Rod Stewart Event" tabindex="16">Rod
              Stewart Event - February, 2001</a></li>
          </ul>
          <h3>2000</h3>
          <ul>
            <li><a href="111000/index.html">November 10, 2000 </a></li>
          </ul></td>
	  </tr>
  	</tbody>
  </table>

  <p>344 pictures are now available.</p>
 </div>
