<h2>Pictures</h2>

<div ng-show="page != null" ng-include src="page"></div>

<div ng-hide="page != null">
    <div class="row">

        <div class="span4">
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/high_school/index" title="High School" tabindex="1">High
                    School</a></li>
                <li><a href="#/pictures/coffee/index" title="Coffee Haus" tabindex="2">Coffee
                    Haus</a></li>
                <li><a href="#/pictures/rso/index" title="Photo Shoots" tabindex="3">Photo
                    Shoots</a></li>
                <li><a href="#/pictures/photoshoot2/index" title="Photo Shoots 2" tabindex="4">Photo
                    Shoots 2</a></li>
                <li><a href="#/pictures/ama/index" title="1996 American Music Awards" tabindex="5">1996
                    American Music Awards</a></li>
                <li><a href="#/pictures/grammies/index" title="Grammies" tabindex="6">1997
                    Grammy Awards</a></li>
                <li><a href="#/pictures/glossy/index" title="Glamour Photos" tabindex="7">Glamour
                    Photos</a></li>
                <li><a href="#/pictures/lateshow/index" title="Late Night TV" tabindex="8">Late
                    Night TV</a></li>
            </ul>
        </div>
        <div class="span4"><img src="../images/pics/jewel.jpg" alt="picture: Jewel, a YWMFM pose" width="177"
                                height="225"/></div>
        <div class="span4">
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/nightwithoutarmor/index" title="A Night Without Armor" tabindex="10">A
                    Night Without Armor</a></li>
                <li><a href="#/pictures/ridewiththedevil/index" title="Ride With The Devil" tabindex="12">Ride
                    With The Devil</a></li>
                <li><a href="#/pictures/magazine/index" title="Magazines" tabindex="13">Magazines</a></li>
                <li><a href="#/pictures/live_performances/index" title="Live Performances" tabindex="14">Live
                    Performances</a></li>
                <li><a href="#/pictures/public_appearances/index" title="Public Appearances" tabindex="15">Public
                    Appearances</a></li>
                <li><a href="#/pictures/misc/index" title="Miscellaneous" tabindex="18">Miscellaneous</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span4">


            <h3>This Way</h3>
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/jewelteam/index">Jewel Team Photos (This Way Photo
                    Shoot)</a></li>
                <li><a href="#/pictures/thisway/standing_still/index" title="Standing Still Video Stills">Standing
                    Still Video Stills</a></li>
                <li><a href="#/pictures/thisway/break_me/index" title="Break Me Video Stills">Break
                    Me Video Stills</a></li>
                <li><a href="#/pictures/thisway/this_way/index" title="This Way Video Stills">This
                    Way Video Stills</a></li>
            </ul>

            <h3>Spirit</h3>
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/spirit_photoshoot/index" title="Spirit Photo Shoot" tabindex="11">Spirit
                    Photo Shoot</a></li>
                <li><a href="#/pictures/spirit/whats_simple_is_true/index"
                       title="What's Simple is True Video Stills">What's
                    Simple is True Video Stills</a></li>
            </ul>

            <h3>Pieces of You</h3>
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/musicvideos/index" title="Music Video's" tabindex="9">Music
                    Video's</a></li>
            </ul>
        </div>
        <div class="span4">


            <h3>2001</h3>
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/122001/index">KFMD KISSmas Freedom Bash - December
                    20, 2001</a></li>
                <li><a href="#/pictures/120201VH1/index">My VH1 Music Awards 2001 - December
                    2, 2001</a></li>
                <li><a href="#/pictures/120301winter/index">Alice In Winterland concert
                    - December 3, 2001</a></li>
                <li><a href="#/pictures/boxing/index">Rahman vs. Lewis Boxing Match - November
                    17, 2001</a></li>
                <li><a href="#/pictures/ama2001/index">2001 AMA Nominations - November 13,
                    2001</a></li>
                <li><a href="#/pictures/102701/index">World Series Game 2 - October 27,
                    2001</a></li>
                <li><a href="#/pictures/mix101/index">Mix 101 Promo Stop - October 2001</a></li>
                <li><a href="#/pictures/thisway/standing_still_ps/index">'Standing Still'
                    video shoot - September 2001</a></li>
                <li><a href="#/pictures/nashville/index"
                       title="2001 Nashville Private Concert and Recording Session" tabindex="19">Nashville
                    Private Concert - August 5, 2001</a></li>
                <li><a href="#/pictures/redwhiteboom/index"
                       title="2001 Red, White, and Boom Concert in Kansas City" tabindex="17">2001
                    Red, White, and Boom Concert</a></li>
                <li><a href="#/pictures/rodstewart/index" title="2001 Rod Stewart Event" tabindex="16">Rod
                    Stewart Event - February, 2001</a></li>
            </ul>
            <h3>2000</h3>
            <ul>
                <li><a href="#/pictures/111000/index">November 10, 2000 </a></li>
            </ul>
        </div>
        <div class="span4">
            <h3>2004</h3>

            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/071804/index" title="Clio, MI Show">Clio, MI Show - July 18, 2004</a>
                </li>
            </ul>

            <h3>2002</h3>
            <ul style="font-size: 10pt;">
                <li><a href="#/pictures/birmingham/index" title="Birmingham Show">Birmingham, UK - May 31,
                    2002</a></li>
                <li><a href="#/pictures/london2/index" title="London Show">London, UK - May 28, 2002</a></li>
                <li><a href="#/pictures/frankfurt/index" title="Frankfurt Show">Frankfurt, Germany - May 14,
                    2002</a></li>
                <li><a href="#/pictures/amsterdam/index" title="Amsterdam Show">Amsterdam, NL - February 28,
                    2002</a></li>
                <li><a href="#/pictures/hamburg/index" title="Hamburg Show">Hamburg, Germany - February 13,
                    2002</a></li>
                <li><a href="#/pictures/013102/index"
                       title="Gay Men's Health Crisis benefit - January 31, 2002 ">Gay
                    Men's Health Crisis benefit - January 31, 2002 </a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span10">
            <p>344 pictures are now available.</p>
        </div>
    </div>
</div>
</div>