<h2>Poetry</h2>

<div class="row">

<div class="span6">

    <h3>Jewel's Poetry</h3>
    <ul>

        <li><a href="nightwithoutarmor/index.html">A Night Without Armor</a></li>
        <li><a href="jewelstock/default.htm">JewelStock '96</a></li>

        <li><a href="poy/index.html">Pieces of You</a></li>
        <li>Save the Linoleum - <span style="font-family: Arial,Helvetica; "><a
                href="savethelinoleum/Hommage_to_home.htm">Hommage
            To Home</a></span></li>
        <li>You Were Meant For Me (Single) - <span style="font-family: Arial,Helvetica; "><a
                href="ywmfm/Flight_364.htm">Flight
            #364</a></span></li>
    </ul>
</div>
    <div class="span6">
    <h3>Fan Poetry</h3>

    <table cols="1" width="50%">
        <tr>
            <td><a href="poets">Poetry</a></td>
        </tr>
        <tr>
            <td><a href="guidelines">Guidelines for Submissions</a></td>
        </tr>
        <tr>
            <td><a href="disclaimer">Disclaimer</a></td>
        </tr>
        <tr>
            <td><a href="submit">Submit Poetry</a></td>
        </tr>
    </table>

    </div>
</div>
