<h2>Sessions @ AOL, A review</h2>

<p>The Sessions @ AOL CD is a good buy for Jewel fans. It
    includes a live version of &quot;Intuition&quot; and the video performance. You can play the video on Mac OS X, Mac
    OS 9 and Windows systems. The CD includes a Macromedia presentation to load the video, although you can just access
    it directly as jewel.mov. (QuickTime Format) I think the Jewel content alone makes it worth the price of admission.
</p>
<p>In addition to Jewel content, the CD includes tracks from Coldplay, Missy Elliot, Avril Lavigne, Michelle Branch, and
    several more. It is a good CD for guests because of the variety of artists.</p>
