<div class="picnavbar"><a href="#!/pictures/musicvideos/index">previous</a> &nbsp;<a
        href="#!/pictures/misc/index">next</a>&nbsp;
    <a href="#!/pictures">table of contents</a>
    <hr>
</div>

<h3>A Night Without Armor</h3>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel5.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel5-tb.JPG" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel7.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel7-tb.JPG" alt=""></a>
    </li>

    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel8.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel8-tb.JPG" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel_061.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel_061-tb.JPG" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel_062.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel_062-tb.JPG" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/nightwithoutarmor/jewel_100.jpg"><img
                src="../../../images/pics/nightwithoutarmor/jewel_100-tb.JPG" alt=""></a>
    </li>
</ul>