<h3>Hamburg, Germany - February 13, 2002</h3>

<p>Jewel performed in the Schauspielhaus.</p>


<strong>setlist</strong>
<pre>
I Won't Walk Away
Standing Still
Do You Want To Play
Till We Run Out Of Road
Jesus Loves You
Hands
Break Me 

Stephenville
Deep Water
You Were Meant For Me
Everything Breaks 

Life Uncommon
Cleveland
Serve The Ego
Love Me Just Leave Me Alone
Everybody Needs Someone Sometime
The New Wild West
Who Will Save Your Soul 

Per la gloria d'adorarvi 
Chime Bells
Foolish Games
Angel Standing By
</pre>


<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/hamburg/1.jpg"><img
                data-ng-src="../../../images/pics/hamburg/1.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/hamburg/2.jpg"><img
                data-ng-src="../../../images/pics/hamburg/2.jpg" alt=""></a>
    </li>
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/hamburg/3.jpg"><img
                data-ng-src="../../../images/pics/hamburg/3.jpg" alt=""></a>
    </li>

</ul>