<div class="picnavbar"><a href="../musicvideos/index.html">previous</a> &nbsp;<a href="../misc/index.html">next</a>&nbsp;
    <a href="../index.html">table of contents</a>
    <hr>
</div>

<h3>Public Appearances</h3>

<p>
    These pictures were taken during various public appearances throughout Jewel's
    Career.

<table>
<tr>
    <td>
        <a href="jewel_028.jpg">
            <center>
                <img src="jewel_028-tb.JPG" width=81 height=125 alt="Loading..."><br>
            </center>
            <center>(106K)</center>
            <center>389 x 600</center>
        </a>
    </td>
    <td width=219 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_060.jpg">
            <center>
                <img src="jewel_060-tb.JPG" width=78 height=125 alt="Loading..."><br>
            </center>
            <center>(14K)</center>
            <center>209 x 331</center>
        </a>
    </td>
    <td width=222 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_063.jpg">
            <center>
                <img src="jewel_063-tb.JPG" width=73 height=125 alt="Loading..."><br>
            </center>
            <center>(90K)</center>
            <center>435 x 740</center>
        </a>
    </td>
    <td width=227 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_065.jpg">
            <center>
                <img src="jewel_065-tb.JPG" width=72 height=125 alt="Loading..."><br>
            </center>
            <center>(81K)</center>
            <center>435 x 745</center>
        </a>
    </td>
    <td width=228 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_066.jpg">
            <center>
                <img src="jewel_066-tb.JPG" width=90 height=125 alt="Loading..."><br>
            </center>
            <center>(70K)</center>
            <center>480 x 661</center>
        </a>
    </td>
    <td width=210 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_071.jpg">
            <center>
                <img src="jewel_071-tb.JPG" width=59 height=125 alt="Loading..."><br>
            </center>
            <center>(123K)</center>
            <center>331 x 700</center>
        </a>
    </td>
    <td width=241 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_079.jpg">
            <center>
                <img src="jewel_079-tb.JPG" width=92 height=125 alt="Loading..."><br>
            </center>
            <center>(91K)</center>
            <center>300 x 406</center>
        </a>
    </td>
    <td width=208 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_080.jpg">
            <center>
                <img src="jewel_080-tb.JPG" width=92 height=125 alt="Loading..."><br>
            </center>
            <center>(83K)</center>
            <center>300 x 406</center>
        </a>
    </td>
    <td width=208 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_081.jpg">
            <center>
                <img src="jewel_081-tb.JPG" width=92 height=125 alt="Loading..."><br>
            </center>
            <center>(90K)</center>
            <center>300 x 406</center>
        </a>
    </td>
    <td width=208 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_082.jpg">
            <center>
                <img src="jewel_082-tb.JPG" width=92 height=125 alt="Loading..."><br>
            </center>
            <center>(78K)</center>
            <center>300 x 406</center>
        </a>
    </td>
    <td width=208 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_084.jpg">
            <center>
                <img src="jewel_084-tb.JPG" width=88 height=125 alt="Loading..."><br>
            </center>
            <center>(112K)</center>
            <center>300 x 426</center>
        </a>
    </td>
    <td width=212 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_086.jpg">
            <center>
                <img src="jewel_086-tb.JPG" width=82 height=125 alt="Loading..."><br>
            </center>
            <center>(94K)</center>
            <center>300 x 457</center>
        </a>
    </td>
    <td width=218 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_098.jpg">
            <center>
                <img src="jewel_098-tb.JPG" width=122 height=125 alt="Loading..."><br>
            </center>
            <center>(76K)</center>
            <center>296 x 303</center>
        </a>
    </td>
    <td width=178 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_099.jpg">
            <center>
                <img src="jewel_099-tb.JPG" width=117 height=125 alt="Loading..."><br>
            </center>
            <center>(80K)</center>
            <center>291 x 309</center>
        </a>
    </td>
    <td width=183 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
<tr>
    <td>
        <a href="jewel_120.jpg">
            <center>
                <img src="jewel_120-tb.JPG" width=81 height=125 alt="Loading..."><br>
            </center>
            <center>(24K)</center>
            <center>325 x 500</center>
        </a>
    </td>
    <td width=219 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
    <td>
        <a href="jewel_122.jpg">
            <center>
                <img src="jewel_122-tb.JPG" width=81 height=125 alt="Loading..."><br>
            </center>
            <center>(27K)</center>
            <center>266 x 406</center>
        </a>
    </td>
    <td width=219 align=LEFT>
        <font face="Arial, Helvetica" size=3 color=#000000>&nbsp;
        </font>
    </td>
</tr>
</table>
