<h3>Public Appearances</h3>

<p>
    These pictures were taken during various public appearances throughout Jewel's
    Career. </p>

<ul class="thumbnails">
    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_028.jpg">
            <img src="../../../images/pics/public_appearances/jewel_028-tb.JPG" width=81 height=125 alt="Loading...">
        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_060.jpg">
            <img src="../../../images/pics/public_appearances/jewel_060-tb.JPG" width=78 height=125 alt="Loading...">
        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_063.jpg">

            <img src="../../../images/pics/public_appearances/jewel_063-tb.JPG" width=73 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_065.jpg">
            <img src="../../../images/pics/public_appearances/jewel_065-tb.JPG" width=72 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_066.jpg">
            <img src="../../../images/pics/public_appearances/jewel_066-tb.JPG" width=90 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_071.jpg">
            <img src="../../../images/pics/public_appearances/jewel_071-tb.JPG" width=59 height=125 alt="Loading...">

        </a>
    </li>
    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_079.jpg">

            <img src="../../../images/pics/public_appearances/jewel_079-tb.JPG" width=92 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_080.jpg">
            <img src="../../../images/pics/public_appearances/jewel_080-tb.JPG" width=92 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_081.jpg">
            <img src="../../../images/pics/public_appearances/jewel_081-tb.JPG" width=92 height=125 alt="Loading...">
        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_082.jpg">
            <img src="../../../images/pics/public_appearances/jewel_082-tb.JPG" width=92 height=125 alt="Loading...">
        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_084.jpg">
            <img src="../../../images/pics/public_appearances/jewel_084-tb.JPG" width=88 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_086.jpg">
            <img src="../../../images/pics/public_appearances/jewel_086-tb.JPG" width=82 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_098.jpg">
            <img src="../../../images/pics/public_appearances/jewel_098-tb.JPG" width=122 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_099.jpg">
            <img src="../../../images/pics/public_appearances/jewel_099-tb.JPG" width=117 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_120.jpg">
            <img src="../../../images/pics/public_appearances/jewel_120-tb.JPG" width=81 height=125 alt="Loading...">

        </a>
    </li>

    <li>
        <a class="thumbnail" href="../../../images/pics/public_appearances/jewel_122.jpg">
            <img src="../../../images/pics/public_appearances/jewel_122-tb.JPG" width=81 height=125 alt="Loading...">
        </a>
    </li>
</ul>