<h2>
  Gay Men's Health Crisis benefit - January 31, 2002 
</h2>

<p>Jewel performed a short solo acoustic set at the Gay Men's Health Crisis benefit 
  concert at Carnegie Hall in New York. </p>


  <table>
    <tr> 
      <td> <a href="013102gaycrisis01-tb.html"> 
        <center>
          <img src="013102gaycrisis01-tb.JPG" width="93" height="125" alt="Loading..." /><br />
        </center>
        <center>
          (19K)
        </center>
        <center>
          240 x 320
        </center>
        </a> </td>
      <td width="207" align="left"> <font face="Arial, Helvetica" size="3" color="#000000">&nbsp; 
        </font> </td>
      <td> <a href="013102gaycrisis02-tb.html"> 
        <center>
          <img src="013102gaycrisis02-tb.JPG" width="93" height="125" alt="Loading..." /><br />
        </center>
        <center>
          (19K)
        </center>
        <center>
          240 x 320
        </center>
        </a> </td>
      <td width="207" align="left"> <font face="Arial, Helvetica" size="3" color="#000000">&nbsp; 
        </font> </td>
    </tr>
    <tr> 
      <td> <a href="013102gaycrisis03-tb.html"> 
        <center>
          <img src="013102gaycrisis03-tb.JPG" width="125" height="81" alt="Loading..." /><br />
        </center>
        <center>
          (22K)
        </center>
        <center>
          400 x 260
        </center>
        </a> </td>
      <td width="175" align="left"> <font face="Arial, Helvetica" size="3" color="#000000">&nbsp; 
        </font> </td>
      <td> <a href="013102gaycrisis04-tb.html"> 
        <center>
          <img src="013102gaycrisis04-tb.JPG" width="125" height="81" alt="Loading..." /><br />
        </center>
        <center>
          (28K)
        </center>
        <center>
          400 x 260
        </center>
        </a> </td>
      <td width="175" align="left"> <font face="Arial, Helvetica" size="3" color="#000000">&nbsp; 
        </font> </td>
    </tr>
  </table>
