   
<div class="picnavbar"><a href="#!/pictures/rso/index">previous</a> &nbsp;<a href="#!/pictures/glossy/index">next</a>&nbsp;
  <a href="#!/pictures">table of contents</a>
  <hr>
    </div>

<h3>A Night At The Grammies</h3>

<p>Jewel's Presence at the 1997(39th) <a href="http://www.grammy.com/" target="_blank">Grammy
  Awards</a> was a definite milestone in her career. However, with the amazing 
  popularity she is gaining, these occur almost everyday. Jewel was the talk of 
  the town with her translucent dress! I received permission to post these pictures 
  of Jewel courtesy of Adam Longfellow. Now for the pictures:</p>

<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="../../../images/pics/grammies/gram4.jpg"><img
                src="../../../images/pics/grammies/gram4_small.jpg" alt=""></a>
    </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram3.jpg"><img
                  src="../../../images/pics/grammies/gram3_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram1.jpg"><img
                  src="../../../images/pics/grammies/gram1.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram2.jpg"><img
                  src="../../../images/pics/grammies/gram2.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram11.jpg"><img
                  src="../../../images/pics/grammies/gram11_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram12.jpg"><img
                  src="../../../images/pics/grammies/gram12_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram13.jpg"><img
                  src="../../../images/pics/grammies/gram13_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram14.jpg"><img
                  src="../../../images/pics/grammies/gram14_small.jpg" alt=""></a>
      </li>

    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram15.jpg"><img
                  src="../../../images/pics/grammies/gram15_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram16.jpg"><img
                  src="../../../images/pics/grammies/gram16_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram17.jpg"><img
                  src="../../../images/pics/grammies/gram17_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram18.jpg"><img
                  src="../../../images/pics/grammies/gram18_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram20.jpg"><img
                  src="../../../images/pics/grammies/gram20_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram6.jpg"><img
                  src="../../../images/pics/grammies/gram6_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram7.jpg"><img
                  src="../../../images/pics/grammies/gram7_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram8.jpg"><img
                  src="../../../images/pics/grammies/gram8_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram9.jpg"><img
                  src="../../../images/pics/grammies/gram9_small.jpg" alt=""></a>
      </li>
    <li class="span2">
          <a class="thumbnail" href="../../../images/pics/grammies/gram10.jpg"><img
                  src="../../../images/pics/grammies/gram10_small.jpg" alt=""></a>
      </li>
    </ul>


<p>The gentleman with Jewel is Kevin Spacey. They presented the Hard Rock
Performance Grammy. This event took place February 26. The nominations were announced
January 7th via the Ed Sullivan Theater.</p>

<p> Below is a picture of Jewel hosting the MTV
Grammy Guide. The gentleman with Jewel in this pose is Steve Poltz of the Rugburns.</p>

<p><img src="../../../images/pics/grammies/s-gguide.jpg" alt="Jewel On MTV" width="446" height="139"></p>

<table border="1">
<caption>Here is a break down of the Pop/Rock Grammy List:</caption>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST NEW ARTIST</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST FEMALE POP</strong></td>
  </tr>
  <tr>
    <td>Garbage<br>
    Jewel<br>
    No Doubt<br>
    The Tony Rich Project<br>
    <strong>LeAnn Rimes </strong></td>
    <td><strong><em>Un-Break My Heart</em> - Toni Braxton </strong><br>
    <em>Get Out of This House</em> - Shawn Colvin <br>
    <em>Because You Loved Me</em> - Celine Dion <br>
    <em>Reach</em> - Gloria Estefan <br>
    <em>Who Will Save Your Soul</em> - Jewel/td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>RECORD OF THE YEAR</strong></td>
    <td bgcolor="#C0C0C0"><strong>ALBUM OF THE YEAR</strong></td>
  </tr>
  <tr>
    <td>Tracy Chapman - Give Me One Reason<br>
    <strong>Eric Clapton - Change the World </strong><br>
    Celine Dion - Because You Loved Me<br>
    Alanis Morissette - Ironic<br>
    The Smashing Pumpkins - 1979</td>
    <td>Beck - Odelay<br>
    <strong>Celine Dion - Falling Into You </strong><br>
    The Fugees - The Score<br>
    Smashing Pumpkins - Mellon Collie<br>
    Various Artists - Waiting to Exhale/td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST MALE POP</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST FEMALE ROCK</strong></td>
  </tr>
  <tr>
    <td><em>Let's/Night to Remember</em> - Brian Adams<br>
    <strong><em>Change the World</em> - Eric Clapton </strong><br>
    <em>Key West Intermezzo</em> - John Mellencamp <br>
    <em>Nobody Knows</em> - The Tony Rich Project <br>
    <em>Let Your Soul Be Your Pilot</em> - Sting </td>
    <td><em>Mother Mother</em> - Tracy Bonham<br>
    <em>Give Me One Reason</em> - Tracy Chapman <br>
    <strong><em>If It Makes You Happy</em> - Sheryl Crow</strong> <br>
    <em>Spider Web</em> - Joan Osborne <br>
    <em>Burning Down the House</em> - Bonnie Raitt</td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>SONG OF THE YEAR</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST ROCK ALBUM </strong></td>
  </tr>
  <tr>
    <td>D. Warren - <em>Because You Loved Me</em><br>
    Bill Mack - <em>Blue</em><br>
    <strong>Kennedy,Kirkpatrick,Sims - <em>Change/World</em> </strong><br>
    Babyface - <em>Exhale (Shoop Shoop)</em><br>
    Tracy Chapman - <em>Give Me One Reason</em></td>
    <td><strong>Sheryl Crow - Sheryl Crow </strong><br>
    Crash - Dave Matthews Band <br>
    Tragic Kingdom - No Doubt <br>
    Road Tested - Bonnie Raitt <br>
    Broken Arrow - Neil Young/td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST MALE ROCK</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST POP BY DUO/GROUP </strong></td>
  </tr>
  <tr>
    <td><em>Only/Looks Good..</em>. - Bryan Adams<br>
    <strong><em>Where It's At</em> - Beck </strong><br>
    <em>Ain't Gone 'n Give Up/Love</em> - Eric Clapton <br>
    <em>Cry Love</em> - John Hiatt <br>
    <em>Dead Man Walkin' </em>- Bruce Springsteen</td>
    <td><strong><em>Free As A Bird</em> - The Beatles</strong>
    <br>
    <em>As Long As It Matters </em>- Gin Blossoms <br>
    <em>When You Love a Woman</em> - Journey <br>
    <em>Fire on the Mountain </em>- The Neville Brothers <br>
    <em>Peaches</em> - The Presidents of the USA <br>
    <em>When You Wish Upon a Star </em>- Take 6/td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST ROCK BY A GROUP </strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST POP ALBUM </strong></td>
  </tr>
  <tr>
    <td><em>Stupid Girl</em> - Garbage<br>
    <strong><em>So Much to Say</em> - Dave Matthews Band</strong> <br>
    <em>Wonderwall</em> - Oasis <br>
    <em>1979</em> - The Smashing Pumpkins <br>
    <em>Sixth Avenue Heartache</em> - The Wallflowers/td>
    <td><em>Secrets</em> - Toni Braxton <br>
    <em>New Beginning </em>- Tracy Chapman <br>
    <em>A Few Small Repairs</em> - Shawn Colvin <br>
    <strong><em>Falling Into You</em> - Celine Dion </strong><br>
    <em>Mercury Falling</em> - Sting</td>
  </tr>
</table>

<hr>

<p class="copy">No use of this page for authoring purposes is granted without my
permission via email and a link to your site. MTV is copyright Viacom. For Grammy information check out the
above link to their site. </p>
