   
<div class="picnavbar"><a href="../rso/index.html">previous</a> &nbsp;<a href="../glossy/index.html">next</a>&nbsp; 
  <a href="../index.html">table of contents</a> 
  <hr>
    </div>


<h1><img src="../../../images/title.png" alt="Foolish Games" width="374" height="40"></h1>
<h1>A Night At The Grammies</h1>

<p align="left">Jewel's Presence at the 1997(39th) <a href="http://www.grammy.com" target="_blank">Grammy 
  Awards</a> was a definite milestone in her career. However, with the amazing 
  popularity she is gaining, these occur almost everyday. Jewel was the talk of 
  the town with her translucent dress! I received permission to post these pictures 
  of Jewel courtesy of Adam Longfellow. Now for the pictures:</p>

<table border="1" bgcolor="#000000" width="400">
  <tbody>
    <tr>
      <td><a href="gram4.jpg"><img border="0" src="gram4_small.jpg" alt="gram4.jpg (16201 bytes)" width="100" height="75"></a></td>
      <td><a href="gram3.jpg"><img border="0" src="gram3_small.jpg" alt="gram3.jpg (15173 bytes)" width="100" height="75"></a></td>
      <td><img border="0" src="gram1.jpg" width="80" height="60" alt="gram1.jpg"></td>
      <td><img border="0" src="gram2.jpg" width="80" height="60" alt="gram2.jpg"></td>
    </tr>
    <tr>
      <td><a href="gram11.jpg"><img border="0" src="gram11_small.jpg" alt="gram11.jpg (12281 bytes)" width="100" height="75"></a></td>
      <td><a href="gram12.jpg"><img border="0" src="gram12_small.jpg" alt="gram12.jpg (12244 bytes)" width="100" height="75"></a></td>
      <td><a href="gram13.jpg"><img border="0" src="gram13_small.jpg" alt="gram13.jpg (12668 bytes)" width="100" height="75"></a></td>
      <td><a href="gram14.jpg"><img border="0" src="gram14_small.jpg" alt="gram14.jpg (12136 bytes)" width="100" height="75"></a></td>
    </tr>
    <tr>
      <td><a href="gram15.jpg"><img border="0" src="gram15_small.jpg" alt="gram15.jpg (14488 bytes)" width="100" height="75"></a></td>
      <td><a href="gram15.jpg"><img border="0" src="gram15_small.jpg" alt="gram15.jpg (14488 bytes)" width="100" height="75"></a></td>
      <td><a href="gram16.jpg"><img border="0" src="gram16_small.jpg" alt="gram16.jpg (13942 bytes)" width="100" height="75"></a></td>
      <td><a href="gram17.jpg"><img border="0" src="gram17_small.jpg" alt="gram17.jpg (14320 bytes)" width="100" height="75"></a></td>
    </tr>
    <tr>
      <td><a href="gram18.jpg"><img border="0" src="gram18_small.jpg" alt="gram18.jpg (13889 bytes)" width="100" height="75"></a></td>
      <td><a href="gram20.jpg"><img border="0" src="gram20_small.jpg" alt="gram20.jpg (12681 bytes)" width="100" height="75"></a></td>
      <td><a href="gram6.jpg"><img border="0" src="gram6_small.jpg" alt="gram6.jpg (10237 bytes)" width="100" height="75"></a></td>
      <td><a href="gram7.jpg"><img border="0" src="gram7_small.jpg" alt="gram7.jpg (15386 bytes)" width="100" height="75"></a></td>
    </tr>
    <tr>
      <td><a href="gram8.jpg"><img border="0" src="gram8_small.jpg" alt="gram8.jpg (15646 bytes)" width="100" height="75"></a></td>
      <td><a href="gram9.jpg"><img border="0" src="gram9_small.jpg" alt="gram9.jpg (15680 bytes)" width="100" height="75"></a></td>
      <td><a href="gram10.jpg"><img border="0" src="gram10_small.jpg" alt="gram10.jpg (15316 bytes)" width="100" height="75"></a></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<p align="left">The gentleman with Jewel is Kevin Spacey. They presented the Hard Rock
Performance Grammy. This event took place February 26. The nominations were announced
January 7th via the Ed Sullivan Theater.&nbsp;</p>

<p align="left"> Below is a picture of Jewel hosting the MTV
Grammy Guide. The gentleman with Jewel in this pose is Steve Poltz of the Rugburns.</p>

<p><img src="s-gguide.jpg" alt="Jewel On MTV" width="446" height="139"></p>


<p>&nbsp;&nbsp;</p>


<table border="1">
<caption>Here is a break down of the Pop/Rock Grammy List:</caption>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST NEW ARTIST</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST FEMALE POP</strong></td>
  </tr>
  <tr>
    <td><font size="2">Garbage<br>
    Jewel<br>
    No Doubt<br>
    The Tony Rich Project<br>
    <strong>LeAnn Rimes </strong></font></td>
    <td><font size="2"><strong><em>Un-Break My Heart</em> - Toni Braxton </strong><br>
    <em>Get Out of This House</em> - Shawn Colvin <br>
    <em>Because You Loved Me</em> - Celine Dion <br>
    <em>Reach</em> - Gloria Estefan <br>
    <em>Who Will Save Your Soul</em> - Jewel </font></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>RECORD OF THE YEAR</strong></td>
    <td bgcolor="#C0C0C0"><strong>ALBUM OF THE YEAR</strong></td>
  </tr>
  <tr>
    <td><font size="2">Tracy Chapman - Give Me One Reason<br>
    <strong>Eric Clapton - Change the World </strong><br>
    Celine Dion - Because You Loved Me<br>
    Alanis Morissette - Ironic<br>
    The Smashing Pumpkins - 1979</font></td>
    <td><font size="2">Beck - Odelay<br>
    <strong>Celine Dion - Falling Into You </strong><br>
    The Fugees - The Score<br>
    Smashing Pumpkins - Mellon Collie<br>
    Various Artists - Waiting to Exhale</font></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST MALE POP</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST FEMALE ROCK</strong></td>
  </tr>
  <tr>
    <td><font size="2"><em>Let's/Night to Remember</em> - Brian Adams<br>
    <strong><em>Change the World</em> - Eric Clapton </strong><br>
    <em>Key West Intermezzo</em> - John Mellencamp <br>
    <em>Nobody Knows</em> - The Tony Rich Project <br>
    <em>Let Your Soul Be Your Pilot</em> - Sting </font></td>
    <td><font size="2"><em>Mother Mother</em> - Tracy Bonham<br>
    <em>Give Me One Reason</em> - Tracy Chapman <br>
    <strong><em>If It Makes You Happy</em> - Sheryl Crow</strong> <br>
    <em>Spider Web</em> - Joan Osborne <br>
    <em>Burning Down the House</em> - Bonnie Raitt </font></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>SONG OF THE YEAR</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST ROCK ALBUM </strong></td>
  </tr>
  <tr>
    <td><font size="2">D. Warren - <em>Because You Loved Me</em><br>
    Bill Mack - <em>Blue</em><br>
    <strong>Kennedy,Kirkpatrick,Sims - <em>Change/World</em> </strong><br>
    Babyface - <em>Exhale (Shoop Shoop)</em><br>
    Tracy Chapman - <em>Give Me One Reason</em></font></td>
    <td><font size="2"><strong>Sheryl Crow - Sheryl Crow </strong><br>
    Crash - Dave Matthews Band <br>
    Tragic Kingdom - No Doubt <br>
    Road Tested - Bonnie Raitt <br>
    Broken Arrow - Neil Young</font></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST MALE ROCK</strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST POP BY DUO/GROUP </strong></td>
  </tr>
  <tr>
    <td><font size="2"><em>Only/Looks Good..</em>. - Bryan Adams<br>
    <strong><em>Where It's At</em> - Beck </strong><br>
    <em>Ain't Gone 'n Give Up/Love</em> - Eric Clapton <br>
    <em>Cry Love</em> - John Hiatt <br>
    <em>Dead Man Walkin' </em>- Bruce Springsteen</font></td>
    <td><font size="2"><strong><em>Free As A Bird</em> - The Beatles</strong>
    <br>
    <em>As Long As It Matters </em>- Gin Blossoms <br>
    <em>When You Love a Woman</em> - Journey <br>
    <em>Fire on the Mountain </em>- The Neville Brothers <br>
    <em>Peaches</em> - The Presidents of the USA <br>
    <em>When You Wish Upon a Star </em>- Take 6 </font></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0"><strong>BEST ROCK BY A GROUP </strong></td>
    <td bgcolor="#C0C0C0"><strong>BEST POP ALBUM </strong></td>
  </tr>
  <tr>
    <td><font size="2"><em>Stupid Girl</em> - Garbage<br>
    <strong><em>So Much to Say</em> - Dave Matthews Band</strong> <br>
    <em>Wonderwall</em> - Oasis <br>
    <em>1979</em> - The Smashing Pumpkins <br>
    <em>Sixth Avenue Heartache</em> - The Wallflowers</font></td>
    <td><font size="2"><em>Secrets</em> - Toni Braxton <br>
    <em>New Beginning </em>- Tracy Chapman <br>
    <em>A Few Small Repairs</em> - Shawn Colvin <br>
    <strong><em>Falling Into You</em> - Celine Dion </strong><br>
    <em>Mercury Falling</em> - Sting </font></td>
  </tr>
</table>

<hr>

<p class="copy">No use of this page for authoring purposes is granted without my
permission via email and a link to your site. MTV is copyright Viacom. For Grammy information check out the
above link to their site. </p>
