
<h3>London, UK - May 28, 2002</h3>

<p>Jewel performed in the Royal Albert Hall.</p>

<strong>setlist</strong>
<pre>
Band Set 1
I Won't Walk Away
Standing Still
Do You Want To Play
Jesus Loves You, Hands
Till We Run Out Of Road
What's Simple Is True
This Way
You Were Meant For Me

Solo
Does Anyone Believe In Love Anymore
Violet Eyes
Little Sister
Rosy &amp; Mick
Break Me 

Band Set 2
Life Uncommon
Serve The Ego
Love Me Just Leave Me Alone
Everybody Needs Someone Sometime
New Wild West
Who Will Save Your Soul 

Encores
Foolish Games
This Little Bird (Lenedra)
The Other Woman 
</pre>

<ul class="thumbnails">
<li><a class="thumbnail" href="../../../images/pics/london2/1.jpg">Image 1</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/2.jpg">Image 2</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/3.jpg">Image 3</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/4.jpg">Image 4</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/5.jpg">Image 5</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/6.jpg">Image 6</a></li>
<li><a class="thumbnail" href="../../../images/pics/london2/7.jpg">Image 7</a></li>
</ul>
